## Data Cleaning

### FSQ POI

In [1]:
# Import modules
import pandas as pd

In [2]:
# Load dataset 
fsq_poi = pd.read_csv('fsq_poi.csv')
fsq_poi.head()

,distance,name,price,rating,geocodes.main.latitude,geocodes.main.longitude,geocodes.roof.latitude,geocodes.roof.longitude,req_cat
0,127,Lollipops Gelato,1.0,8.6,40.893585,-73.843692,40.893585,-73.843692,13065
1,797,Ripe Kitchen and Bar,2.0,8.4,40.898196,-73.838821,40.898196,-73.838821,13065
2,821,Ali's Roti Shop,1.0,8.1,40.893950,-73.856803,40.893950,-73.856803,13065
3,983,Jimbo's Hamburger Palace,1.0,8.0,40.891853,-73.858478,40.891853,-73.858478,13065
4,454,Cooler Runnings Jamaican Restaurant,2.0,6.4,40.898173,-73.850254,40.898173,-73.850254,13065

In [3]:
fsq_poi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7000 entries, 0 to 6999
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   distance                 7000 non-null   int64
 1   name                     7000 non-null   object
 2   price                    6255 non-null   float64
 3   rating                   4677 non-null   float64
 4   geocodes.main.latitude   7000 non-null   float64
 5   geocodes.main.longitude  7000 non-null   float64
 6   geocodes.roof.latitude   6419 non-null   float64
 7   geocodes.roof.longitude  6419 non-null   float64
 8   req_cat                  7000 non-null   int64
dtypes: float64(6), int64(2), object(1)
memory usage: 492.3+ KB

In [4]:
# Drop irrelevant or repetitive columns
fsq_poi.drop(columns=['geocodes.roof.latitude', 'geocodes.roof.longitude','geocodes.main.latitude','geocodes.main.longitude'], inplace=True)
fsq_poi.head()

   distance                                 name  price  rating  req_cat
0       127                     Lollipops Gelato    1.0     8.6    13065
1       797                 Ripe Kitchen and Bar    2.0     8.4    13065
2       821                      Ali's Roti Shop    1.0     8.1    13065
3       983             Jimbo's Hamburger Palace    1.0     8.0    13065
4       454  Cooler Runnings Jamaican Restaurant    2.0     6.4    13065

In [5]:
# removing brackets and quotations from neighbourhood info
fsq_poi['location.neighborhood'] = fsq_poi['location.neighborhood'].str.strip('[\'')
fsq_poi['location.neighborhood'] = fsq_poi['location.neighborhood'].str.strip(']\'')

KeyError: 'location.neighborhood'

In [ ]:
# Rename columns for better interpretability 
fsq_poi.columns = ['Distance (m)','Name','Price','Rating','Borough','Neighborhood','Zipcode','Latitude','Longitude','Category']
print(fsq_poi.shape)
fsq_poi.head()

(7001, 10)

,Distance (m),Name,Price,Rating,Borough,Neighborhood,Zipcode,Latitude,Longitude,Category
0,127.0,Lollipops Gelato,1.0,8.6,Bronx,Edenwald,10466.0,40.894705,-73.847201,restaurant
1,797.0,Ripe Kitchen and Bar,2.0,8.4,Mount Vernon,Wakefield,10550.0,40.894705,-73.847201,restaurant
2,821.0,Ali's Roti Shop,1.0,8.1,Bronx,Wakefield,10466.0,40.894705,-73.847201,restaurant
3,983.0,Jimbo's Hamburger Palace,1.0,8.0,Bronx,Williambridge,10466.0,40.894705,-73.847201,restaurant
4,454.0,Cooler Runnings Jamaican Restaurant,2.0,6.4,Bronx,Wakefield,10466.0,40.894705,-73.847201,restaurant

In [ ]:
# Check for unique values

def unique_values(df):
    columns = df.columns
    for col in columns:
        print('Column Name:', col)
        print('# of Unique Values:', (len(df[col].unique())))
        print('Unique Values:', df[col].unique())
        print('==============================================================')
    
unique_values(fsq_poi)

Column Name: Distance (m)
# of Unique Values: 1003
Unique Values: [ 127.  797.  821. ... 1001. 1033. 1230.]
==============================================================
Column Name: Name
# of Unique Values: 4535
Unique Values: ['Lollipops Gelato' 'Ripe Kitchen and Bar' "Ali's Roti Shop" ...
 'Wholesome Factory' 'Flavors Corner' 'Ooi Sushi and Bar']
==============================================================
Column Name: Price
# of Unique Values: 5
Unique Values: [ 1.  2. nan  3.  4.]
==============================================================
Column Name: Rating
# of Unique Values: 53
Unique Values: [8.6 8.4 8.1 8.  6.4 6.7 6.6 5.8 nan 5.7 7.9 7.6 7.3 6.8 6.3 5.9 6.1 8.3
 8.2 7.5 7.7 7.  7.2 6.9 6.  6.5 5.6 8.8 8.9 8.7 7.8 7.1 6.2 5.3 8.5 9.2
 9.  5.4 7.4 4.6 5.2 9.1 5.5 5.  4.7 9.3 9.4 9.5 9.6 4.8 5.1 4.9 4.5]
==============================================================
Column Name: Borough
# of Unique Values: 77
Unique Values: ['Bronx' 'Mount Vernon' 'New York' 'Pelham' 'Pelham Manor' 'Yonkers'
 'City Island' 'Long Island City' 'Queens' 'Parkchester' 'Riverdale'
 'Brooklyn' 'Sunset Park' 'Brighton Beach' 'Gowanus' 'Coney Island'
 'Bedford-Stuyvesant' 'Ozone Park' 'Woodhaven' 'Harlem' 'Roosevelt Island'
 'Astoria' 'Woodside' 'Flushing' 'Elmhurst' 'Jackson Heights'
 'Howard Beach' 'Corona' 'Forest Hills' 'Rego Park' 'Kew Gardens'
 'Richmond Hill' 'Jamaica' 'South Richmond Hill' 'Sunnyside'
 'East Elmhurst' 'Maspeth' 'Middle Village' 'Ridgewood' 'Glendale'
 'South Ozone Park' 'College Point' 'Whitestone' 'Bayside' 'Little Neck'
 'Great Neck' 'Douglaston' 'Floral Park' 'Glen Oaks' 'New Hyde Park'
 'Bellerose' 'Kew Gardens Hills' 'Fresh Meadows' 'Briarwood'
 'Oakland Gardens' 'Bayside Hills' 'Queens Village' 'Hollis'
 'Saint Albans' 'Springfield Gardens' 'Laurelton' 'Elmont'
 'Cambria Heights' 'Rosedale' 'Valley Stream' 'Far Rockaway'
 'Broad Channel' 'Breezy Point' 'Beechhurst' 'Arverne' 'Rockaway Park'
 'Rockaway Beach' 'Belle Harbor' 'Staten Island' nan 'Crown Heights'
 'Elizabeth']
==============================================================
Column Name: Neighborhood
# of Unique Values: 333
Unique Values: ['Edenwald' 'Wakefield' 'Williambridge' nan 'Williamsbridge' 'Coop City'
 'Baychester' 'Hillside' 'North Baychester' 'Parkside' 'Kingsbridge'
 'Fieldston' 'Marble Hill' 'Kings Bridge' 'Inwood' 'Kings Bridge Heights'
 'Lincoln' 'Woodlawn' 'Norwood' 'Belmont' 'Williams Bridge' 'Olinville'
 'Pelham Parkway' 'Allerton' 'Bronxdale' 'Van Nest' 'City Island'
 'Country Club' 'Bedford Park' 'Fordham' 'Morris Heights' 'Mount Eden'
 'University Heights' 'Mount Hope' 'Concourse' 'Highbridge' 'Fort George'
 'Bathgate' 'West Farms' 'Bronx Park South' 'Tremont' 'East Tremont'
 'Crotona Park East' 'Park Stratton' 'Melrose' '"St. Mary\'s Park Houses"'
 'John Adams Houses' 'Mott Haven' 'Plaza de Los Angeles' 'Longwood'
 'Port Morris' 'Mill Brook Houses' 'Patterson Houses' 'Plaza Borinquen'
 'East Morrisania' '"Hunt\'s Point"' 'Lewis S Davidson Senior Houses'
 'Morrisania' 'Soundview Bruckner' 'Soundview' 'Unionport' 'Clason Point'
 'Silver Beach' 'Beechhurst' 'Throgs Neck' 'Park of Edgewater'
 'Westchester' 'Schuylerville' 'Schuvilerville' 'Parkchester'
 'Morris Park' 'Fildston' 'Castle Hill' 'Castel Hill' 'Ollinville'
 'Claremont' 'Bayridge' 'Bensonhurst' 'New Utrecht' 'Bath Beach'
 'Sunset Park' 'South Brooklyn' 'Kensington' 'Greenpoint' 'Gravesend'
 'Brighton Beach' 'Manhattan Beach' 'Plum Beach' 'Sheepshead Bay'
 'Manhattan Terrace' 'Midwood' 'Flatbush' 'Beverly Square West'
 'Ditmas Park West' 'East Flatbush' 'Ditmas Park' 'Fiske Terrace'
 'Crown Heights' 'Bedford' 'Crown Heights South' 'Farragut' 'Rugby'
 'Windsor Teraace' 'Park Slope' 'Windsor Terrace' 'South Slope'
 'Prospect Park Sout' 'Adelphi' 'Prospect Heights' 'Brownsville'
 'Weeksville' 'South Side' 'North Williamsburg - North Side' 'Bushwick'
 'Bedford Stuyvesant' 'Brooklyn Heights' 'Boerum Hill' 'BoCoCa'
 'Cobble Hill' 'Carroll Gardens' 'Gowanus' 'Red Hook' 'Clinton Hill'
 'Downtown Brooklyn' 'Fort Greene' 'Down Town' 'East New York'
 'Cypres Hills' 'City Line' 'Broadway Junction' 'New Lots' 'Spring Creek'
 'Canarsie' 'Starrett City' 'Georgetown' 'Paedergat Basin' 'Flatlands'
 'Mill Island' 'Coney Island' 'Borough Park' 'Parkville' 'Fort Hamilton'
 'Dyker Heights' 'Gerritsen' 'Gerritsen Beach' 'Prospect'
 'Eastern Parkway' 'Stuyvesant Heights' 'Ocean Hill' 'Cypress Hill'
 'Mill Basin' 'Ocean Parkway' 'East Williamsburg' 'East Williasburg'
 'North Side' 'Chinatown' 'Hudson Heights' 'Uptown' 'Washington Heights'
 'Hamilton Grange' 'Hamilton Heights' 'Central Harlem' 'Harlem'
 'Manhattanville' 'Spanish Harlem' 'Carnegie Hill' 'Carnegie Hills'
 'Upper East Side' 'Lenox Hill' 'Roosevelt Island' 'Astoria South'
 'Upper West Side' 'Lincoln Square' '"Hell\'s Kitchen"' 'Clinton'
 'Garment District' 'Midtown' 'Chelsea' 'East Side' 'Flatiron' 'Gramercy'
 'Downtown' 'Alphabet City' 'Civic Center' 'City Hall Area'
 'Battery Park City' 'Manhattan Valley' 'Morningside Heights'
 'East Village' 'City Hall' 'Astoria' 'Woodside' 'Sunnyside'
 'Jackson Heights' 'Elmhurst' 'Old Howard Beach' 'Hamilton Beach' 'Corona'
 'LeFrak City' 'Forest Hills' 'Briarwood' 'Richmond Hill'
 'South Richmond Hill' 'Down Town Flushing' 'Queensboro Hills' 'Flushing'
 'Hunters Point' 'Long Island City' 'Dutch Kills' 'Blissville'
 'North Corona' 'East Elmhurst' 'Maspeth' 'Fresh Pond' 'Ridgewood'
 'Fresh Pond Junction' 'Glendale' 'Woodhaven' 'Brooklyn Manor' 'Lidenwood'
 'Rochdale' 'South Jamaica' 'College Point' 'Murray Hill' 'Whitestone'
 'Bayside' 'Auburndale' 'Little Neck' 'Bellaire' 'Glen Oaks' 'Bellerose'
 'New Gardens Hills' 'Kew Gardens Hills' 'Kew Gardens Hill'
 'Fresh Meadows' 'Hill Crest' 'Jamaica Hills' 'Jamaica' 'Cambria Heights'
 'Hollis' 'Holliswood' 'St. Albans' 'Locust Manor' 'Laurelton' 'Rosedale'
 'Brookville' 'Far Rockaway' 'Bayswater' 'Broad Channel' 'Breezy Point'
 'Rockaway Point' 'Astoria Heights' 'Bay Terrace' 'Fort Totten' 'Arverne'
 'Somerville' 'Arverne-Edgemere' 'Seaside' 'Holland' 'Hammels' 'Boardwalk'
 'Neponsit' 'Hillcrest' 'Terrace Heights' 'Queensboro Hill' 'Pomonok'
 'Rockaway Beach' 'South Corona' 'Flushing Meadows' 'Brighton Heights'
 'Ward Hill' 'Richmond' 'Howland Hook' 'St. George' 'New Brighton'
 'Stapleton' 'Rosebank' 'Shore Acres' 'Park Hill' 'West New Brighton'
 'Grymes Hill' 'Randall Manor' 'Midland Beach' 'Westerleigh'
 'Port Richmond' 'Castleton Corner' 'Mariners Harbor' 'Arlington'
 'Castleton Corners' 'Meiers Corners' 'New Springville' 'Willowbrook'
 'New Dorp' 'New Dorp Beach' 'Grant City' 'Great Kills' 'Annadale'
 'Harbor Terrace' 'Tottenville' 'Point Breeze' 'Port Johnson' 'Fox Hills'
 'Wingate' 'Concord' 'Graniteville' 'Fort Wadsworth' 'Arrochar'
 'Old Town Station' 'Grand City' 'Dongan Hills' 'Woodrow'
 'Pleasant Plains' 'Richmond Valley' 'Charleston' 'Chrome' 'Rossville'
 'Aspen Knolls' 'Greenridge' 'Bulls Head' 'Lighthouse Hill' 'Egbertville'
 'Port Ivory' 'Liberty Square' 'Utopia' 'Beekman' 'Dumbo' 'Fulton Ferry'
 'New York Navy Yard' 'Ord-Stuyvesant' 'Roxbury' '"Prince\'s Bay"'
 'Princes Bay' 'Malba']
==============================================================
Column Name: Zipcode
# of Unique Values: 198
Unique Values: [10466. 10550. 10470. 10475. 10469. 10803. 10463. 10471. 10034. 10704.
 10467. 10468. 10458. 10461. 10462. 10464. 11120. 10453. 10457. 10452.
 10033. 10460. 10472. 10451. 10456. 10455. 10459. 10454. 10474. 10473.
 10465. 10705. 11209. 10118. 11204. 11214. 11228. 11232. 11220. 11222.
 11223. 11235. 11229. 11230. 11210.    nan 11226. 11218. 11213. 11216.
 11225. 11203. 11215. 11238. 11212. 11211. 11249. 11221. 11237. 11206.
 11233. 11201. 10002. 11231. 11217. 11205. 10038. 11208. 11207. 11239.
 11236. 11234. 11224. 11219. 11421. 11416. 10013. 10012. 10040. 10032.
 10031. 10030. 10039. 10027. 10037. 10029. 10035. 10128. 10021. 10075.
 10028. 10065. 10044. 11106. 10024. 10025. 10023. 10019. 10036. 10018.
 10001. 10017. 10020. 10016. 10022. 10011. 10014. 10003. 10009. 10007.
 10026. 10010. 10281. 10006. 10282. 10005. 10271. 10004. 11103. 11102.
 11105. 11377. 11372. 11373. 11414. 11368. 11375. 11374. 11415. 11418.
 11419. 11354. 11355. 11101. 11104. 11369. 11371. 11378. 11379. 11385.
 11417. 11420. 11430. 11356. 11357. 11361. 11358. 11362. 11021. 11363.
 11004. 11040. 11426. 11005. 11001. 11367. 11366. 11365. 11432. 11435.
 11433. 11364. 11428. 11429. 11427. 11423. 11412. 11434. 11413. 11003.
 11411. 11422. 11581. 11691. 11096. 11693. 11697. 11360. 11692. 11694.
 10301. 10304. 10305. 10310. 10302. 10303. 10314. 10306. 10308. 10312.
 10309. 10307. 10311.  7206.  7202. 11370. 11109. 10041.]
==============================================================
Column Name: Latitude
# of Unique Values: 306
Unique Values: [40.89470518 40.87429419 40.88755568 40.89543743 40.89083449 40.88168737
 40.87655078 40.89827261 40.87722416 40.88103888 40.86685811 40.8574135
 40.8472467  40.87018516 40.85572708 40.84789793 40.8609968  40.84269616
 40.83947506 40.83662301 40.81975437 40.80623875 40.80166363 40.81509905
 40.80972988 40.82359199 40.8210122  40.80655112 40.81510926 40.84424594
 40.83793782 40.8406195  40.84360847 40.84754906 40.8572771  40.88139498
 40.90854283 40.85064141 40.82657952 40.82198612 40.81901438 40.87137078
 40.86296562 40.83428381 40.8297743  40.8845613  40.62580107 40.6110089
 40.64510295 40.73020098 40.59526001 40.57682507 40.58689013 40.61443251
 40.63632589 40.67082918 40.64171777 40.64238196 40.65694584 40.67682226
 40.66394994 40.70714439 40.69811611 40.68723161 40.69586372 40.68791972
 40.68054023 40.67625323 40.67393114 40.68852726 40.67232052 40.68239101
 40.6699257  40.64758905 40.63556433 40.63044604 40.60633642 40.5779135
 40.57429256 40.5995187  40.63313051 40.61921946 40.59084843 40.60974778
 40.69322942 40.57637538 40.69084402 40.68568291 40.65842002 40.67840255
 40.67856996 40.61514955 40.6255959  40.6470086  40.62384524 40.70849241
 40.71482291 40.71086147 40.61305977 40.61476813 40.71561842 40.85190253
 40.86768396 40.82360428 40.81693443 40.81597607 40.79224947 40.77563857
 40.77592985 40.76811266 40.76215961 40.787658   40.77352889 40.75910089
 40.7546911  40.74830308 40.74403471 40.72693289 40.72784678 40.71780675
 40.72152197 40.71932379 40.72218384 40.73443394 40.79730704 40.80799974
 40.73720983 40.71193198 40.70710711 40.76850859 40.74634909 40.75198138
 40.74404851 40.65422528 40.74238175 40.72526378 40.70517904 40.69794731
 40.7644542  40.75021735 40.74017628 40.76407324 40.72542737 40.70832316
 40.70276243 40.72897409 40.68988688 40.68070847 40.66854958 40.78490275
 40.78129077 40.76604063 40.76172955 40.77082619 40.7668461  40.7494408
 40.72857318 40.72257824 40.73439447 40.71093547 40.70465736 40.74561857
 40.71889309 40.71124344 40.69691125 40.69444539 40.6752114  40.66623049
 40.69277464 40.65981643 40.60313443 40.60302658 40.55740129 40.77592302
 40.7927814  40.78284281 40.59564181 40.58914394 40.5828017  40.57203673
 40.76412612 40.74137842 40.72095721 40.71680483 40.74457231 40.7238249
 40.76170453 40.66391842 40.6678839  40.73607457 40.57615557 40.58034296
 40.59771062 40.66000323 40.73301404 40.754071   40.71461108 40.64498157
 40.64061456 40.62692763 40.61530495 40.63187893 40.62418479 40.59706852
 40.58024741 40.63366931 40.63254639 40.63968298 40.61333594 40.59425238
 40.58631375 40.57257232 40.55846224 40.54948023 40.54223075 40.53811417
 40.54196762 40.50533376 40.63731607 40.61919311 40.61276016 40.64367518
 40.66094656 40.65557231 40.60919044 40.62109047 40.62017151 40.6353251
 40.59631257 40.59826836 40.59632891 40.58867295 40.57352691 40.57621559
 40.56425549 40.55398801 40.53191192 40.52469938 40.50608165 40.53053148
 40.54940401 40.54928582 40.55529524 40.58913895 40.59472603 40.60577868
 40.6095918  40.78268257 40.72325902 40.71522892 40.74850966 40.56960594
 40.60971934 40.61917845 40.60447319 40.60679439 40.63563001 40.63843284
 40.63014674 40.65211745 40.66274428 40.63131755 40.61597424 40.71145964
 40.73350025 40.73493618 40.77031739 40.83142834 40.82478049 40.84382618
 40.84884161 40.76028033 40.74341409 40.75204237 40.74691741 40.73099955
 40.73967305 40.74565181 40.73725072 40.70328109 40.7033215  40.67503987
 40.67786105 40.70317633 40.60180958 40.60370693 40.54113992 40.57911874
 40.56737589 40.5985251  40.71641451 40.52626407 40.57650629 40.51954146
 40.79060156 40.68199893 40.6093777  40.85272298 40.86578788 40.87039239
 40.64692607 40.75665808 40.58733774 40.61132169 40.7560913  40.61731079]
==============================================================
Column Name: Longitude
# of Unique Values: 306
Unique Values: [-73.84720052 -73.82993911 -73.82780645 -73.9056426  -73.91258546
 -73.90281799 -73.91065966 -73.86731497 -73.87939074 -73.85744643
 -73.8357976  -73.85475564 -73.78648845 -73.88551218 -73.91041596
 -73.91967159 -73.89642656 -73.88735618 -73.87774475 -73.92610209
 -73.90942161 -73.91609987 -73.91322139 -73.8957882  -73.88331506
 -73.90150649 -73.8657461  -73.85414416 -73.81635002 -73.82409927
 -73.85600311 -73.84219408 -73.86629918 -73.85040178 -73.88845196
 -73.91719048 -73.90453055 -73.83207378 -73.82620276 -73.81388514
 -73.8480273  -73.86332362 -73.84161195 -73.91558942 -73.85053524
 -73.84808272 -74.03062069 -73.99517998 -74.01031619 -73.95424093
 -73.97347088 -73.96509449 -73.9431864  -73.95743841 -73.95840107
 -73.94329119 -73.93610256 -73.98042111 -73.9800734  -73.96485924
 -73.91023536 -73.95811529 -73.92525797 -73.94178489 -73.99378225
 -73.99856139 -73.99465373 -74.01275897 -73.99444087 -73.97290574
 -73.9770503  -73.87661596 -73.88069864 -73.8793697  -73.9020927
 -73.92911303 -73.90818572 -73.94353723 -73.98868296 -73.99875221
 -73.99049823 -74.01931376 -73.93010171 -73.93134404 -73.96784306
 -74.00787311 -73.98346337 -73.98374824 -73.95489867 -73.91306832
 -73.86797598 -73.89855634 -73.95759523 -73.96261317 -73.91607484
 -73.93885815 -73.95880858 -73.95800095 -73.96836678 -74.03197915
 -73.99427936 -73.93690028 -73.92121042 -73.94968792 -73.95738539
 -73.94321113 -73.94418223 -73.96050763 -73.94711784 -73.95885969
 -73.94916769 -73.97705924 -73.98533777 -73.99611936 -73.98166883
 -73.97833208 -74.00311633 -73.99991403 -73.98222617 -73.98089032
 -74.01068329 -73.99730467 -74.00065667 -74.00617998 -73.96428618
 -73.96389628 -73.98137595 -74.01686931 -74.01066545 -73.91565374
 -73.90184167 -73.88282109 -73.88165622 -73.83813765 -73.85682497
 -73.84447501 -73.82981906 -73.83183321 -73.831773   -73.93920224
 -73.92691618 -73.86704148 -73.89621714 -73.90143518 -73.87074167
 -73.85782687 -73.85811047 -73.84320266 -73.80986479 -73.84304529
 -73.81420217 -73.77427363 -73.79176244 -73.73889776 -73.74249821
 -73.71548119 -73.72012815 -73.82087765 -73.78271337 -73.81174822
 -73.79690166 -73.75494976 -73.73871485 -73.75925009 -73.79042613
 -73.75867604 -73.77258788 -73.76042093 -73.73526874 -73.73526079
 -73.75497968 -73.82005489 -73.92551197 -73.9022896  -73.80436452
 -73.77680223 -73.77613282 -73.79199233 -73.82236121 -73.85754672
 -73.81276269 -73.70884706 -73.76714167 -73.78722697 -73.82580915
 -73.79760301 -73.93157506 -73.84963782 -73.74025608 -73.86252471
 -73.8540175  -73.8415337  -73.79664751 -73.75175311 -73.73889199
 -73.85751791 -73.84102211 -74.07935313 -74.08701651 -74.07790193
 -74.06980527 -74.10718178 -74.0872482  -74.11132882 -74.07955293
 -74.12943427 -74.15008537 -74.17464533 -74.11918059 -74.16496031
 -74.19073718 -74.11647944 -74.12156594 -74.14932381 -74.1643308
 -74.17854866 -74.20524582 -74.24656934 -74.08055352 -74.09629029
 -74.09712552 -73.96101312 -73.93718681 -73.92688213 -74.08015735
 -74.13304144 -74.15315246 -74.1651042  -74.06712363 -74.07667436
 -74.08751118 -74.09639905 -74.09348266 -74.10585599 -74.10432707
 -74.13916622 -74.19174106 -74.21983107 -74.2295035  -74.23215776
 -74.21572851 -74.18588675 -74.17079415 -74.15902208 -74.18956046
 -74.18725638 -74.15940949 -73.95325647 -73.98843368 -74.0054153
 -73.98871313 -74.1340573  -74.06667766 -74.07264245 -74.08402365
 -74.09776207 -74.09805062 -74.18622332 -74.14181679 -73.91665332
 -73.88511776 -73.90233474 -73.91515392 -73.79646462 -73.79671678
 -73.8048612  -73.89467996 -73.90119903 -73.91584653 -73.91655552
 -73.90829931 -73.96355614 -73.95386782 -73.96770825 -73.97121929
 -73.9740517  -73.99094711 -73.91819286 -73.93244235 -73.99550752
 -73.98111604 -73.93053109 -73.90331685 -73.98875281 -74.120594
 -74.13208447 -74.21776636 -74.12727241 -73.8921376  -73.95918459
 -73.88114319 -74.20152556 -74.13792664 -74.22957081 -73.82667757
 -73.89034571 -73.94841515 -73.86172578 -73.85931863 -73.90152265
 -73.9481771  -74.00011136 -73.80553003 -73.76596781 -73.9456307
 -74.08173992]
==============================================================
Column Name: Category
# of Unique Values: 1
Unique Values: ['restaurant']
==============================================================

In [ ]:
# Check for null values
fsq_poi.isnull().sum()

Distance (m)       2
Name               2
Price            732
Rating          2316
Borough            2
Neighborhood     780
Zipcode            5
Latitude           0
Longitude          0
Category           0
dtype: int64

There are null values in price and rating. However it has low impact, as it simply signifies that some restuarants have no price and rating information, which does not effect our objective.

Some neighbourhoods are empty, but we can cross-reference with our other data when we join our dataframes later.

In [ ]:
# Check for duplicate rows
fsq_poi[fsq_poi.duplicated()]

Empty DataFrame
Columns: [Distance (m), Name, Price, Rating, Borough, Neighborhood, Zipcode, Latitude, Longitude, Category]
Index: []

In [ ]:
# no duplicates found

Empty DataFrame
Columns: [Distance (m), Name, Price, Rating, Latitude, Longitude, Category]
Index: []

In [ ]:
# See variance in numeric feautures
fsq_poi.describe()

,Distance (m),Price,Rating,Zipcode,Latitude,Longitude
count,6999.000000,6269.000000,4685.000000,6996.000000,7001.000000,7001.000000
mean,578.058723,1.594353,7.803308,10793.412379,40.711170,-73.937763
std,258.267312,0.704104,1.004244,537.147679,0.094263,0.112911
min,3.000000,1.000000,4.500000,7202.000000,40.505334,-74.246569
25%,376.500000,1.000000,7.100000,10308.000000,40.632546,-73.994279
50%,585.000000,1.000000,8.000000,11004.000000,40.711243,-73.930102
75%,790.000000,2.000000,8.700000,11235.000000,40.773529,-73.857446
max,4095.000000,4.000000,9.600000,11697.000000,40.908543,-73.708847

In [ ]:
# Preview cleaned dataset
print(fsq_poi.shape)
fsq_poi.head()

(7001, 10)

,Distance (m),Name,Price,Rating,Borough,Neighborhood,Zipcode,Latitude,Longitude,Category
0,127.0,Lollipops Gelato,1.0,8.6,Bronx,Edenwald,10466.0,40.894705,-73.847201,restaurant
1,797.0,Ripe Kitchen and Bar,2.0,8.4,Mount Vernon,Wakefield,10550.0,40.894705,-73.847201,restaurant
2,821.0,Ali's Roti Shop,1.0,8.1,Bronx,Wakefield,10466.0,40.894705,-73.847201,restaurant
3,983.0,Jimbo's Hamburger Palace,1.0,8.0,Bronx,Williambridge,10466.0,40.894705,-73.847201,restaurant
4,454.0,Cooler Runnings Jamaican Restaurant,2.0,6.4,Bronx,Wakefield,10466.0,40.894705,-73.847201,restaurant

In [ ]:
# Export cleaned dataset to csv
fsq_poi.to_csv('fsq_poi_clean.csv')

### Yelp POI

In [ ]:
# Load dataset
yelp_poi = pd.read_csv('yelp_poi.csv')
yelp_poi.head()

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,transactions,...,coordinates.longitude,location.address1,location.address2,location.address3,location.city,location.zip_code,location.country,location.state,location.display_address,req_cat
0,fLJw_HGD01RTQ_WqlJf6Ew,ripe-kitchen-and-bar-mount-vernon,Ripe Kitchen & Bar,https://s3-media3.fl.yelpcdn.com/bphoto/NCpeGV...,False,https://www.yelp.com/biz/ripe-kitchen-and-bar-...,287,"[{'alias': 'caribbean', 'title': 'Caribbean'}]",4.0,['delivery'],...,-73.838821,151 W Sandford Blvd,NaN,NaN,Mount Vernon,10550,US,NY,"['151 W Sandford Blvd', 'Mount Vernon, NY 10550']",restaurants
1,iJci5KN7H39D3JXHiNBDKw,h-i-m-ital-health-food-market-bronx,H.I.M Ital Health Food Market,https://s3-media4.fl.yelpcdn.com/bphoto/Tze_Nm...,False,https://www.yelp.com/biz/h-i-m-ital-health-foo...,47,"[{'alias': 'healthmarkets', 'title': 'Health M...",4.5,['delivery'],...,-73.854665,4374B White Plains Rd,NaN,NaN,Bronx,10466,US,NY,"['4374B White Plains Rd', 'Bronx, NY 10466']",restaurants
2,IcEafi60F4pyEHaM4lR4Wg,alis-roti-shop-bronx,Ali's Roti Shop,https://s3-media2.fl.yelpcdn.com/bphoto/6SQMma...,False,https://www.yelp.com/biz/alis-roti-shop-bronx?...,104,"[{'alias': 'trinidadian', 'title': 'Trinidadia...",4.0,[],...,-73.856840,4220 White Plains Rd,NaN,NaN,Bronx,10466,US,NY,"['4220 White Plains Rd', 'Bronx, NY 10466']",restaurants
3,h5dm87qaqHeTBGcqTi9hWg,paulas-soul-cafe-bronx,Paula's Soul Cafe,https://s3-media4.fl.yelpcdn.com/bphoto/yfGmup...,False,https://www.yelp.com/biz/paulas-soul-cafe-bron...,202,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...",3.0,"['delivery', 'pickup']",...,-73.855680,746 E 233rd St,NaN,NaN,Bronx,10466,US,NY,"['746 E 233rd St', 'Bronx, NY 10466']",restaurants
4,_XMhEsFSFUQsuKae7zzFZg,jerk-house-bronx,Jerk House,https://s3-media4.fl.yelpcdn.com/bphoto/Jx4v64...,False,https://www.yelp.com/biz/jerk-house-bronx?adju...,62,"[{'alias': 'caribbean', 'title': 'Caribbean'}]",3.5,"['delivery', 'pickup']",...,-73.856480,4246 White Plains,NaN,NaN,Bronx,10466,US,NY,"['4246 White Plains', 'Bronx, NY 10466']",restaurants

In [ ]:
yelp_poi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7115 entries, 0 to 7114
Data columns (total 25 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        7115 non-null   object
 1   alias                     7115 non-null   object
 2   name                      7115 non-null   object
 3   image_url                 7058 non-null   object
 4   is_closed                 7115 non-null   bool
 5   url                       7115 non-null   object
 6   review_count              7115 non-null   int64
 7   categories                7115 non-null   object
 8   rating                    7115 non-null   float64
 9   transactions              7115 non-null   object
 10  price                     6116 non-null   object
 11  phone                     6924 non-null   float64
 12  display_phone             6924 non-null   object
 13  distance                  7115 non-null   float64
 14  coordinates.latitude      7115 non-null   float64
 15  coordinates.longitude     7115 non-null   float64
 16  location.address1         6949 non-null   object
 17  location.address2         205 non-null    object
 18  location.address3         53 non-null     object
 19  location.city             7115 non-null   object
 20  location.zip_code         7115 non-null   int64
 21  location.country          7115 non-null   object
 22  location.state            7115 non-null   object
 23  location.display_address  7115 non-null   object
 24  req_cat                   7115 non-null   object
dtypes: bool(1), float64(5), int64(2), object(17)
memory usage: 1.3+ MB

In [ ]:
# yelp_poi.iloc[:,10:]
yelp_poi.columns

Index(['id', 'alias', 'name', 'image_url', 'is_closed', 'url', 'review_count',
       'categories', 'rating', 'transactions', 'price', 'phone',
       'display_phone', 'distance', 'coordinates.latitude',
       'coordinates.longitude', 'location.address1', 'location.address2',
       'location.address3', 'location.city', 'location.zip_code',
       'location.country', 'location.state', 'location.display_address',
       'req_cat'],
      dtype='object')

In [ ]:
# Drop irrelevant or repetitive columns
yelp_poi.drop(columns=['id','alias','image_url','is_closed','url','categories','transactions','phone',
                        'display_phone','location.address2','location.address3',
                        'location.country','location.state','location.display_address'],
                         inplace=True)
yelp_poi.head()

,name,review_count,rating,price,distance,coordinates.latitude,coordinates.longitude,location.address1,location.city,location.zip_code,req_cat
0,Ripe Kitchen & Bar,287,4.0,$$,805.077589,40.898214,-73.838821,151 W Sandford Blvd,Mount Vernon,10550,restaurants
1,H.I.M Ital Health Food Market,47,4.5,$,715.467929,40.897633,-73.854665,4374B White Plains Rd,Bronx,10466,restaurants
2,Ali's Roti Shop,104,4.0,$,809.642747,40.894000,-73.856840,4220 White Plains Rd,Bronx,10466,restaurants
3,Paula's Soul Cafe,202,3.0,$$,746.891106,40.892690,-73.855680,746 E 233rd St,Bronx,10466,restaurants
4,Jerk House,62,3.5,$$,771.525854,40.894640,-73.856480,4246 White Plains,Bronx,10466,restaurants

In [ ]:
# Rename columns for better interpretability 
yelp_poi.columns = ['Name','Reviews','Rating','Price',
                    'Distance (m)','Latitude','Longitude','Address','Borough','Zipcode','Category']
yelp_poi['Category'] = 'restaurant'
                    
print(yelp_poi.shape)
yelp_poi.head()

(7115, 11)

,Name,Reviews,Rating,Price,Distance (m),Latitude,Longitude,Address,Borough,Zipcode,Category
0,Ripe Kitchen & Bar,287,4.0,$$,805.077589,40.898214,-73.838821,151 W Sandford Blvd,Mount Vernon,10550,restaurant
1,H.I.M Ital Health Food Market,47,4.5,$,715.467929,40.897633,-73.854665,4374B White Plains Rd,Bronx,10466,restaurant
2,Ali's Roti Shop,104,4.0,$,809.642747,40.894000,-73.856840,4220 White Plains Rd,Bronx,10466,restaurant
3,Paula's Soul Cafe,202,3.0,$$,746.891106,40.892690,-73.855680,746 E 233rd St,Bronx,10466,restaurant
4,Jerk House,62,3.5,$$,771.525854,40.894640,-73.856480,4246 White Plains,Bronx,10466,restaurant

In [ ]:
# Check for unique values
unique_values(yelp_poi)

Column Name: Name
# of Unique Values: 4163
Unique Values: ['Ripe Kitchen & Bar' 'H.I.M Ital Health Food Market' "Ali's Roti Shop"
 ... 'The Local Bar and Cafe' 'Kum Fung Chinese Restaurant' 'Amendment 18']
==============================================================
Column Name: Reviews
# of Unique Values: 1072
Unique Values: [ 287   47  104 ...  784  397 1028]
==============================================================
Column Name: Rating
# of Unique Values: 9
Unique Values: [4.  4.5 3.  3.5 5.  2.5 2.  1.5 1. ]
==============================================================
Column Name: Price
# of Unique Values: 5
Unique Values: ['$$' '$' '$$$' nan '$$$$']
==============================================================
Column Name: Distance (m)
# of Unique Values: 7048
Unique Values: [ 805.0775886   715.46792863  809.64274698 ...  825.92920937 1049.84712452
 1076.21508396]
==============================================================
Column Name: Latitude
# of Unique Values: 4402
Unique Values: [40.898214   40.897633   40.894      ... 40.7495622  40.621825
 40.62530162]
==============================================================
Column Name: Longitude
# of Unique Values: 4400
Unique Values: [-73.838821   -73.854665   -73.85684    ... -73.9477008  -74.07234
 -74.07454516]
==============================================================
Column Name: Address
# of Unique Values: 4266
Unique Values: ['151 W Sandford Blvd' '4374B White Plains Rd' '4220 White Plains Rd' ...
 '13-02 44th Ave' '838 Bay St' '691 Bay St']
==============================================================
Column Name: Borough
# of Unique Values: 143
Unique Values: ['Mount Vernon' 'Bronx' 'East Bronx' 'The Bronx' 'New York' 'Pelham'
 'Pelham Manor' 'Yonkers' 'Manhattan' 'Riverdale' 'Norwood' 'City Island'
 'Astoria' 'Bayside' 'West Bronx' 'Morris Heights' 'Mount Eden'
 'South Bronx' 'Woodstock' 'Middletown - Pelham Bay' 'Brooklyn'
 'Sunset Park' 'Sheepshead Bay' 'Midwood' 'East Flatbush' 'Crown Heights'
 'North Bergen' 'Kensington' 'Borough Park' 'Woodhaven' 'East New York'
 'BROOKLYN' 'Canarsie' 'Flatlands' 'Bedford-Stuyvesant' 'Howard Beach'
 'Ozone Park' 'New York City' 'Inwood' 'Long Island City' 'Harlem'
 'Woodside' 'Jackson Heights' 'Jackson Heights ' 'Elmhurst' 'Corona'
 'Rego Park' 'Queens' 'Forest Hills' 'Kew Gardens' 'Richmond Hill'
 'Kew garden' 'Jamaica' 'Flushing' 'Long island City' 'Sunnyside'
 'East Elmhurst' 'New york' 'Maspeth' 'Ridgewood' 'Glendale'
 'Middle Village' 'Ozone park' 'South Richmond Hill' 'Park'
 'South Ozone Park' 'College Point' 'Point' 'Whitestone' 'Beechurst'
 'FLUSHING' 'Great Neck' 'Little Neck' 'Douglaston' 'New Hyde Park'
 'Floral Park' 'Bellerose' 'Glen Oaks' 'Bellrose' 'Bay Shore'
 'Fresh Meadows' 'Fresh Meadow' 'Briarwood' 'Oakland Gardens'
 'Queens Village' 'Village' 'St Albans' 'Hollis' 'Saint Albans'
 'St. Albans' 'Saint Alban' 'Long Beach' 'Springfield Gardens'
 'Cambria Heights' 'Elmont' 'Cambria height' 'Valley Stream' 'Rosedale'
 'Valley stream' 'Far Rockaway' 'Rockaway' 'Broad Channel' 'Breezy Point'
 'Woodland Park' 'Millstone' 'Centereach' 'Arverne' 'Averne'
 'Rockaway Beach' 'Rockaway Park' 'Seaside' 'Laurelton' 'Port Washington'
 'Long Island' 'Westbury' 'Staten Island' 'Tompkinsville' 'Stapleton'
 'Clifton' 'Shore Acres' 'Rosebank' 'West Brighton' 'Todt Hill'
 'Mariners Harbor' 'Castleton Corners' 'Staten Island NY' 'Bulls Head'
 'Bay Terrace' 'Eltingville' 'Annadale' 'New Dorp Beach' 'Midland Beach'
 'STATEN ISLAND' 'Woodrow' 'Tottenville' 'Bloomfield' 'Lighthouse Hill'
 'Elizabeth' 'New York,' 'City' 'Dumbo' 'Freehold' 'College point']
==============================================================
Column Name: Zipcode
# of Unique Values: 211
Unique Values: [10550 10466 10470 10475 10469 10803 10474 10704 10001 10471 10463 10019
 10034 10467 10452 10468 10458 10461 10462 10464 11106 11105 11361 10453
 10040 10033 10473 10460 10457 10472 10032 10456 10451 10455 10454 10459
 10009 10465 10018 10022 10003 10172 10705 11209 11214 11228 11204 11220
 11232 11217 11222 11223 11235 11229 11230 11226 11218 11210 11216 11213
 11225 11203 11121 11249 10128  7047 11234 11101 11215 11238 11212 11211
 11206 11237 11221 11233 11201 11231 11205 11207 11208 11421 11239 11236
 11224 11219 11414 11416 12234 10013 10002 10012 10031 10027 10030 10039
 10029 10035 10026 10021 10075 10028 10065 10044 10024 10023 10036 10020
 10017 10016 10011 10014 10025 10010 10038 10281 10282 10004 10007 10005
 10006 10271 11103 11102 11377 11372 11373 11368 11374 11375 11415 11418
 11419 11354 11355 11104 11369 11371 11378 11385 11379 11417 11420 11436
 11430 11356 11357 11358 11362 11021 11363 11040 11004 11426 11370 11706
 10037 11005 11001 11367 11366 11365 11432 11435 11434 11364 11413 11428
 11427 11429 11412 11423 11433 11561 11411 11003 11422 11581 11582 11851
 11691 11693 11697 11756  7424  8535 11720 11360 11692 11694 11050 11746
 11753 10301 10304 10305 10310 10314 10306 10302 10303 10309 10312 10308
 10307  7104 10311  7206 11109  7728 10286]
==============================================================
Column Name: Category
# of Unique Values: 1
Unique Values: ['restaurant']
==============================================================

In [ ]:
# Check for nulls
yelp_poi.isnull().sum()

Name              0
Reviews           0
Rating            0
Price           999
Distance (m)      0
Latitude          0
Longitude         0
Address         166
Borough           0
Zipcode           0
Category          0
dtype: int64

There are null values in price and address. However it has low impact, as it simply signifies that some restuarants have no price and address information, which does not effect our objective.

Additionally, we have the coordinates which will be the main features used for city mapping.

In [ ]:
# Check for duplicates
yelp_poi[yelp_poi.duplicated()]

# No duplicates

Empty DataFrame
Columns: [Name, Reviews, Rating, Price, Distance (m), Latitude, Longitude, Address, Borough, Zipcode, Category]
Index: []

In [ ]:
# See variance in numeric feautures
yelp_poi.describe()

,Reviews,Rating,Distance (m),Latitude,Longitude,Zipcode
count,7115.000000,7115.000000,7115.000000,7115.000000,7115.000000,7115.000000
mean,396.188897,3.916936,1571.646996,40.713105,-73.942424,10754.917639
std,863.333845,0.630598,4323.548896,0.093239,0.113619,558.516439
min,1.000000,1.000000,16.138170,40.205016,-74.448224,7047.000000
25%,39.000000,3.500000,420.978899,40.634212,-73.994440,10305.000000
50%,127.000000,4.000000,681.842680,40.716641,-73.939610,10473.000000
75%,368.000000,4.500000,936.679688,40.771113,-73.865726,11231.000000
max,14361.000000,5.000000,77147.675762,40.915940,-73.100648,12234.000000

In [ ]:
# Preview cleaned dataset
print(yelp_poi.shape)
yelp_poi.head()

(7115, 11)

,Name,Reviews,Rating,Price,Distance (m),Latitude,Longitude,Address,Borough,Zipcode,Category
0,Ripe Kitchen & Bar,287,4.0,$$,805.077589,40.898214,-73.838821,151 W Sandford Blvd,Mount Vernon,10550,restaurant
1,H.I.M Ital Health Food Market,47,4.5,$,715.467929,40.897633,-73.854665,4374B White Plains Rd,Bronx,10466,restaurant
2,Ali's Roti Shop,104,4.0,$,809.642747,40.894000,-73.856840,4220 White Plains Rd,Bronx,10466,restaurant
3,Paula's Soul Cafe,202,3.0,$$,746.891106,40.892690,-73.855680,746 E 233rd St,Bronx,10466,restaurant
4,Jerk House,62,3.5,$$,771.525854,40.894640,-73.856480,4246 White Plains,Bronx,10466,restaurant

In [ ]:
# Export cleaned dataset to csv
yelp_poi.to_csv('yelp_poi_cleaned.csv')

### Google Places - Restaurants

In [ ]:
gp_food = pd.read_csv('google_places_poi.csv')
gp_food.head()

,business_status,icon,icon_background_color,icon_mask_base_uri,name,photos,place_id,price_level,rating,reference,...,geometry.location.lng,geometry.viewport.northeast.lat,geometry.viewport.northeast.lng,geometry.viewport.southwest.lat,geometry.viewport.southwest.lng,opening_hours.open_now,plus_code.compound_code,plus_code.global_code,permanently_closed,req_cat
0,OPERATIONAL,https://maps.gstatic.com/mapfiles/place_api/ic...,#FF9E67,https://maps.gstatic.com/mapfiles/place_api/ic...,Ripe Kitchen & Bar,"[{'height': 2471, 'html_attributions': ['<a hr...",ChIJ9aOdYiyNwokRS49czrNTQo4,2.0,4.3,ChIJ9aOdYiyNwokRS49czrNTQo4,...,-73.838855,40.899498,-73.837452,40.896800,-73.840150,True,"V5X6+7F Mount Vernon, NY, USA",87G8V5X6+7F,NaN,restaurant
1,OPERATIONAL,https://maps.gstatic.com/mapfiles/place_api/ic...,#FF9E67,https://maps.gstatic.com/mapfiles/place_api/ic...,New China Garden,"[{'height': 4032, 'html_attributions': ['<a hr...",ChIJcVDAYNfywokRPUaKrm0UBpg,1.0,3.9,ChIJcVDAYNfywokRPUaKrm0UBpg,...,-73.853364,40.899306,-73.852100,40.896608,-73.854798,True,"V4XW+5M The Bronx, NY, USA",87G8V4XW+5M,NaN,restaurant
2,OPERATIONAL,https://maps.gstatic.com/mapfiles/place_api/ic...,#FF9E67,https://maps.gstatic.com/mapfiles/place_api/ic...,Dunkin',"[{'height': 3000, 'html_attributions': ['<a hr...",ChIJ--58aynzwokRqSvaRDKwX1M,1.0,3.8,ChIJ--58aynzwokRqSvaRDKwX1M,...,-73.849089,40.891936,-73.847664,40.889239,-73.850362,True,"V5R2+59 New York, NY, USA",87G8V5R2+59,NaN,restaurant
3,OPERATIONAL,https://maps.gstatic.com/mapfiles/place_api/ic...,#FF9E67,https://maps.gstatic.com/mapfiles/place_api/ic...,Subway,"[{'height': 766, 'html_attributions': ['<a hre...",ChIJAy-ibCnzwokRdmkKGd1Yzhw,1.0,3.6,ChIJAy-ibCnzwokRdmkKGd1Yzhw,...,-73.849152,40.891828,-73.847659,40.889130,-73.850357,True,"V5R2+58 New York, NY, USA",87G8V5R2+58,NaN,restaurant
4,OPERATIONAL,https://maps.gstatic.com/mapfiles/place_api/ic...,#FF9E67,https://maps.gstatic.com/mapfiles/place_api/ic...,Popeyes Louisiana Kitchen,"[{'height': 1192, 'html_attributions': ['<a hr...",ChIJXVacFSvzwokRa3VpQDuwRDE,1.0,3.8,ChIJXVacFSvzwokRa3VpQDuwRDE,...,-73.843383,40.890762,-73.842012,40.888064,-73.844710,True,"V5Q4+QJ New York, NY, USA",87G8V5Q4+QJ,NaN,restaurant

In [ ]:
gp_food.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5619 entries, 0 to 5618
Data columns (total 25 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   business_status                  5619 non-null   object
 1   icon                             5619 non-null   object
 2   icon_background_color            5619 non-null   object
 3   icon_mask_base_uri               5619 non-null   object
 4   name                             5619 non-null   object
 5   photos                           5442 non-null   object
 6   place_id                         5619 non-null   object
 7   price_level                      4786 non-null   float64
 8   rating                           5522 non-null   float64
 9   reference                        5619 non-null   object
 10  scope                            5619 non-null   object
 11  types                            5619 non-null   object
 12  user_ratings_total               5522 non-null   float64
 13  vicinity                         5619 non-null   object
 14  geometry.location.lat            5619 non-null   float64
 15  geometry.location.lng            5619 non-null   float64
 16  geometry.viewport.northeast.lat  5619 non-null   float64
 17  geometry.viewport.northeast.lng  5619 non-null   float64
 18  geometry.viewport.southwest.lat  5619 non-null   float64
 19  geometry.viewport.southwest.lng  5619 non-null   float64
 20  opening_hours.open_now           5368 non-null   object
 21  plus_code.compound_code          5617 non-null   object
 22  plus_code.global_code            5617 non-null   object
 23  permanently_closed               157 non-null    object
 24  req_cat                          5619 non-null   object
dtypes: float64(9), object(16)
memory usage: 1.1+ MB

In [ ]:
# gp_food.iloc[0:5,10:]
gp_food.columns

Index(['business_status', 'icon', 'icon_background_color',
       'icon_mask_base_uri', 'name', 'photos', 'place_id', 'price_level',
       'rating', 'reference', 'scope', 'types', 'user_ratings_total',
       'vicinity', 'geometry.location.lat', 'geometry.location.lng',
       'geometry.viewport.northeast.lat', 'geometry.viewport.northeast.lng',
       'geometry.viewport.southwest.lat', 'geometry.viewport.southwest.lng',
       'opening_hours.open_now', 'plus_code.compound_code',
       'plus_code.global_code', 'permanently_closed', 'req_cat'],
      dtype='object')

In [ ]:
# Drop irrelevant or repetitive columns
gp_food.drop(columns=['business_status','icon','icon_background_color','icon_mask_base_uri',
                    'photos','place_id','reference','scope','types','geometry.viewport.northeast.lat',
                    'geometry.viewport.northeast.lng','geometry.viewport.southwest.lat',
                    'geometry.viewport.southwest.lng','opening_hours.open_now',
                    'plus_code.compound_code','plus_code.global_code','permanently_closed'], 
                    inplace=True)

gp_food.head()

,name,price_level,rating,user_ratings_total,vicinity,geometry.location.lat,geometry.location.lng,req_cat
0,Ripe Kitchen & Bar,2.0,4.3,714.0,"151 West Sandford Boulevard, Mount Vernon",40.898209,-73.838855,restaurant
1,New China Garden,1.0,3.9,85.0,"724 Nereid Avenue, The Bronx",40.897919,-73.853364,restaurant
2,Dunkin',1.0,3.8,280.0,"980 East 233rd Street, The Bronx",40.890459,-73.849089,restaurant
3,Subway,1.0,3.6,121.0,"980 East 233rd Street, The Bronx",40.890468,-73.849152,restaurant
4,Popeyes Louisiana Kitchen,1.0,3.8,467.0,"1201 East 233rd Street, The Bronx",40.889492,-73.843383,restaurant

In [ ]:
# Rename columns for better interpretability
gp_food.columns = ['Name','Price','Rating','Reviews','Address','Latitude','Longitude','Category']
print(gp_food.shape)
gp_food.head()

(5619, 8)

,Name,Price,Rating,Reviews,Address,Latitude,Longitude,Category
0,Ripe Kitchen & Bar,2.0,4.3,714.0,"151 West Sandford Boulevard, Mount Vernon",40.898209,-73.838855,restaurant
1,New China Garden,1.0,3.9,85.0,"724 Nereid Avenue, The Bronx",40.897919,-73.853364,restaurant
2,Dunkin',1.0,3.8,280.0,"980 East 233rd Street, The Bronx",40.890459,-73.849089,restaurant
3,Subway,1.0,3.6,121.0,"980 East 233rd Street, The Bronx",40.890468,-73.849152,restaurant
4,Popeyes Louisiana Kitchen,1.0,3.8,467.0,"1201 East 233rd Street, The Bronx",40.889492,-73.843383,restaurant

In [ ]:
# splitting Address into Address & Borough columns
gp_food[['Address','Borough']] = gp_food['Address'].str.split(',',1,expand=True)
gp_food = gp_food[['Name','Price','Rating','Reviews','Address','Borough','Latitude','Longitude','Category']]

In [ ]:
gp_food

,Name,Price,Rating,Reviews,Address,Borough,Latitude,Longitude,Category
0,Ripe Kitchen & Bar,2.0,4.3,714.0,151 West Sandford Boulevard,Mount Vernon,40.898209,-73.838855,restaurant
1,New China Garden,1.0,3.9,85.0,724 Nereid Avenue,The Bronx,40.897919,-73.853364,restaurant
2,Dunkin',1.0,3.8,280.0,980 East 233rd Street,The Bronx,40.890459,-73.849089,restaurant
3,Subway,1.0,3.6,121.0,980 East 233rd Street,The Bronx,40.890468,-73.849152,restaurant
4,Popeyes Louisiana Kitchen,1.0,3.8,467.0,1201 East 233rd Street,The Bronx,40.889492,-73.843383,restaurant
...,...,...,...,...,...,...,...,...,...
5614,Romeo's Pizza,1.0,4.3,91.0,117 Broad Street,Staten Island,40.624812,-74.079342,restaurant
5615,Amins fried chiken,NaN,4.8,21.0,610 Richmond Road,Staten Island,40.611662,-74.088093,restaurant
5616,Taco Bell,1.0,3.9,21.0,429 Tompkins Avenue,Staten Island,40.615877,-74.072007,restaurant
5617,Palm Grill,NaN,3.5,2.0,160 Saint Marys Avenue #1/2,Staten Island,40.613963,-74.072582,restaurant
5618,Kum Fung,1.0,3.8,152.0,838 Bay Street,Staten Island,40.621880,-74.072263,restaurant

In [ ]:
# Check for unique values
unique_values(gp_food)

Column Name: Name
# of Unique Values: 3078
Unique Values: ['Ripe Kitchen & Bar' 'New China Garden' "Dunkin'" ... 'Exquisito'
 'Greek Panorama' 'Kum Fung']
==============================================================
Column Name: Price
# of Unique Values: 5
Unique Values: [ 2.  1. nan  3.  4.]
==============================================================
Column Name: Rating
# of Unique Values: 35
Unique Values: [4.3 3.9 3.8 3.6 3.3 4.2 3.7 4.1 2.2 1.  4.  4.5 5.  4.6 2.9 4.4 4.7 3.
 3.4 2.4 3.2 2.5 3.5 2.7 3.1 2.8 4.9 nan 2.  2.6 2.1 4.8 2.3 1.9 1.8]
==============================================================
Column Name: Reviews
# of Unique Values: 1434
Unique Values: [ 714.   85.  280. ... 1007. 1291. 1732.]
==============================================================
Column Name: Address
# of Unique Values: 3858
Unique Values: ['151 West Sandford Boulevard' '724 Nereid Avenue' '980 East 233rd Street'
 ... '24 -11 41st Avenue' '455 Main Street' '838 Bay Street']
==============================================================
Column Name: Borough
# of Unique Values: 161
Unique Values: [' Mount Vernon' ' The Bronx' ' 2090 Bartow Avenue, The Bronx'
 ' 1930 Bartow Avenue, The Bronx' None ' Pelham Manor' ' Pelham'
 ' New York' ' Yonkers' ' 4201 Webster Avenue, The Bronx'
 ' 3059 Webster Avenue, The Bronx'
 ' 200 Baychester Avenue FF3, 200 Baychester Avenue, The Bronx'
 ' 1780 East Gun Hill Road, The Bronx'
 ' 1730 Cross Bronx Expressway, The Bronx'
 ' 527 East 137th Street, The Bronx' ' 281 Bruckner Boulevard, The Bronx'
 ' 762 Southern Boulevard, The Bronx' ' 880 Garrison Avenue, The Bronx'
 ' 1929 Bruckner Boulevard, The Bronx'
 ' 1650 Bruckner Boulevard, The Bronx'
 ' 4147 Throgs Neck Expressway, The Bronx'
 ' 3683 Bruckner Boulevard, The Bronx'
 ' 1320 Hutchinson River Parkway, The Bronx'
 ' 6301 Riverdale Avenue, The Bronx' ' 5646 Riverdale Avenue, The Bronx'
 ' Brooklyn' ' 222A Prospect Park West' ' 1 Rockaway Parkway, Brooklyn'
 ' 221 Knickerbocker Avenue, Brooklyn'
 ' 330 Halsey Street #2412, Brooklyn' ' 339 Gateway Drive, Brooklyn'
 ' Unit 12, Brooklyn' ' 5100 Kings Plaza, Brooklyn'
 ' 8775 Bay Parkway, Brooklyn'
 ' On Corner of 86th St. and 5th Avenue in front of, Brooklyn' ' Queens'
 ' Manhattan' ' 600 West 139th Street, New York'
 ' East 72nd Street, New York' ' Lincoln Center Plaza, New York'
 ' West 42nd Street, New York'
 ' High Line, 848 Washington Street, New York'
 ' 401 Bleecker Street, New York' ' West 100th Street, New York'
 ' 23rd Street and Madison Ave Madison, New York' ' Esplanade, New York'
 ' 95 Pearl Street, New York' ' Astoria' ' Woodside' ' Jackson Heights'
 ' Howard Beach' ' 156-71 Cross Bay Boulevard, Queens'
 ' 50 b Cross Bay Boulevard' ' Corona' ' Flushing' ' Elmhurst'
 ' Forest Hills' ' Kew Gardens' ' Richmond Hill'
 ' 8712 Lefferts Boulevard, Jamaica' ' Jamaica' ' Long Island City'
 ' Sunnyside' ' East Elmhurst' ' 10702 Grand Central Parkway, Queens'
 ' Maspeth' ' 5951 Queens Midtown Expressway, Queens' ' Ridgewood'
 ' 203 Cooper Avenue Suite 3' ' 7103 80th Street, Queens' ' Glendale'
 ' NY 11374' ' Rego Park' ' Woodhaven' ' Ozone Park'
 ' 95-20 101st Avenue, 95th Street, Ozone Park'
 ' 13415 Cross Bay Boulevard, Queens' ' South Ozone Park'
 ' 12903 North Conduit Avenue, Queens' ' College Point'
 ' 137-05 20th Avenue, Queens' ' Whitestone'
 ' 1755 Francis Lewis Boulevard, Queens' ' Bayside'
 ' 3504 Bell Boulevard, Queens' ' Little Neck' ' Great Neck' ' Douglaston'
 ' New Hyde Park' ' Glen Oaks' ' Bellerose' ' Floral Park'
 ' Fresh Meadows' ' Briarwood' ' 160-02 Hillside Avenue, Jamaica'
 ' Oakland Gardens' ' B Horace Harding Expressway #221-04, Flushing'
 ' Bell Boulevard, Oakland Gardens' ' Queens Village'
 ' Jamaica Avenue, Queens' ' 10661 160th Street, Jamaica' ' St. Albans'
 ' 117-8 Farmers Boulevard' ' 41 Rockaway Boulevard #153, Jamaica'
 ' 22401 North Conduit Avenue, Queens' ' Springfield Gardens' ' Elmont'
 ' Cambria Heights' ' Valley Stream' ' Rosedale'
 ' Rosedale, Rosedale, NY, 11422+2328, 144-6 243rd Street, Rosedale'
 ' Far Rockaway' ' Breezy Point' ' 153-01 10th Avenue, Whitestone'
 ' Arverne' ' Rockaway Park' ' Hollis'
 ' 19605 Grand Central Parkway, Queens' ' Main Street, Queens'
 ' 90-15 Queens Boulevard, Mall, Elmhurst'
 ' South Conduit Avenue, Rosedale' ' Staten Island'
 ' St. George Terminal, Space 107A, Staten Island'
 ' 995 Manor Road, Staten Island' ' 1351 Forest Avenue, Staten Island'
 ' 77 A Richmond Hill Road, Staten Island'
 ' 2275-2375 Richmond Avenue, Staten Island'
 ' 1949 Richmond Avenue, Staten Island'
 ' 4168 Victory Boulevard, Staten Island'
 ' 2602 Hylan Boulevard, Staten Island'
 ' 20 Jefferson Boulevard STE 1, Staten Island'
 ' 108 Rossville Avenue, Staten Island'
 ' 655 Rossville Avenue, Staten Island' ' 1938 Clove Road, Staten Island'
 ' 130, Staten Island' ' 3291 Amboy Road, Staten Island'
 ' 150-B Greaves Lane, Staten Island' ' 6390 Amboy Road, Staten Island'
 ' 6410 Amboy Road Staten' ' 2449 Veterans Road West, Staten Island'
 ' Arden Avenue, Staten Island' ' 1650 Richmond Avenue, Staten Island'
 ' 2 Pennsylvania Plaza, New York' ' 12th floor, NY Lane' ' Elizabeth'
 ' 1939 Linden Boulevard, Brooklyn' ' Horace Harding Expressway, Flushing'
 ' Ditmars Boulevard, Queens' ' 1805 Webster Avenue, The Bronx'
 ' 200 East 54th Street, New York' ' 3100 47th Avenue, Long Island City'
 ' 4925 Van Dam Street, Queens' ' 31-05 Queens Boulevard, Queens'
 ' 119 Peck Slip, New York' ' 117 Front Street, Brooklyn'
 ' Middle Village' ' Richmond Valley Road, Staten Island'
 ' 138-11 20th Avenue, Flushing' ' Atlantic Avenue, Brooklyn'
 ' Rockaway Beach' ' Roosevelt Island']
==============================================================
Column Name: Latitude
# of Unique Values: 4000
Unique Values: [40.8982087 40.897919  40.8904588 ... 40.7535229 40.759305  40.6218795]
==============================================================
Column Name: Longitude
# of Unique Values: 3996
Unique Values: [-73.8388554 -73.8533641 -73.8490889 ... -73.9388994 -73.952917
 -74.0722633]
==============================================================
Column Name: Category
# of Unique Values: 1
Unique Values: ['restaurant']
==============================================================

In [ ]:
# Check for nulls
gp_food.isnull().sum()

Name           0
Price        833
Rating        97
Reviews       97
Address        0
Borough       39
Latitude       0
Longitude      0
Category       0
dtype: int64

There are null values in price, rating, and reviews. However it has low impact, as it simply signifies that some restuarants have no price, rating, or review information, which does not effect our objective.

Some boroughs have null values, but we can assign that information when we join with our other data .

In [ ]:
# Check for duplicates
gp_food = gp_food[gp_food.duplicated()]
len(gp_food)

1578

In [ ]:
# Duplicate rows found, remove from DataFrame
gp_food = gp_food.drop_duplicates()

# Confirm removal
gp_food[gp_food.duplicated()]

Empty DataFrame
Columns: [Name, Price, Rating, Reviews, Address, Borough, Latitude, Longitude, Category]
Index: []

In [ ]:
# See variance in numeric features
gp_food.describe()

             Price       Rating       Reviews     Latitude    Longitude
count  1116.000000  1246.000000   1246.000000  1260.000000  1260.000000
mean      1.660394     4.083226    740.940610    40.713778   -73.951417
std       0.671181     0.439148   1260.821341     0.094919     0.111364
min       1.000000     1.000000      1.000000    40.522106   -74.238666
25%       1.000000     3.900000    148.000000    40.626667   -74.000674
50%       2.000000     4.200000    360.500000    40.713171   -73.944073
75%       2.000000     4.400000    847.000000    40.786754   -73.869725
max       4.000000     5.000000  19357.000000    40.894788   -73.707534

In [ ]:
# Preview cleaned dataset
print(gp_food.shape)
gp_food.head()

(1260, 9)

,Name,Price,Rating,Reviews,Address,Borough,Latitude,Longitude,Category
54,Prime 33 Banquet hall #1,2.0,4.3,150.0,3323 Merritt Avenue,The Bronx,40.881788,-73.826755,restaurant
80,An Beal Bocht Cafe,2.0,4.6,534.0,445 West 238th Street,The Bronx,40.887375,-73.904953,restaurant
82,Goodfellas Riverdale 🍕,2.0,3.8,171.0,3661 Waldo Avenue,The Bronx,40.887026,-73.904387,restaurant
84,Corner Cafe & Bakery,1.0,4.4,164.0,3718 Riverdale Avenue,The Bronx,40.887266,-73.906920,restaurant
85,Salvatore's,2.0,4.4,656.0,3738 Riverdale Avenue,The Bronx,40.887631,-73.906955,restaurant

A pizza slice!

The names can be kept as is, even with an emoji as it will not affect our modelling. This is because the name column will not be used.

In [ ]:
# Export cleaned dataset to csv
gp_food.to_csv('google_places_poi_clean.csv')

### Google Places - Parks

In [ ]:
# Load dataset
gp_parks = pd.read_csv('google_places_park.csv')
gp_parks.head()

,business_status,icon,icon_background_color,icon_mask_base_uri,name,photos,place_id,price_level,rating,reference,...,geometry.location.lng,geometry.viewport.northeast.lat,geometry.viewport.northeast.lng,geometry.viewport.southwest.lat,geometry.viewport.southwest.lng,opening_hours.open_now,plus_code.compound_code,plus_code.global_code,permanently_closed,req_cat
0,OPERATIONAL,https://maps.gstatic.com/mapfiles/place_api/ic...,#FF9E67,https://maps.gstatic.com/mapfiles/place_api/ic...,Ripe Kitchen & Bar,"[{'height': 2471, 'html_attributions': ['<a hr...",ChIJ9aOdYiyNwokRS49czrNTQo4,2.0,4.3,ChIJ9aOdYiyNwokRS49czrNTQo4,...,-73.838855,40.899498,-73.837452,40.896800,-73.840150,False,"V5X6+7F Mount Vernon, NY, USA",87G8V5X6+7F,NaN,park
1,OPERATIONAL,https://maps.gstatic.com/mapfiles/place_api/ic...,#4DB546,https://maps.gstatic.com/mapfiles/place_api/ic...,Bissel Gardens,"[{'height': 3264, 'html_attributions': ['<a hr...",ChIJWcfdYdHywokRwdVd0ZGEGQU,NaN,4.2,ChIJWcfdYdHywokRwdVd0ZGEGQU,...,-73.850196,40.901136,-73.848742,40.898439,-73.851440,NaN,"V4XX+WW New York, NY, USA",87G8V4XX+WW,NaN,park
2,OPERATIONAL,https://maps.gstatic.com/mapfiles/place_api/ic...,#4DB546,https://maps.gstatic.com/mapfiles/place_api/ic...,Givans Creek Woods,"[{'height': 4128, 'html_attributions': ['<a hr...",ChIJgZk8XsWMwokR1QLdmJSK07A,NaN,4.2,ChIJgZk8XsWMwokR1QLdmJSK07A,...,-73.830511,40.880394,-73.829395,40.877696,-73.832093,NaN,"V5H9+MQ The Bronx, NY, USA",87G8V5H9+MQ,NaN,park
3,OPERATIONAL,https://maps.gstatic.com/mapfiles/place_api/ic...,#4DB546,https://maps.gstatic.com/mapfiles/place_api/ic...,Northeast Educational Park,"[{'height': 814, 'html_attributions': ['<a hre...",ChIJIR4lh8iMwokRwkigEwrhiv0,NaN,5.0,ChIJIR4lh8iMwokRwkigEwrhiv0,...,-73.830569,40.875423,-73.829220,40.872725,-73.831918,True,"V5F9+JQ The Bronx, NY, USA",87G8V5F9+JQ,NaN,park
4,OPERATIONAL,https://maps.gstatic.com/mapfiles/place_api/ic...,#4DB546,https://maps.gstatic.com/mapfiles/place_api/ic...,Co-op City Greenway,"[{'height': 3024, 'html_attributions': ['<a hr...",ChIJm2DXRMaMwokRtMMtdMysYHY,NaN,4.6,ChIJm2DXRMaMwokRtMMtdMysYHY,...,-73.827847,40.875427,-73.826498,40.872729,-73.829196,True,"V5FC+JV New York, NY, USA",87G8V5FC+JV,NaN,park

In [ ]:
gp_parks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3459 entries, 0 to 3458
Data columns (total 25 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   business_status                  3377 non-null   object
 1   icon                             3459 non-null   object
 2   icon_background_color            3459 non-null   object
 3   icon_mask_base_uri               3459 non-null   object
 4   name                             3459 non-null   object
 5   photos                           2861 non-null   object
 6   place_id                         3459 non-null   object
 7   price_level                      27 non-null     float64
 8   rating                           2894 non-null   float64
 9   reference                        3459 non-null   object
 10  scope                            3459 non-null   object
 11  types                            3459 non-null   object
 12  user_ratings_total               2894 non-null   float64
 13  vicinity                         3459 non-null   object
 14  geometry.location.lat            3459 non-null   float64
 15  geometry.location.lng            3459 non-null   float64
 16  geometry.viewport.northeast.lat  3459 non-null   float64
 17  geometry.viewport.northeast.lng  3459 non-null   float64
 18  geometry.viewport.southwest.lat  3459 non-null   float64
 19  geometry.viewport.southwest.lng  3459 non-null   float64
 20  opening_hours.open_now           1919 non-null   object
 21  plus_code.compound_code          3358 non-null   object
 22  plus_code.global_code            3358 non-null   object
 23  permanently_closed               41 non-null     object
 24  req_cat                          3459 non-null   object
dtypes: float64(9), object(16)
memory usage: 675.7+ KB

In [ ]:
gp_parks.columns

Index(['business_status', 'icon', 'icon_background_color',
       'icon_mask_base_uri', 'name', 'photos', 'place_id', 'price_level',
       'rating', 'reference', 'scope', 'types', 'user_ratings_total',
       'vicinity', 'geometry.location.lat', 'geometry.location.lng',
       'geometry.viewport.northeast.lat', 'geometry.viewport.northeast.lng',
       'geometry.viewport.southwest.lat', 'geometry.viewport.southwest.lng',
       'opening_hours.open_now', 'plus_code.compound_code',
       'plus_code.global_code', 'permanently_closed', 'req_cat'],
      dtype='object')

In [ ]:
# Drop irrelevant or repetitive columns
gp_parks.drop(columns=['business_status','icon','icon_background_color','icon_mask_base_uri',
                    'photos','place_id','reference','scope','types','geometry.viewport.northeast.lat',
                    'geometry.viewport.northeast.lng','geometry.viewport.southwest.lat',
                    'geometry.viewport.southwest.lng','opening_hours.open_now',
                    'plus_code.compound_code','plus_code.global_code','permanently_closed'], 
                    inplace=True)

gp_parks.head()

,name,price_level,rating,user_ratings_total,vicinity,geometry.location.lat,geometry.location.lng,req_cat
0,Ripe Kitchen & Bar,2.0,4.3,714.0,"151 West Sandford Boulevard, Mount Vernon",40.898209,-73.838855,park
1,Bissel Gardens,NaN,4.2,25.0,"4525 Barnes Avenue, The Bronx",40.899858,-73.850196,park
2,Givans Creek Woods,NaN,4.2,151.0,"4567, 1000 Baychester Avenue, The Bronx",40.879180,-73.830511,park
3,Northeast Educational Park,NaN,5.0,2.0,The Bronx,40.874074,-73.830569,park
4,Co-op City Greenway,NaN,4.6,207.0,The Bronx,40.874078,-73.827847,park

In [ ]:
# Rename columns for better interpretability
gp_parks.columns = ['Name','Price','Rating','Reviews','Address','Latitude','Longitude','Category']
print(gp_parks.shape)
gp_parks.head()

(3459, 8)

,Name,Price,Rating,Reviews,Address,Latitude,Longitude,Category
0,Ripe Kitchen & Bar,2.0,4.3,714.0,"151 West Sandford Boulevard, Mount Vernon",40.898209,-73.838855,park
1,Bissel Gardens,NaN,4.2,25.0,"4525 Barnes Avenue, The Bronx",40.899858,-73.850196,park
2,Givans Creek Woods,NaN,4.2,151.0,"4567, 1000 Baychester Avenue, The Bronx",40.879180,-73.830511,park
3,Northeast Educational Park,NaN,5.0,2.0,The Bronx,40.874074,-73.830569,park
4,Co-op City Greenway,NaN,4.6,207.0,The Bronx,40.874078,-73.827847,park

In [ ]:
# Check for unique values
unique_values(gp_parks)

Column Name: Name
# of Unique Values: 2247
Unique Values: ['Ripe Kitchen & Bar' 'Bissel Gardens' 'Givans Creek Woods' ...
 'Outdoor PingPong table' 'Roosevelt Island' 'City Viewpoint']
==============================================================
Column Name: Price
# of Unique Values: 5
Unique Values: [ 2. nan  1.  4.  0.]
==============================================================
Column Name: Rating
# of Unique Values: 32
Unique Values: [4.3 4.2 5.  4.6 nan 4.1 4.7 3.9 4.4 4.5 1.  4.  3.6 3.7 3.8 3.5 4.8 3.
 2.5 3.3 2.  1.5 1.6 2.9 2.7 4.9 3.1 3.4 3.2 2.3 2.8 2.4]
==============================================================
Column Name: Reviews
# of Unique Values: 519
Unique Values: [7.14000e+02 2.50000e+01 1.51000e+02 2.00000e+00 2.07000e+02         nan
 4.60000e+01 4.03000e+02 3.34000e+02 1.58600e+03 3.80000e+01 6.00000e+00
 4.10000e+01 5.00000e+01 1.29000e+02 2.17000e+02 4.00000e+00 8.50000e+01
 1.00000e+00 3.35000e+02 2.00000e+01 3.10000e+02 8.70000e+01 5.00000e+00
 2.80000e+01 1.90000e+02 1.67000e+02 2.37000e+02 2.04000e+02 7.00000e+00
 1.80000e+01 8.40000e+01 7.80000e+01 1.50000e+01 7.90000e+01 6.70000e+01
 7.30000e+01 2.59000e+02 1.60000e+01 7.20000e+01 3.70000e+01 1.90500e+03
 1.12700e+03 7.10000e+01 2.10000e+01 2.40000e+01 2.33000e+02 3.40000e+01
 9.90000e+01 5.20000e+01 1.64000e+02 1.70000e+01 1.85000e+02 1.89000e+02
 2.30000e+01 1.03000e+02 8.60000e+01 4.70000e+01 5.30000e+01 1.90000e+01
 5.65000e+02 1.40000e+01 1.72200e+03 3.00000e+00 2.70000e+01 3.93000e+02
 3.20000e+01 2.34000e+02 1.47000e+03 3.50000e+01 1.30000e+01 1.69000e+02
 6.40000e+01 6.80000e+01 7.00000e+01 1.43000e+02 2.74000e+02 1.01000e+02
 1.24000e+02 4.30000e+01 3.19100e+03 1.58000e+02 7.70000e+01 9.00000e+01
 8.80000e+01 4.90000e+01 6.90000e+01 2.41000e+02 3.30000e+01 6.30000e+01
 2.26000e+02 2.90000e+01 6.10000e+01 1.31200e+03 2.27000e+02 2.22400e+03
 3.39000e+02 7.40000e+01 6.20000e+01 1.10000e+01 3.00000e+01 9.00000e+00
 3.71800e+03 1.62000e+02 4.80000e+01 1.99000e+02 5.73000e+02 1.00000e+02
 6.60000e+01 1.47000e+02 2.23000e+02 7.09000e+02 1.34700e+03 1.20000e+01
 2.06000e+02 1.33000e+02 1.40200e+03 3.21800e+03 1.79000e+02 8.00000e+00
 5.70000e+01 1.00000e+01 2.29000e+02 2.58000e+02 1.41000e+02 2.00000e+02
 8.30000e+01 4.40000e+01 1.37000e+02 1.72000e+02 9.60000e+01 5.58000e+02
 1.18000e+02 1.22100e+03 2.56000e+02 1.27000e+02 1.06000e+02 7.50000e+01
 1.26000e+02 3.51000e+02 1.60200e+03 3.08000e+02 3.10000e+01 2.78000e+02
 1.32000e+02 1.18800e+03 8.12000e+02 4.50000e+01 2.87000e+02 1.80000e+02
 1.36000e+02 1.81000e+02 1.02000e+02 1.44000e+02 1.59000e+03 3.14000e+02
 1.60000e+02 1.52000e+02 2.31000e+02 1.11030e+04 5.50000e+01 2.94000e+02
 8.10000e+01 1.17000e+02 2.76600e+03 1.04000e+02 1.07000e+02 3.60000e+01
 2.39000e+02 1.44500e+03 2.51400e+03 2.49000e+02 1.13000e+02 2.50000e+02
 1.19900e+03 1.54000e+02 1.10000e+02 6.42000e+02 4.36500e+03 2.20000e+01
 1.28000e+02 1.32000e+03 1.35000e+02 1.23000e+02 3.90000e+02 2.90240e+04
 8.11000e+02 4.17000e+02 1.49000e+02 1.63000e+02 4.75000e+02 8.00000e+01
 5.81000e+02 3.90000e+01 8.95000e+02 4.32000e+02 4.00000e+02 1.19300e+03
 9.50000e+01 6.37000e+02 1.66000e+02 3.78000e+02 1.09000e+02 4.57000e+02
 5.60000e+01 2.60000e+01 6.00000e+01 2.09000e+02 1.08460e+04 2.74900e+03
 3.25000e+02 5.10000e+02 9.20000e+01 1.77000e+02 1.57000e+02 3.17000e+02
 2.11000e+02 1.35600e+03 1.22000e+02 7.18000e+02 2.81000e+02 1.25000e+02
 1.56000e+02 2.60200e+03 1.11000e+02 2.14300e+03 1.65000e+02 5.27000e+02
 3.57410e+04 2.10000e+02 1.58000e+03 5.47600e+03 4.99000e+02 5.80000e+01
 1.31000e+02 8.08000e+02 1.59000e+02 3.31000e+02 4.55000e+02 1.57500e+03
 1.15200e+03 7.53000e+02 2.32000e+02 8.20000e+01 8.90000e+01 9.40000e+01
 6.63000e+02 1.05000e+03 4.54000e+02 1.21000e+02 4.20000e+01 4.94000e+02
 5.58800e+03 1.61000e+02 2.82000e+02 3.92000e+02 1.29500e+03 4.83000e+02
 2.92000e+02 4.50600e+03 4.59000e+02 1.52000e+03 5.40000e+01 2.23400e+03
 7.63000e+02 1.42000e+02 1.05000e+02 3.99000e+02 1.04900e+03 9.80000e+01
 4.05900e+03 3.66000e+02 4.36000e+02 1.41600e+03 5.00000e+02 4.27000e+02
 1.48500e+03 2.60000e+02 2.55000e+02 6.41000e+02 9.10000e+01 1.15000e+02
 3.38000e+02 1.19000e+02 1.95200e+03 1.55000e+02 1.25200e+03 6.50000e+01
 4.09000e+02 1.61900e+03 1.04300e+03 3.03100e+03 7.95000e+02 8.88000e+02
 4.67000e+02 5.74000e+02 4.97600e+03 3.94000e+02 6.86000e+02 2.42000e+03
 6.29000e+02 5.64000e+02 2.81100e+03 6.70000e+02 8.20000e+02 6.02000e+02
 1.29100e+03 2.54000e+02 3.81000e+02 7.60000e+01 1.34200e+03 4.53000e+02
 3.07600e+03 3.69800e+03 2.18500e+03 5.86000e+02 5.10000e+01 1.74000e+02
 1.76000e+02 1.06800e+03 3.60000e+02 1.40300e+03 1.68000e+02 9.30000e+01
 4.29000e+02 2.33000e+03 3.00000e+02 2.34500e+03 2.44164e+05 5.34000e+02
 2.08900e+03 1.72800e+03 2.82200e+03 5.82000e+02 1.00400e+03 1.34000e+02
 5.92100e+03 7.26000e+02 1.57600e+03 1.18600e+03 1.12000e+02 2.40000e+02
 1.70000e+02 1.01240e+04 1.20000e+02 5.99000e+02 3.57000e+02 1.66700e+03
 2.90200e+03 8.97000e+02 1.40000e+02 3.20000e+02 5.38000e+02 1.71000e+03
 1.96000e+02 5.92000e+02 7.52270e+04 3.86600e+03 3.84000e+02 4.21000e+02
 8.17000e+02 4.44000e+02 4.14000e+02 5.67000e+02 4.98690e+04 2.77000e+02
 2.26010e+04 1.42800e+03 3.59000e+02 4.58000e+02 2.20000e+02 4.12000e+02
 3.86000e+02 1.38300e+03 5.02200e+03 4.24000e+02 7.77000e+02 2.16000e+02
 3.96000e+03 9.91000e+02 6.20000e+02 1.23900e+03 3.40000e+02 2.90500e+03
 3.83000e+02 7.32000e+02 8.31000e+02 5.91900e+03 2.08000e+02 7.85000e+02
 5.97000e+02 1.02820e+04 4.03800e+03 1.74070e+04 1.36280e+04 1.86000e+02
 4.38000e+02 2.12000e+02 9.00400e+03 3.63400e+03 1.99000e+03 1.31120e+04
 1.30000e+02 3.49000e+02 7.48000e+02 3.27000e+02 5.91530e+04 5.85000e+02
 4.63000e+02 5.25000e+02 1.93400e+03 2.13000e+02 1.87000e+02 1.39000e+02
 4.46000e+02 3.23000e+02 5.21000e+02 1.73700e+03 4.11000e+02 3.58000e+02
 3.98000e+02 3.91000e+02 1.06700e+03 2.76000e+02 5.90000e+01 1.94000e+02
 1.05700e+03 2.57000e+02 4.18000e+02 2.44000e+02 6.57000e+02 1.38000e+02
 4.39000e+02 5.28000e+02 2.21000e+02 5.96000e+02 2.69000e+02 5.30000e+02
 3.79000e+02 1.14000e+02 3.52000e+02 1.91000e+02 2.15000e+02 2.83000e+02
 2.53000e+02 1.24300e+03 1.08000e+02 5.31800e+03 1.19100e+03 1.10500e+03
 3.80000e+02 2.68000e+02 8.23000e+02 2.79000e+02 1.01000e+03 3.41000e+02
 9.70000e+01 1.70600e+03 1.78000e+02 4.00000e+01 3.14400e+03 6.80000e+02
 3.67000e+02 1.18000e+03 2.75000e+02 1.26400e+03 2.51000e+02 2.38800e+03
 8.34000e+02 3.37000e+02 1.71500e+03 1.95000e+02 1.50000e+02 2.35000e+02
 4.68000e+02 2.84000e+02 3.64000e+02 4.64000e+02 4.73000e+02 1.45000e+02
 1.60700e+03 6.19000e+02 3.62000e+02 2.86800e+03 1.70700e+03 2.25000e+02
 1.97000e+02 2.22000e+02 2.61000e+02 7.64000e+02 2.47000e+02 1.68700e+03
 7.46000e+02 3.73000e+02 3.57400e+03 4.72000e+02 1.47600e+03 2.38000e+02
 3.12400e+03 4.50000e+02 9.07000e+02 3.96000e+02 1.74000e+03 7.53900e+03
 4.34200e+03 3.22000e+02 2.65300e+03 1.75000e+02 2.42600e+03 9.05000e+02
 6.75000e+02 3.59800e+03 1.73000e+02 7.37000e+02 3.01000e+02 1.50700e+03
 3.88000e+03 4.19200e+03 9.82000e+02]
==============================================================
Column Name: Address
# of Unique Values: 2020
Unique Values: ['151 West Sandford Boulevard, Mount Vernon'
 '4525 Barnes Avenue, The Bronx' '4567, 1000 Baychester Avenue, The Bronx'
 ... 'Inwood Park Bayview Ave, 600 Bayview Avenue, Inwood'
 '11 East Loop Road #6a, New York' '200 West Loop Road, New York']
==============================================================
Column Name: Latitude
# of Unique Values: 2302
Unique Values: [40.8982087 40.8998575 40.8791799 ... 40.7556396 40.755236  40.7543816]
==============================================================
Column Name: Longitude
# of Unique Values: 2289
Unique Values: [-73.8388554 -73.8501962 -73.8305113 ... -73.955552  -73.9567768
 -73.956915 ]
==============================================================
Column Name: Category
# of Unique Values: 1
Unique Values: ['park']
==============================================================

In [ ]:
# Check for nulls
gp_parks.isnull().sum()

Name            0
Price        3432
Rating        565
Reviews       565
Address         0
Latitude        0
Longitude       0
Category        0
dtype: int64

There are null values in price, rating, and reviews. However it has low impact, as it simply signifies that some parks have no price, rating, or review information, which does not affect our objective.

In [ ]:
# Check for duplicates
gp_parks = gp_parks[gp_parks.duplicated()]
len(gp_parks)

1150

In [ ]:
# Duplicate rows found, remove from DataFrame
gp_parks = gp_parks.drop_duplicates().reset_index(drop=True)

# Confirm removal
gp_parks[gp_parks.duplicated()]

Empty DataFrame
Columns: [Name, Price, Rating, Reviews, Address, Latitude, Longitude, Category]
Index: []

In [ ]:
# See variance in numeric feautures
gp_parks.describe()

          Price      Rating       Reviews    Latitude   Longitude
count  8.000000  720.000000    720.000000  855.000000  855.000000
mean   1.875000    4.289861    503.305556   40.734356  -73.941078
std    1.125992    0.505266   3407.031268    0.088809    0.088196
min    0.000000    1.000000      1.000000   40.512033  -74.228107
25%    1.750000    4.000000      7.000000   40.676442  -73.988292
50%    2.000000    4.300000     37.500000   40.729272  -73.942442
75%    2.000000    4.600000    156.250000   40.814900  -73.884535
max    4.000000    5.000000  75227.000000   40.902327  -73.706385

In [ ]:
# Preview cleaned dataset
print(gp_parks.shape)
gp_parks.head()

(855, 8)

,Name,Price,Rating,Reviews,Address,Latitude,Longitude,Category
0,Givans Creek Woods,NaN,4.2,151.0,"4567, 1000 Baychester Avenue, The Bronx",40.879180,-73.830511,park
1,Wave Hill Public Garden & Cultural Center,NaN,4.7,1586.0,"4900 Independence Avenue, The Bronx",40.897852,-73.911445,park
2,Riverdale Park,NaN,4.5,217.0,"254 Palisade Avenue, The Bronx",40.894740,-73.916803,park
3,Bell Tower Park,NaN,4.5,50.0,"W. 239th St. &, Riverdale Avenue, The Bronx",40.889209,-73.908388,park
4,Henry Hudson Parkway,NaN,NaN,NaN,The Bronx,40.893249,-73.908400,park

In [ ]:
# Export cleaned dataset to csv
gp_parks.to_csv('google_places_parks_clean.csv')

### Google Places - Supermarkets

In [ ]:
# Load dataset
gp_market = pd.read_csv('google_places_supermarket.csv')
gp_market.head()

,business_status,icon,icon_background_color,icon_mask_base_uri,name,photos,place_id,rating,reference,scope,...,geometry.viewport.northeast.lat,geometry.viewport.northeast.lng,geometry.viewport.southwest.lat,geometry.viewport.southwest.lng,opening_hours.open_now,plus_code.compound_code,plus_code.global_code,price_level,permanently_closed,req_cat
0,OPERATIONAL,https://maps.gstatic.com/mapfiles/place_api/ic...,#4B96F3,https://maps.gstatic.com/mapfiles/place_api/ic...,Associated Supermarkets of Edenwald,"[{'height': 5312, 'html_attributions': ['<a hr...",ChIJE0hQCSzzwokRNXtfA5ppMfs,3.9,ChIJE0hQCSzzwokRNXtfA5ppMfs,GOOGLE,...,40.889539,-73.845599,40.886841,-73.848297,True,"V5Q3+85 New York, NY, USA",87G8V5Q3+85,NaN,NaN,supermarket
1,OPERATIONAL,https://maps.gstatic.com/mapfiles/place_api/ic...,#4B96F3,https://maps.gstatic.com/mapfiles/place_api/ic...,Fine Fare Supermarkets,"[{'height': 2592, 'html_attributions': ['<a hr...",ChIJwQqYaSvzwokR2vl44PAU-mw,4.1,ChIJwQqYaSvzwokR2vl44PAU-mw,GOOGLE,...,40.890697,-73.842325,40.887999,-73.845023,True,"V5Q4+QH New York, NY, USA",87G8V5Q4+QH,NaN,NaN,supermarket
2,OPERATIONAL,https://maps.gstatic.com/mapfiles/place_api/ic...,#4B96F3,https://maps.gstatic.com/mapfiles/place_api/ic...,Foodtown of White Plains Road,"[{'height': 2988, 'html_attributions': ['<a hr...",ChIJNRBLRNjywokRwgIuMLIdBkY,4.1,ChIJNRBLRNjywokRwgIuMLIdBkY,GOOGLE,...,40.897503,-73.854237,40.894805,-73.856935,True,"V4WV+FQ New York, NY, USA",87G8V4WV+FQ,NaN,NaN,supermarket
3,OPERATIONAL,https://maps.gstatic.com/mapfiles/place_api/ic...,#4B96F3,https://maps.gstatic.com/mapfiles/place_api/ic...,233rd Caribbean meat market,"[{'height': 768, 'html_attributions': ['<a hre...",ChIJG56qDCfzwokREsftljqbKKg,4.7,ChIJG56qDCfzwokREsftljqbKKg,GOOGLE,...,40.895154,-73.855691,40.892456,-73.858389,True,"V4VV+F6 The Bronx, NY, USA",87G8V4VV+F6,NaN,NaN,supermarket
4,OPERATIONAL,https://maps.gstatic.com/mapfiles/place_api/ic...,#4B96F3,https://maps.gstatic.com/mapfiles/place_api/ic...,City Fresh Market,NaN,ChIJ--GWDyzzwokRMvHRh43j9oA,4.3,ChIJ--GWDyzzwokRMvHRh43j9oA,GOOGLE,...,40.889492,-73.845551,40.886794,-73.848249,True,"V5Q3+75 The Bronx, NY, USA",87G8V5Q3+75,NaN,NaN,supermarket

In [ ]:
gp_market.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2449 entries, 0 to 2448
Data columns (total 25 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   business_status                  2449 non-null   object
 1   icon                             2449 non-null   object
 2   icon_background_color            2449 non-null   object
 3   icon_mask_base_uri               2449 non-null   object
 4   name                             2449 non-null   object
 5   photos                           2195 non-null   object
 6   place_id                         2449 non-null   object
 7   rating                           2319 non-null   float64
 8   reference                        2449 non-null   object
 9   scope                            2449 non-null   object
 10  types                            2449 non-null   object
 11  user_ratings_total               2319 non-null   float64
 12  vicinity                         2449 non-null   object
 13  geometry.location.lat            2449 non-null   float64
 14  geometry.location.lng            2449 non-null   float64
 15  geometry.viewport.northeast.lat  2449 non-null   float64
 16  geometry.viewport.northeast.lng  2449 non-null   float64
 17  geometry.viewport.southwest.lat  2449 non-null   float64
 18  geometry.viewport.southwest.lng  2449 non-null   float64
 19  opening_hours.open_now           2325 non-null   object
 20  plus_code.compound_code          2448 non-null   object
 21  plus_code.global_code            2448 non-null   object
 22  price_level                      399 non-null    float64
 23  permanently_closed               78 non-null     object
 24  req_cat                          2449 non-null   object
dtypes: float64(9), object(16)
memory usage: 478.4+ KB

In [ ]:
gp_market.columns

Index(['business_status', 'icon', 'icon_background_color',
       'icon_mask_base_uri', 'name', 'photos', 'place_id', 'rating',
       'reference', 'scope', 'types', 'user_ratings_total', 'vicinity',
       'geometry.location.lat', 'geometry.location.lng',
       'geometry.viewport.northeast.lat', 'geometry.viewport.northeast.lng',
       'geometry.viewport.southwest.lat', 'geometry.viewport.southwest.lng',
       'opening_hours.open_now', 'plus_code.compound_code',
       'plus_code.global_code', 'price_level', 'permanently_closed',
       'req_cat'],
      dtype='object')

In [ ]:
# Drop irrelevant or repetitive columns
gp_market.drop(columns=['business_status','icon','icon_background_color','icon_mask_base_uri',
                    'photos','place_id','reference','scope','types','geometry.viewport.northeast.lat',
                    'geometry.viewport.northeast.lng','geometry.viewport.southwest.lat',
                    'geometry.viewport.southwest.lng','opening_hours.open_now',
                    'plus_code.compound_code','plus_code.global_code','permanently_closed'], 
                    inplace=True)

gp_market.head()

,name,rating,user_ratings_total,vicinity,geometry.location.lat,geometry.location.lng,price_level,req_cat
0,Associated Supermarkets of Edenwald,3.9,372.0,"4141 Laconia Avenue, The Bronx",40.888266,-73.847102,NaN,supermarket
1,Fine Fare Supermarkets,4.1,547.0,"1199 East 233rd Street, The Bronx",40.889463,-73.843620,NaN,supermarket
2,Foodtown of White Plains Road,4.1,1195.0,"4332 White Plains Road, The Bronx",40.896172,-73.855542,NaN,supermarket
3,233rd Caribbean meat market,4.7,35.0,"4206 White Plains Road, The Bronx",40.893745,-73.856977,NaN,supermarket
4,City Fresh Market,4.3,7.0,"4139 Laconia Avenue, The Bronx",40.888146,-73.847006,NaN,supermarket

In [ ]:
# Rename columns for better interpretability
gp_market.columns = ['Name','Rating','Reviews','Address','Latitude','Longitude','Price','Category']
gp_market = gp_market[['Name','Price','Rating','Reviews','Address','Latitude','Longitude','Category']]
print(gp_market.shape)
gp_market.head()

(2449, 8)

,Name,Price,Rating,Reviews,Address,Latitude,Longitude,Category
0,Associated Supermarkets of Edenwald,NaN,3.9,372.0,"4141 Laconia Avenue, The Bronx",40.888266,-73.847102,supermarket
1,Fine Fare Supermarkets,NaN,4.1,547.0,"1199 East 233rd Street, The Bronx",40.889463,-73.843620,supermarket
2,Foodtown of White Plains Road,NaN,4.1,1195.0,"4332 White Plains Road, The Bronx",40.896172,-73.855542,supermarket
3,233rd Caribbean meat market,NaN,4.7,35.0,"4206 White Plains Road, The Bronx",40.893745,-73.856977,supermarket
4,City Fresh Market,NaN,4.3,7.0,"4139 Laconia Avenue, The Bronx",40.888146,-73.847006,supermarket

In [ ]:
# Check for unique values
unique_values(gp_market)

Column Name: Name
# of Unique Values: 973
Unique Values: ['Associated Supermarkets of Edenwald' 'Fine Fare Supermarkets'
 'Foodtown of White Plains Road' '233rd Caribbean meat market'
 'City Fresh Market' 'Met Foodmarkets' 'King of Kings African Market'
 'Key Food Supermarkets' 'LUPITAS MEXICAN GROCERY II INC'
 'Food Universe Marketplace' 'Stop & Shop'
 'CO-OP CITY AFRICAN MARKET Inc.' 'ShopRite of Pelham Parkway'
 'CTown Supermarkets' 'SY Grace West Indian Supermarket'
 'Garden Gourmet Market - Supermarket' 'Food Dynasty Supermarkets'
 'Foodtown of Riverdale' 'ALDI' 'Broadway Deals' 'NY 99¢ & More'
 'Target Grocery' "Ben's Market" 'Irish Mini Mart' 'Family Dollar'
 'Foodtown of Bainbridge' "Moronta's Supermarket Corp"
 'Kings Fruit Market' 'H & B FRESH PRODUCE' 'D & J Supermarket'
 'Gausia Foods Halal Supermarket' 'Dhaka Supermarket and Halal Meat'
 'Bangla Town Supermarket' 'Foodtown of White Plains'
 'Foodtown of Boston Road' 'Cherry Valley Marketplace'
 'Western Beef Supermarket' 'ShopFair' 'S & A Laconia Grocery'
 'C & A West Indian Supermarket Fish & Grocery'
 'Brothers Produce & Fish Supermarket' 'Foodtown of Allerton Avenue'
 'Paradise Food Market' 'Met Foodmarkets of Fordham Manor'
 'Fine fare Supermarket' 'Morton Williams Supermarkets'
 'El Rancho Deli Grocery' 'African American Market' 'Bravo Supermarkets'
 'Pioneer Supermarkets of Fordham Heights' 'Compare Foods Supermarket'
 'A B International Market' 'Food Dynasty Supermarket' 'dollar deals'
 'Rosa deli and grocery' "171 Sammy's Discount Store"
 'Bonao Meats and Produce II, Inc' 'Lindo Supermarket' 'Bronx Marketplace'
 'Bonoful Grocery & Halal Meat' 'Pioneer Supermarkets of Morris Heights'
 'Associated Supermarkets of River Park Towers'
 'Antillana SuperFood Marketplace' 'African Market'
 'Extra Jumbo Market Place' 'SuperFresh' 'Market Heights'
 'Ulysses Becerril' 'Deli Supermarket Corp.' 'Feloman Grocery Store'
 'Pioneer Supermarkets of Fordham Manor' 'Super 99¢'
 'Food Fair Fresh Market' 'Antillana Superfood'
 '3rd Golden Produce - المنتجات الذهبية' 'Food dynasty supermarket'
 'Future poultry market' 'United Grocery' 'Price Choice Foodmarkets'
 'Jesus Enemencio' 'Price Choice' 'Domingo Grocery'
 'Pioneer Supermarkets of West Farms' 'Lucky' '99¢ & Up Family Discount'
 'La Chapincita' 'Papa Food Market and Dollar Deals'
 'JAMA Deli Grocery Corporation' 'Superior Market'
 'Pioneer Fresh of Highbridge' 'Associated Supermarkets of Mount Eden'
 '125 west 165th st grocery corp.' '103 E 167st Bronxs N Y'
 'Foodtown of Gerard Ave.' 'Shop Fair of Rangel'
 'Foodtown of Third Avenue' 'Golden Apple Tree Supermarket'
 'Met Foodmarkets of Jackson Ave' 'Romero Fruit Market' 'Metfood'
 'Associated Supermarkets of Woodstock' 'CIBAO MEAT PRODUCTS'
 'Pioneer Supermarkets of Melrose' 'Real Supermarket'
 'Linda 99¢ Plus Discount' "The Butcher's Choice Meat Market"
 "The Butcher's Choice 2" 'Los Hermanos MEAT MARKET' 'FoodFest Depot'
 'Pioneer Supermarkets of Willis' "Pioneer Supermarkets of St Ann's"
 'Shop Fair of Mott Haven' 'Borinquen Supermarket' 'Lucero Produce'
 'Sabor Latino Deli Supermarket' 'Serie Fifty Five Supermarket' 'Mo Ice'
 'Salzedo Supermarket' 'DJOBO African & Middle East Market'
 'ALDUS WHOLESALERS INC.' 'Adom Market' 'AR Refrigeration corp'
 'Royalty Foods' 'US fresh' 'A&j Produce Inc'
 'Supermarket Needs Corporation' 'JCJ Supermarket Corporation'
 'Compare Foods of Morrisania' 'Supermercado'
 'Met Foodmarkets of Soundview' 'Farmacia' 'Taylor Superette Corp'
 'ShopRite of Bruckner Blvd' 'S&W Supermarket & Deli' "Pruzzo's"
 'Chang Li Supermarket Inc.' 'Foodtown of West Ave'
 'Pioneer Supermarkets of Unionport' 'Al-Aqsa Halal Meat Supermarket'
 'Premium Halal Meat & Fish' 'KHALIL SUPERMARKET' 'Hasan Super Market'
 'Grameen Bazaar' 'Catle Hill ave' 'Cheema Super Market'
 'Busy Town Mini Market' 'Al Aksa Halal Meat #2'
 'Aftab Grocery & Halal Meat' 'Monte Grab & Go Market' 'Alsadi meat halal'
 'Billadi Markets' 'Dar alhajar markets' 'Roots & Fruits / Town Market'
 'Iidl' 'La. Placita fruit and deli' 'Big Deal Foodtown' 'Modern Market'
 'Riverdale Kosher Market' "Super Foodtown of Throgg's Neck"
 'Golden Mango Supermarkets' 'Spice Up Supermarket and Halal Food'
 'Pioneer Supermarkets' 'C&C Farm' 'Shop Fair of Claremont'
 'Key Food Fresh' 'Royal Group Market Corp' 'Kadija Supermarket'
 'Super Deli 24 Corporation' 'Rite Supermarket Equipment'
 'Palm Tree Marketplace' 'The Food Emporium' 'Key Food Marketplace'
 'Foodtown of Bay Ridge' 'Associated Fresh Of Bay Ridge-93rd St'
 'Associated Supermarket' 'Met Foodmarkets of Bay Ridge'
 'Brooklyn Harvest Market' 'FalahiFarms' 'DELI,GROCERY & BEER STORE'
 'Emily Farm Corp.' 'Red Apple Discount 99¢ Up'
 'Greek Bakaliko Gourmet Food Market' 'Netcost Market' 'Jmart'
 'Green Food Supermarket' 'Bensonhurst Market' 'Wing Lee Supermarket'
 'Great City Trading Inc 益街坊参茸海味' 'Mong Kok Supermarket'
 '18th Ave Supermarket' 'Capitan Supermarkets' 'Lucky Market'
 'Sweet Garden Market' 'Star Market' "Jae's Supermarket"
 'Japanese Ramen Noodle Manufacturer' '17 gourmet deli grill. 24/7'
 'Marketa Los Fernández' 'La Placita de Brooklyn'
 'Pioneer Supermarkets of Sunset Park' 'La Dominicana'
 'Seaport Seafood & Meat Market Inc' 'Fei Long Market'
 'Valdez Supermarket' 'King Mei Supermarket' 'El Rancho Nuevo Supermarket'
 'Pal Supermarket' 'Green Village Supermarket' 'Fu Chun Supermarket'
 '88market' 'LANG QI FOODS SUPERMARKET' 'Buy Best Grocery'
 "Rachel's Garden" 'Associated Supermarkets of Greenpoint'
 "Mom & Pop's Organic Market" 'supermarket' 'Nieves Mini Market'
 'Lincoln Market Greenpoint' 'ZhongXing Produce Inc.' 'フリマ'
 'Khasky Foods Inc' 'T-L Food Market Inc.' 'Kosher Corner Supermarket Inc'
 'Avi Glatt, Inc.' 'Gourmet Kosher Market' 'NetCost Market'
 'Brighton Bazaar' 'Belarus Supermarket' '3045 Supermarket'
 'Fruit Dynasty' 'Deli' 'Supermarket Kiev' 'Brighton Express Food Market'
 'Brighton Fruit Market' "Matty's" 'Big Bazaar'
 'Tashkent Supermarket Halal Food'
 'New Eastern II Fruits, Vegetables, and Grocery Inc' 'Golden Key 2'
 'Cherry Hill Gourmet Inc' 'Sheepshead Bay Halal Market'
 'Sheepshead Bay Marketplace' 'Gourmet Boutique' 'Ester Deli Food'
 'Bay Fresh Supermarket Inc' 'Portokali Gourmet Market'
 'Bay Supermarket Deli & Grocery' 'Mountain Fruit of Ave. M'
 'Pomegranate Supermarket' 'Paperific Supermarket' 'Organic Circle'
 'Glatt Mart' 'Ocean Fruit & Supermarket Inc' 'Fruits-A-Plenty Inc'
 'Green Forest Market' 'Mittelman Kosher Supermarket'
 'Green Forest Market at Kings Highway' 'Big Banana' 'DOLLAR TOWN'
 'Domino Supermarket' 'Flatbush Food Co-op' 'Zaitoon Halal Meat & Grocery'
 'New Asian Supermarket' '99 Cents Supermarket' 'Jk Flatbush Farm'
 'Apna Supermarket' 'Green Village Meat Market' 'Urban Market by Key Food'
 'Super Foodtown' 'Empire Kosher Supermarket'
 'Ideal Food Basket of Crown Heights' 'Kol Tuv Grocery'
 "Kahan's Superette" 'Royal Market' 'Clari Grocery'
 'Shop Fair of Troy Ave' 'Angelica Supermarket' 'Al Marwan Supermarket'
 "Klein's Grocery" 'Koshertown Supermarket' '3guys From Brooklin'
 'Great American Market Inc' 'Farmers Market' 'Sam Do Supermarket Corp.'
 'Met Food Market' 'Green Acre Farms' 'the carabbean paradise'
 'Ideal Food Basket of Brooklyn Ave' 'KRM Kollel Supermarket'
 'Gourmet Glatt Market' 'NG Supermarket' 'Foodtown of Kensington'
 'Zion Kosher Market' 'Grameen Bazar' 'Bangla Nagar Supermarket'
 'Suchana Super Market' 'Green House Deshi Supermarket'
 'Kosher Food Depot' '16th Ave. Food Corner' 'Supertmaket'
 'Neighborhood Deli & Grocery Inc' 'Ideal Food Basket of Coney Island Ave'
 'merchandiser+++' "Rosner's Grocery" 'Union Market'
 'Windsor Farms Market' 'Royal Supermarket' 'B D Food Supermarket'
 'Prospect Market' 'Doleh Supermarket' 'The Bad Wife' 'Ideal Food Basket'
 'Foodtown of Prospect Heights' 'GalaFresh Farms' 'Mahfood Market'
 'Canaan Deli' 'Mr. Melon' 'Supermercado Market Place'
 'Shop Fair of Bed-Stuy' 'Lincoln Market Bed-Stuy Fulton Street'
 'Diaby African Market' 'Shop Fair of Brownsville' 'Santa Grocery'
 'supermarket brooklyn,ny.11212' "PEOPLE'S CHOICE"
 'Powell Supermarket Inc' 'Kool Parrol' 'Trabajo Actual'
 'Associated Supermarkets of Brownsville'
 'Ideal Food Basket of Brownsville' '777 Food Corp Market'
 'Shop Fair of Williamsburg' 'Frankels Kosher Market'
 'Foodtown of Williamsburg' 'City Acres Market'
 'Bedford Garden Supermarket' 'The Pantry Kosher Market'
 'Lefkowitz Supermarket' 'K corner' "Kahan's Foodmart"
 'New York Brooklyn Broadway 99c Discount Store' 'Quality Fresh Market'
 'All Fresh Supermarket Inc.' "Landau's Supermarket" 'Food Expo'
 'The Yellow Basket' 'One Stop Kosher Supermarket' 'Central Market'
 'Lee Gardens Supermarket Inc' 'Coconut Kosher Supermarket'
 'Premier Food Fresh Market' "Mr. Kiwi's" 'Foodtown of Bushwick'
 'Central Supermarket' 'Jarabacoa Food Corporation'
 'Associated Supermarkets of Bushwick' 'Met Fresh of Bushwick'
 'Calderon Brothers Fruit Market' 'Green Valley' 'Monegro Grocery'
 'DeKalb Market' 'Deli minimarket Palmarejo' 'Myrtle Ave Super market'
 'Acaba Grocery Corporation' 'Ideal Food Basket of Gates Ave'
 'Marcus Market' 'Key Food Supermarket'
 'Ideal Food Basket of Lafayette Ave' 'Deli Supermarket' 'Inlet Market'
 'Adels International Supermarket' 'Organic natural deli market'
 'Manayeyo Grocery Store' 'Met Fresh of Bed-Stuy'
 'Quincy Market Super Market & Deli'
 'Lincoln Market Bed-Stuy Marcy Avenue' 'Jamil Deli Grocery'
 'Carib Food Market' 'Farmer Supermarket & Deli' "Trader Joe's"
 'Perelandra Natural Food Center' 'Gristedes' 'Concord Market'
 'Peas & Pickles' 'Jackpot Deals' 'Dumbo Market' 'NYC Fresh Market'
 'Met Food' 'Whole Foods Market' 'La Venezolana Corporation'
 'Associated Supermarkets of Red Hook' 'Pioneer Street Supermarket'
 'Juice Mart' 'Stop 1 Supermarket' 'Bjg Food Corporation'
 'Foodtown of Park Slope' 'Stop & Fifth Deli' "Steve's 9th Street Market"
 'Urban Market' 'Mr. Coco' 'South Portland Market'
 'Waverly Gourmet Market- Neighborhood Supermarket'
 'Downtown Organic Market' "Khim's Millennium Market Viii"
 'Associated Supermarkets of Park Slope' 'Food Train'
 'Golden Farms Supermarket' 'Pioneer Supermarkets of Cypress Hills'
 'Rinconcito centro americano' 'Shop Fair of Cypress Hills'
 'La Sirena supermarket' 'Rinconcito de las americas grosery'
 'Liberty Super Market & Halal Meat' 'Osorio Food Corp'
 'Associated Supermarkets of Pitkin' 'Randy Supermarket'
 'Asian Supermarket & Halal Meat' 'Liberty Apple Farm'
 'Farm Country of East New York' 'Dollar Deals'
 "Tony's Shop & Save Supermarket" 'Jerome Deli Plaza'
 'Melissa Meat Market Inc' 'Shop Fair of Pitkin Ave' 'Super Flat 99¢ Plus'
 'Shop Smart Supermarket' 'Foodtown' 'DOLLAR ZONE'
 'Vucciria Food & Gourmet' 'Cherry Hill Market'
 "Ahmed's Grocery and Halal meat" 'Skyway Supermarket' 'Skywaysupermaket'
 'Karelia' 'Bay 31 Supermarket' 'WanChang Supermarket' 'Bay Market'
 'Thanksgiving Supermarket' '86 Supermarket Inc'
 'Orchard King Corporation' 'Super 13' 'Biedronka' 'Appetizing Plus'
 "Mittelman's Grocery" 'Kosher Discount' "Yidel's Grocery Inc."
 'Mehadrin Super Market' 'Webers Grocery & Fruit'
 'Ft. Hamilton Kosher Market' 'La Bella Marketplace'
 '7201 Fort Hamilton Pkwy Food Corp.' 'Snack Shop'
 'Met Foodmarkets of Marine Park' 'Peg Leg Woodshop' 'Brooklyn Fare'
 'Apple Gourmet Farm' 'Nature deli corp 1' 'Wegmans'
 "Brooklyn's Natural Deli" 'Pioneer Supermarkets of Flatbush'
 'Associated Fresh of Prospect Lefferts Gardens'
 'Ideal Food Basket of Bedford Ave'
 'Lincoln Market Prospect Lefferts Gardens' 'Nile Food Corporation'
 'Family Deli Grocery' 'Associated Fresh of Flatbush' 'MK Marketplace'
 "America's Food Basket of Atlantic Ave" 'North Carolina Country Store'
 'Pioneer Supermarkets of Bushwick' 'Associated Supermarkets of Bed-Stuy'
 'MT Deli Grocery' 'Marketplace of Bushwick' 'Two Ways Supermarket'
 'Motin Supermarket' 'Golden Farms' 'Premium Supermarket'
 'Emdad Supermarket Inc.' 'Abdullah Supermarket'
 'Shajalal Supermarket & Halal Meat' "Wolf's Grocery" 'David Supermarket'
 'Berry Goods Supermarket' 'Ideal Fresh Market of Church Ave'
 'FRESH HALAL MEAT' 'MUNDO SUPERMARKET' 'Mill Basin Shuk' 'Food Way'
 'Green Corner Fish & Farmers Market' 'Moore Street Market'
 "Ozzie's Fresh Market" '99 Lucky Family Discount Co.'
 'Food Story Natural Market' 'Sagal Food Meat Market'
 'New Eastern Unloading' 'Broadway/fayette bodega' 'Wize Organic Market'
 'National Wholesale Liquidators' 'Associated Supermarkets of Midwood'
 'Jerusalem Glatt Meat' "Moisha's Supermarket" 'Memo' 'Navruz Supermarket'
 'Fruit And Vegetables' 'Sunflower Food Market' 'Amira Halal Meat Inc.'
 'Met Fresh of Bay Ridge' 'Fort Hamilton Commissary'
 "May Wah with Lily's Vegan Pantry" 'Po Wing Hong Food Market'
 'New York Marts' 'Hong Kong Supermarket' 'Grand Advance Supermarket'
 'New Kam Man Supermarket' 'New York Mart' 'Meat Center (Chinatown)'
 'Nordic Preserves Fish and Wildlife Company' 'Deluxe Food Market'
 'Bangkok Center Grocery' 'Mulberry Meat Market Inc' 'Metro Acres Market'
 '57 Bayard Meat Market' 'Spring Mart' 'Tan Tin Hung Supermarket'
 '59 Bayard Market' 'Soho Garden' "Frank's Market" 'Xcellente Supermarket'
 'Dans Supermarket' 'SuperDuro Supermarket' 'The Heights Market corp'
 'Extra Jumbo by Antillana' 'Liberato Food Market'
 'La Altagracia Food Center' 'Shop Fair of St Nicholas'
 'Pola Supermarket Corporation' 'Shop Fair of Fort George'
 'Williams Grocery Corp.' "Dan's Supermarket" 'ANTILLANA SUPERMARKET'
 'Inwood Marqueta by Sea Town' "Bishops' Storehouse" 'Super Gigante Foods'
 'Foodtown of St. Nicholas Ave' 'ABC Mart' 'Super Foodtown of Bradhurst'
 '3550 Food Corporation' 'Associated Fresh Market of 7th Avenue'
 'Hamilton Food Corporation' 'PapaSito Foodmarkets' '99¢ Plus'
 'Appletree Market' 'Harlem Fresh Market by Key Food'
 'Foodtown of Frederick Douglas Blvd' 'Foodtown of Morningside Heights'
 'C-Town Fresh Market' 'Thrifty Deli Supermarket' 'Sanaa star inc'
 'C-Town Fresh Market 128th ST.' 'Express Deli Corp'
 'Presto Fresh Cafe Mexican Grill' 'Pioneer Supermarkets of Harlem'
 "125th Street Farmers' Market" 'Shop Fair Supermarkets'
 'Shop Fair of 110th Street' 'Farm Country of East Harlem'
 'Associated Supermarkets' 'Fresh Kim Market' 'Shop Fair of 116th Street'
 'Lane Farms Market' 'Fairway Market of 86th Street'
 "D'Agostino at 80th & York" "D'Agostino at 76th Street" "Eli's Market"
 'MORTON WILLIAMS SUPERMARKETS' "Tomer's Gourmet Market" "D'Agostino"
 'Catering New York by Battaglia' 'Fresh Food Farm' "Grace's Marketplace"
 '809 Lexington Grocery Store' 'NEXT TO YOU MARKET' 'Wholesome Factory'
 'Foodtown of Roosevelt Island' 'Fairway Market of 74th Street'
 'Citarella Gourmet Market - Upper West Side' "Barzini's"
 'The Kosher Marketplace' 'Zingone Brothers' 'Fairway 74th Street Cafe'
 "D'Agostino at 91st Street" 'Westerly Natural Market'
 'Pioneer Supermarket' 'Hudson Market' "D'Agostino at 54th Street"
 'The Market @ Mercedes House' 'Jubilee Marketplace' 'JEPIA'
 'The Food Emporium & Amish Kitchen' 'Amish Market'
 'BoxedMarket (Formerly MaxDelivery)'
 'Sunac Natural Market | Midtown west Deli | Supermarket' 'UrbanFetch'
 'jacks. - W 40th St' 'TigerTrade' 'Open Retail Sampling Solutions'
 'Superior Gourmet Marketplace ٥٥٥' 'Big Apple Meat Market'
 'Sunrise Market Place' 'addisworld' 'Super' 'Sunrise Mart 日系スーパー'
 'Dainobu' 'Supermarket News' 'Katagiri Japanese Grocery'
 "D'Agostino Supermarkets Inc" 'H Mart'
 'Supermarket Technical Services Inc' 'jacks.'
 'Búzios The Brazilian Market Of Manhattan' 'iPer Mart' 'ｱﾄﾗｽﾆｭｰﾖｰｸ'
 'Seasaw' "Eli Zabar's" 'Fairway Market Kips Bay'
 "D'agostino Supermarkets Inc" 'Delico 765' "D'Agostino at 38th Street"
 'Gristedes Pharmacy' 'Manhattan Fruit Market' 'Space Market'
 'Citarella Gourmet Market - West Village' 'New Yorkers Foodmarket'
 'Grailed' 'Iron Architecture' 'Mulberry Market NYC' 'Bleecker Farm'
 'Key Food Urban Marketplace' 'Associated Supermarkets of Alphabet City'
 'Gracefully Inc' 'Shop Fair of Alphabet City' 'Pioneer'
 'Tea Time & Market' 'Muốn Lê Ân' 'D’Agostino at 20th Street'
 'Chinese Hispanic Grocery' 'HK Discount Store' 'Damiimad World'
 'MSM ENTERPRISES' "D'Agostino Grocery Store" 'Flipdish'
 'West Village Finest Deli' 'Central Markets' 'Garden of Eden Marketplace'
 'Associated Supermarket of Manhattan Valley' '99 Cent'
 'Concesionario De Adriatic Plomeria'
 'Los Vecinos Meat Market & Supermarket'
 'Floristeria And Downtown Manhattan' 'Lidl' 'Best Yet Market'
 'Morton Williams Wines and Spirits' 'Garden of Eden' 'Gracefully'
 'Jubilee Market Place on John' 'Convenience Store'
 'Key Food Supermarket Fulton' 'Fulton Stall Market' 'Titan Foods'
 'Trade Fair' 'Euro Market' 'Mediterranean Foods' 'Mediterranean Foods II'
 'Middle eastern grocery' 'Astoria Marketplace' 'Greenbay Organic Foods'
 'Fusion Minimarket' 'Hlopez market place ( el gallo express)'
 'Farm country supermarket' 'Twin Filipino Food Store'
 'Berry Fresh Farms Supermarket' 'Trade Fair Supermarket' 'Patel Brothers'
 'Apna Bazaar Cash & Carry' 'Mina Bazaar Supermarket' 'Phil-Am Food Mart'
 'Food Fair Supermarket' 'Fresh N Save Marketplace'
 'Food Express Supermarket' 'Shahriar halal meat and fish market'
 'Met Fresh Marketplace' 'Food fair halal meat and fish market' 'G Mart'
 'Moon Supermarket & Grill' 'Titash Supermarket'
 'Mina Bazaar Halal Meat & Grocery' 'Apna Bazar Farmers Market'
 'Ittadi Bazaar' 'Carniceria La Risaralda' 'Food Dynasty'
 'Mi Tierra Supermarket'
 'Ferreira Foodtown of Jackson Heights - Supermarket'
 'Downtown Natural Market' 'One Stop Shop Market Inc.'
 'U.NICE MINI MARKET' 'Super Fresh' 'Nueva York'
 'Ideal supermarket Broadway Brooklyn NY' 'SkyFoods-Elmhurst'
 'D & Z Supermarket' 'US Supermarket' 'SeasonFresh Supermarket'
 'New Golden Sparkling Supermarket' 'Brothers Italian Food World'
 'Great Wall Supermarket' 'Sea Town Fish & Farmers Market'
 'R&A DELI GROCERY' 'Fine Fare Supermarket' 'Foodtown of Forest Hills'
 'Organic Kings: Natural/ Organic Foods & Pharmacy' 'Carmel Grocery'
 'New Yellowstone Farm' 'I & R Glatt Kosher Grocery Pharmacy Inc'
 "Vitelio's Marketplace" 'Baba Supermarket And Moneygram'
 "Rosenblum's Grocery" 'Manana Groceries'
 'Masala Now Halal Grocery Delivery Service' 'Trade Better Supermarket'
 'SkyFoods Supermarket' 'Goowha Market'
 'National Supermarket Association (NSA)' 'GW Supermarket' 'BEST WESTERN'
 'Norion Super Market' 'KW Supermarket'
 'Bally 868 Food Market Corporation' 'CG food market' 'H Mart Roosevelt'
 '아일랜드스파' 'DC Flushing Market' '구화식품' 'Gao Village Supermarket LLC'
 'Olives Organic Market' 'Soimex Corporation'
 'Foodcellar Market Court Square' 'James & Charlotte - Duro Market'
 'Green Tara Supermarket' 'Green Valley Marketplace of Sunnyside'
 'Key Food Fresh n save' 'Good Neighbors Supermarket'
 'Sunny Grocery (Turkish Grocery)' 'Parrot Coffee Market Place 1'
 'Parrot Coffee Market Place 2' 'Nadine Food Corporation'
 "Jenny's 99cent Discount Store" 'Maspeth Marketplace'
 'Market Fresh Supermarket' "Vitelio's Marketplace (Key Food)"
 'Valentino Food Market' 'Europa' 'fresh & save (Key Food)' 'Seneca'
 'Family Farm Supermarket' 'Fresh Value Marketplace'
 'Foodtown of Rego Park' 'R&M Supermarket' 'Joe Back Express'
 'Rego Park Fresh Seafood Supermarket' 'R and M glatt Supermarkets'
 'Gastronom International Market' 'Compare Foods of Woodhaven'
 'Golden Mango Supermarket' 'M &M Fish and Fruit Market'
 'Green Valley Supermarket' 'Scaturro Super Market' 'Carnicería stop one'
 'Key Fresh & Natural Supermarket' 'Milk Farm Supermarket'
 'Farmboy Country Market' 'Cp food center Corp' 'ShopRite of 20th Ave.'
 'BAHARZ' 'College Point Ny 11356' 'Greek Food Emporium'
 'Met Fresh of Whitestone' 'Raspberry Farm' 'Hua Lian Supermarket'
 'Bayside Milk Farm' 'Walfood Supermarket' 'Marino’s Supermarket'
 'H Mart Great Neck' 'Maharaja Supermarket' 'Foodtown of Bellerose'
 'Maharaja Farmers Market' 'Braddock Super Bazar' 'Preet Super Bazar'
 "Aron's Kissena Farms" "Wasserman's Supermarket" "Haim's International"
 'Mazal Glatt Supermarket Inc.' 'IOG Supermarket' 'Fresh Meadows Natural'

In [ ]:
# Check for nulls
gp_market.isnull().sum()

Name            0
Price        2050
Rating        130
Reviews       130
Address         0
Latitude        0
Longitude       0
Category        0
dtype: int64

There are null values in price, rating, and reviews. However it has low impact, as it simply signifies that some restuarants have no price, rating, or review information, which does not affect our objective.

In [ ]:
# Check for duplicates
gp_market = gp_market[gp_market.duplicated()]
len(gp_market)

973

In [ ]:
# Duplicate rows found, remove from DataFrame
gp_market = gp_market.drop_duplicates().reset_index(drop=True)

# Confirm removal
gp_market[gp_market.duplicated()]

Empty DataFrame
Columns: [Name, Price, Rating, Reviews, Address, Latitude, Longitude, Category]
Index: []

In [ ]:
# See variance in numeric feautures
gp_market.describe()

            Price      Rating      Reviews    Latitude   Longitude
count  123.000000  670.000000   670.000000  707.000000  707.000000
mean     1.780488    4.086418   447.519403   40.741506  -73.929199
std      0.659565    0.493889   725.941919    0.080656    0.069386
min      1.000000    1.000000     1.000000   40.566074  -74.165802
25%      1.000000    3.900000    48.250000   40.680266  -73.973771
50%      2.000000    4.100000   201.000000   40.735935  -73.928134
75%      2.000000    4.400000   501.500000   40.819564  -73.881706
max      4.000000    5.000000  5848.000000   40.893737  -73.716240

In [ ]:
# Preview cleaned dataset
print(gp_market.shape)
gp_market.head()

(707, 8)

,Name,Price,Rating,Reviews,Address,Latitude,Longitude,Category
0,Key Food Supermarkets,NaN,3.6,410.0,"540 West 235th Street, The Bronx",40.885437,-73.909246,supermarket
1,CTown Supermarkets,2.0,3.7,270.0,"5249 Broadway, The Bronx",40.875843,-73.908714,supermarket
2,Garden Gourmet Market - Supermarket,NaN,4.5,1800.0,"5665 Broadway, The Bronx",40.881037,-73.903533,supermarket
3,Stop & Shop,2.0,4.2,2514.0,"5716 Broadway, The Bronx",40.882063,-73.902058,supermarket
4,Foodtown of Riverdale,NaN,4.3,1706.0,"5555 Broadway, The Bronx",40.878621,-73.905335,supermarket

In [ ]:
# Export cleaned dataset to csv
gp_market.to_csv('google_places_market_clean.csv')

### Google Places - Schools (adds more than just schools)

In [ ]:
# Load dataset
gp_schools = pd.read_csv('google_places_school.csv')
gp_schools.head()

,business_status,icon,icon_background_color,icon_mask_base_uri,name,photos,place_id,price_level,rating,reference,...,geometry.location.lng,geometry.viewport.northeast.lat,geometry.viewport.northeast.lng,geometry.viewport.southwest.lat,geometry.viewport.southwest.lng,opening_hours.open_now,plus_code.compound_code,plus_code.global_code,permanently_closed,req_cat
0,OPERATIONAL,https://maps.gstatic.com/mapfiles/place_api/ic...,#FF9E67,https://maps.gstatic.com/mapfiles/place_api/ic...,Ripe Kitchen & Bar,"[{'height': 2471, 'html_attributions': ['<a hr...",ChIJ9aOdYiyNwokRS49czrNTQo4,2.0,4.3,ChIJ9aOdYiyNwokRS49czrNTQo4,...,-73.838855,40.899498,-73.837452,40.896800,-73.840150,False,"V5X6+7F Mount Vernon, NY, USA",87G8V5X6+7F,NaN,school
1,OPERATIONAL,https://maps.gstatic.com/mapfiles/place_api/ic...,#4DB546,https://maps.gstatic.com/mapfiles/place_api/ic...,Bissel Gardens,"[{'height': 3264, 'html_attributions': ['<a hr...",ChIJWcfdYdHywokRwdVd0ZGEGQU,NaN,4.2,ChIJWcfdYdHywokRwdVd0ZGEGQU,...,-73.850196,40.901136,-73.848742,40.898439,-73.851440,NaN,"V4XX+WW New York, NY, USA",87G8V4XX+WW,NaN,school
2,OPERATIONAL,https://maps.gstatic.com/mapfiles/place_api/ic...,#4DB546,https://maps.gstatic.com/mapfiles/place_api/ic...,Givans Creek Woods,"[{'height': 4128, 'html_attributions': ['<a hr...",ChIJgZk8XsWMwokR1QLdmJSK07A,NaN,4.2,ChIJgZk8XsWMwokR1QLdmJSK07A,...,-73.830511,40.880394,-73.829395,40.877696,-73.832093,NaN,"V5H9+MQ The Bronx, NY, USA",87G8V5H9+MQ,NaN,school
3,OPERATIONAL,https://maps.gstatic.com/mapfiles/place_api/ic...,#4DB546,https://maps.gstatic.com/mapfiles/place_api/ic...,Northeast Educational Park,"[{'height': 814, 'html_attributions': ['<a hre...",ChIJIR4lh8iMwokRwkigEwrhiv0,NaN,5.0,ChIJIR4lh8iMwokRwkigEwrhiv0,...,-73.830569,40.875423,-73.829220,40.872725,-73.831918,True,"V5F9+JQ The Bronx, NY, USA",87G8V5F9+JQ,NaN,school
4,OPERATIONAL,https://maps.gstatic.com/mapfiles/place_api/ic...,#4DB546,https://maps.gstatic.com/mapfiles/place_api/ic...,Co-op City Greenway,"[{'height': 3024, 'html_attributions': ['<a hr...",ChIJm2DXRMaMwokRtMMtdMysYHY,NaN,4.6,ChIJm2DXRMaMwokRtMMtdMysYHY,...,-73.827847,40.875427,-73.826498,40.872729,-73.829196,True,"V5FC+JV New York, NY, USA",87G8V5FC+JV,NaN,school

In [ ]:
gp_schools.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8749 entries, 0 to 8748
Data columns (total 25 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   business_status                  8667 non-null   object
 1   icon                             8749 non-null   object
 2   icon_background_color            8749 non-null   object
 3   icon_mask_base_uri               8749 non-null   object
 4   name                             8749 non-null   object
 5   photos                           5385 non-null   object
 6   place_id                         8749 non-null   object
 7   price_level                      32 non-null     float64
 8   rating                           6487 non-null   float64
 9   reference                        8749 non-null   object
 10  scope                            8749 non-null   object
 11  types                            8749 non-null   object
 12  user_ratings_total               6487 non-null   float64
 13  vicinity                         8749 non-null   object
 14  geometry.location.lat            8749 non-null   float64
 15  geometry.location.lng            8749 non-null   float64
 16  geometry.viewport.northeast.lat  8749 non-null   float64
 17  geometry.viewport.northeast.lng  8749 non-null   float64
 18  geometry.viewport.southwest.lat  8749 non-null   float64
 19  geometry.viewport.southwest.lng  8749 non-null   float64
 20  opening_hours.open_now           4220 non-null   object
 21  plus_code.compound_code          8639 non-null   object
 22  plus_code.global_code            8639 non-null   object
 23  permanently_closed               921 non-null    object
 24  req_cat                          8749 non-null   object
dtypes: float64(9), object(16)
memory usage: 1.7+ MB

In [ ]:
gp_schools.columns

Index(['business_status', 'icon', 'icon_background_color',
       'icon_mask_base_uri', 'name', 'photos', 'place_id', 'price_level',
       'rating', 'reference', 'scope', 'types', 'user_ratings_total',
       'vicinity', 'geometry.location.lat', 'geometry.location.lng',
       'geometry.viewport.northeast.lat', 'geometry.viewport.northeast.lng',
       'geometry.viewport.southwest.lat', 'geometry.viewport.southwest.lng',
       'opening_hours.open_now', 'plus_code.compound_code',
       'plus_code.global_code', 'permanently_closed', 'req_cat'],
      dtype='object')

In [ ]:
# Drop irrelevant or repetitive columns
gp_schools.drop(columns=['business_status','icon','icon_background_color','icon_mask_base_uri',
                    'photos','place_id','reference','scope','types','geometry.viewport.northeast.lat',
                    'geometry.viewport.northeast.lng','geometry.viewport.southwest.lat',
                    'geometry.viewport.southwest.lng','opening_hours.open_now',
                    'plus_code.compound_code','plus_code.global_code','permanently_closed'], 
                    inplace=True)

gp_schools.head()

,name,price_level,rating,user_ratings_total,vicinity,geometry.location.lat,geometry.location.lng,req_cat
0,Ripe Kitchen & Bar,2.0,4.3,714.0,"151 West Sandford Boulevard, Mount Vernon",40.898209,-73.838855,school
1,Bissel Gardens,NaN,4.2,25.0,"4525 Barnes Avenue, The Bronx",40.899858,-73.850196,school
2,Givans Creek Woods,NaN,4.2,151.0,"4567, 1000 Baychester Avenue, The Bronx",40.879180,-73.830511,school
3,Northeast Educational Park,NaN,5.0,2.0,The Bronx,40.874074,-73.830569,school
4,Co-op City Greenway,NaN,4.6,207.0,The Bronx,40.874078,-73.827847,school

In [ ]:
# Rename columns for better interpretability
gp_schools.columns = ['Name','Price','Rating','Reviews','Address','Latitude','Longitude','Category']
print(gp_schools.shape)
gp_schools.head()

(8749, 8)

,Name,Price,Rating,Reviews,Address,Latitude,Longitude,Category
0,Ripe Kitchen & Bar,2.0,4.3,714.0,"151 West Sandford Boulevard, Mount Vernon",40.898209,-73.838855,school
1,Bissel Gardens,NaN,4.2,25.0,"4525 Barnes Avenue, The Bronx",40.899858,-73.850196,school
2,Givans Creek Woods,NaN,4.2,151.0,"4567, 1000 Baychester Avenue, The Bronx",40.879180,-73.830511,school
3,Northeast Educational Park,NaN,5.0,2.0,The Bronx,40.874074,-73.830569,school
4,Co-op City Greenway,NaN,4.6,207.0,The Bronx,40.874078,-73.827847,school

In [ ]:
# Check for unique values
unique_values(gp_schools)

Column Name: Name
# of Unique Values: 5659
Unique Values: ['Ripe Kitchen & Bar' 'Bissel Gardens' 'Givans Creek Woods' ...
 'Kathryn Brickell Music - Far Rockaway' 'Yeshiva Gedola Meor Hatalmud'
 'Main Street Theatre & Dance Alliance']
==============================================================
Column Name: Price
# of Unique Values: 5
Unique Values: [ 2. nan  1.  4.  0.]
==============================================================
Column Name: Rating
# of Unique Values: 39
Unique Values: [4.3 4.2 5.  4.6 nan 4.1 4.7 3.9 4.4 4.5 1.  4.  3.6 3.7 3.8 3.5 4.8 3.
 2.5 3.3 2.  1.5 1.6 2.9 2.7 4.9 3.1 3.4 3.2 2.3 2.8 2.4 2.6 2.2 1.4 2.1
 1.7 1.9 1.8]
==============================================================
Column Name: Reviews
# of Unique Values: 532
Unique Values: [7.14000e+02 2.50000e+01 1.51000e+02 2.00000e+00 2.07000e+02         nan
 4.60000e+01 4.03000e+02 3.34000e+02 1.58600e+03 3.80000e+01 6.00000e+00
 4.10000e+01 5.00000e+01 1.29000e+02 2.17000e+02 4.00000e+00 8.50000e+01
 1.00000e+00 3.35000e+02 2.00000e+01 3.10000e+02 8.70000e+01 5.00000e+00
 2.80000e+01 1.90000e+02 1.67000e+02 2.37000e+02 2.04000e+02 7.00000e+00
 1.80000e+01 8.40000e+01 7.80000e+01 1.50000e+01 7.90000e+01 6.70000e+01
 7.30000e+01 2.59000e+02 1.60000e+01 7.20000e+01 3.70000e+01 1.90500e+03
 1.12700e+03 7.10000e+01 2.10000e+01 2.40000e+01 2.33000e+02 3.40000e+01
 9.90000e+01 5.20000e+01 1.64000e+02 1.70000e+01 1.85000e+02 1.89000e+02
 2.30000e+01 1.03000e+02 8.60000e+01 4.70000e+01 5.30000e+01 1.90000e+01
 5.65000e+02 1.40000e+01 1.72200e+03 3.00000e+00 2.70000e+01 3.93000e+02
 3.20000e+01 2.34000e+02 1.47000e+03 3.50000e+01 1.30000e+01 1.69000e+02
 6.40000e+01 6.80000e+01 7.00000e+01 1.43000e+02 2.74000e+02 1.01000e+02
 1.24000e+02 4.30000e+01 3.19100e+03 1.58000e+02 7.70000e+01 9.00000e+01
 8.80000e+01 4.90000e+01 6.90000e+01 2.41000e+02 3.30000e+01 6.30000e+01
 2.26000e+02 2.90000e+01 6.10000e+01 1.31200e+03 2.27000e+02 2.22400e+03
 3.39000e+02 7.40000e+01 6.20000e+01 1.10000e+01 3.00000e+01 9.00000e+00
 3.71800e+03 1.62000e+02 4.80000e+01 1.99000e+02 5.73000e+02 1.00000e+02
 6.60000e+01 1.47000e+02 2.23000e+02 7.09000e+02 1.34700e+03 1.20000e+01
 2.06000e+02 1.33000e+02 1.40200e+03 3.21800e+03 1.79000e+02 8.00000e+00
 5.70000e+01 1.00000e+01 2.29000e+02 2.58000e+02 1.41000e+02 2.00000e+02
 8.30000e+01 4.40000e+01 1.37000e+02 1.72000e+02 9.60000e+01 5.58000e+02
 1.18000e+02 1.22100e+03 2.56000e+02 1.27000e+02 1.06000e+02 7.50000e+01
 1.26000e+02 3.51000e+02 1.60200e+03 3.08000e+02 3.10000e+01 2.78000e+02
 1.32000e+02 1.18800e+03 8.12000e+02 4.50000e+01 2.87000e+02 1.80000e+02
 1.36000e+02 1.81000e+02 1.02000e+02 1.44000e+02 1.59000e+03 3.14000e+02
 1.60000e+02 1.52000e+02 2.31000e+02 1.11030e+04 5.50000e+01 2.94000e+02
 8.10000e+01 1.17000e+02 2.76600e+03 1.04000e+02 1.07000e+02 3.60000e+01
 2.39000e+02 1.44500e+03 2.51400e+03 2.49000e+02 1.13000e+02 2.50000e+02
 1.19900e+03 1.54000e+02 1.10000e+02 6.42000e+02 4.36500e+03 2.20000e+01
 1.28000e+02 1.32000e+03 1.35000e+02 1.23000e+02 3.90000e+02 2.90240e+04
 8.11000e+02 4.17000e+02 1.49000e+02 1.63000e+02 4.75000e+02 8.00000e+01
 5.81000e+02 3.90000e+01 8.95000e+02 4.32000e+02 4.00000e+02 1.19300e+03
 9.50000e+01 6.37000e+02 1.66000e+02 3.78000e+02 1.09000e+02 4.57000e+02
 5.60000e+01 2.60000e+01 6.00000e+01 2.09000e+02 1.08460e+04 2.74900e+03
 3.25000e+02 5.10000e+02 9.20000e+01 1.77000e+02 1.57000e+02 3.17000e+02
 2.11000e+02 1.35600e+03 1.22000e+02 7.18000e+02 2.81000e+02 1.25000e+02
 1.56000e+02 2.60200e+03 1.11000e+02 2.14300e+03 1.65000e+02 5.27000e+02
 3.57410e+04 2.10000e+02 1.58000e+03 5.47600e+03 4.99000e+02 5.80000e+01
 1.31000e+02 8.08000e+02 1.59000e+02 3.31000e+02 4.55000e+02 1.57500e+03
 1.15200e+03 7.53000e+02 2.32000e+02 8.20000e+01 8.90000e+01 9.40000e+01
 6.63000e+02 1.05000e+03 4.54000e+02 1.21000e+02 4.20000e+01 4.94000e+02
 5.58800e+03 1.61000e+02 2.82000e+02 3.92000e+02 1.29500e+03 4.83000e+02
 2.92000e+02 4.50600e+03 4.59000e+02 1.52000e+03 5.40000e+01 2.23400e+03
 7.63000e+02 1.42000e+02 1.05000e+02 3.99000e+02 1.04900e+03 9.80000e+01
 4.05900e+03 3.66000e+02 4.36000e+02 1.41600e+03 5.00000e+02 4.27000e+02
 1.48500e+03 2.60000e+02 2.55000e+02 6.41000e+02 9.10000e+01 1.15000e+02
 3.38000e+02 1.19000e+02 1.95200e+03 1.55000e+02 1.25200e+03 6.50000e+01
 4.09000e+02 1.61900e+03 1.04300e+03 3.03100e+03 7.95000e+02 8.88000e+02
 4.67000e+02 5.74000e+02 4.97600e+03 3.94000e+02 6.86000e+02 2.42000e+03
 6.29000e+02 5.64000e+02 2.81100e+03 6.70000e+02 8.20000e+02 6.02000e+02
 1.29100e+03 2.54000e+02 3.81000e+02 7.60000e+01 1.34200e+03 4.53000e+02
 3.07600e+03 3.69800e+03 2.18500e+03 5.86000e+02 5.10000e+01 1.74000e+02
 1.76000e+02 1.06800e+03 3.60000e+02 1.40300e+03 1.68000e+02 9.30000e+01
 4.29000e+02 2.33000e+03 3.00000e+02 2.34500e+03 2.44164e+05 5.34000e+02
 2.08900e+03 1.72800e+03 2.82200e+03 5.82000e+02 1.00400e+03 1.34000e+02
 5.92100e+03 7.26000e+02 1.57600e+03 1.18600e+03 1.12000e+02 2.40000e+02
 1.70000e+02 1.01240e+04 1.20000e+02 5.99000e+02 3.57000e+02 1.66700e+03
 2.90200e+03 8.97000e+02 1.40000e+02 3.20000e+02 5.38000e+02 1.71000e+03
 1.96000e+02 5.92000e+02 7.52270e+04 3.86600e+03 3.84000e+02 4.21000e+02
 8.17000e+02 4.44000e+02 4.14000e+02 5.67000e+02 4.98690e+04 2.77000e+02
 2.26010e+04 1.42800e+03 3.59000e+02 4.58000e+02 2.20000e+02 4.12000e+02
 3.86000e+02 1.38300e+03 5.02200e+03 4.24000e+02 7.77000e+02 2.16000e+02
 3.96000e+03 9.91000e+02 6.20000e+02 1.23900e+03 3.40000e+02 2.90500e+03
 3.83000e+02 7.32000e+02 8.31000e+02 5.91900e+03 2.08000e+02 7.85000e+02
 5.97000e+02 1.02820e+04 4.03800e+03 1.74070e+04 1.36280e+04 1.86000e+02
 4.38000e+02 2.12000e+02 9.00400e+03 3.63400e+03 1.99000e+03 1.31120e+04
 1.30000e+02 3.49000e+02 7.48000e+02 3.27000e+02 5.91530e+04 5.85000e+02
 4.63000e+02 5.25000e+02 1.93400e+03 2.13000e+02 1.87000e+02 1.39000e+02
 4.46000e+02 3.23000e+02 5.21000e+02 1.73700e+03 4.11000e+02 3.58000e+02
 3.98000e+02 3.91000e+02 1.06700e+03 2.76000e+02 5.90000e+01 1.94000e+02
 1.05700e+03 2.57000e+02 4.18000e+02 2.44000e+02 6.57000e+02 1.38000e+02
 4.39000e+02 5.28000e+02 2.21000e+02 5.96000e+02 2.69000e+02 5.30000e+02
 3.79000e+02 1.14000e+02 3.52000e+02 1.91000e+02 2.15000e+02 2.83000e+02
 2.53000e+02 1.24300e+03 1.08000e+02 5.31800e+03 1.19100e+03 1.10500e+03
 3.80000e+02 2.68000e+02 8.23000e+02 2.79000e+02 1.01000e+03 3.41000e+02
 9.70000e+01 1.70600e+03 1.78000e+02 4.00000e+01 3.14400e+03 6.80000e+02
 3.67000e+02 1.18000e+03 2.75000e+02 1.26400e+03 2.51000e+02 2.38800e+03
 8.34000e+02 3.37000e+02 1.71500e+03 1.95000e+02 1.50000e+02 2.35000e+02
 4.68000e+02 2.84000e+02 3.64000e+02 4.64000e+02 4.73000e+02 1.45000e+02
 1.60700e+03 6.19000e+02 3.62000e+02 2.86800e+03 1.70700e+03 2.25000e+02
 1.97000e+02 2.22000e+02 2.61000e+02 7.64000e+02 2.47000e+02 1.68700e+03
 7.46000e+02 3.73000e+02 3.57400e+03 4.72000e+02 1.47600e+03 2.38000e+02
 3.12400e+03 4.50000e+02 9.07000e+02 3.96000e+02 1.74000e+03 7.53900e+03
 4.34200e+03 3.22000e+02 2.65300e+03 1.75000e+02 2.42600e+03 9.05000e+02
 6.75000e+02 3.59800e+03 1.73000e+02 7.37000e+02 3.01000e+02 1.50700e+03
 3.88000e+03 4.19200e+03 9.82000e+02 1.16000e+02 2.91000e+02 4.06000e+02
 2.62000e+02 5.23000e+02 5.05000e+02 5.90000e+02 2.18000e+02 1.84000e+02
 2.03000e+02 2.01000e+02 4.51000e+02 3.03000e+02]
==============================================================
Column Name: Address
# of Unique Values: 4984
Unique Values: ['151 West Sandford Boulevard, Mount Vernon'
 '4525 Barnes Avenue, The Bronx' '4567, 1000 Baychester Avenue, The Bronx'
 ... '548 Main Street, New York' '9-28 41st Avenue, Queens'
 '10-25 41st Avenue, Queens']
==============================================================
Column Name: Latitude
# of Unique Values: 5725
Unique Values: [40.8982087 40.8998575 40.8791799 ... 40.761756  40.7554011 40.7555154]
==============================================================
Column Name: Longitude
# of Unique Values: 5695
Unique Values: [-73.8388554 -73.8501962 -73.8305113 ... -73.9495607 -73.9457445
 -73.9445939]
==============================================================
Column Name: Category
# of Unique Values: 1
Unique Values: ['school']
==============================================================

In [ ]:
# Check for nulls
gp_schools.isnull().sum()

Name            0
Price        8717
Rating       2262
Reviews      2262
Address         0
Latitude        0
Longitude       0
Category        0
dtype: int64

There are null values in price, rating, and reviews. However it has low impact, as it simply signifies that some schools have no price, rating, or review information, which does not affect our objective.

In [ ]:
# Check for duplicates
gp_schools = gp_schools[gp_schools.duplicated()]
len(gp_schools)

2849

In [ ]:
# Duplicate rows found, remove from DataFrame
gp_schools = gp_schools.drop_duplicates().reset_index(drop=True)

# Confirm removal
gp_schools[gp_schools.duplicated()]

Empty DataFrame
Columns: [Name, Price, Rating, Reviews, Address, Latitude, Longitude, Category]
Index: []

In [ ]:
# See variance in numeric feautures
gp_schools.describe()

          Price       Rating       Reviews     Latitude    Longitude
count  9.000000  1638.000000   1638.000000  2128.000000  2128.000000
mean   1.666667     4.202503    234.302808    40.723136   -73.946601
std    1.224745     0.669083   2270.741549     0.093409     0.099538
min    0.000000     1.000000      1.000000    40.512033   -74.238592
25%    1.000000     3.900000      6.000000    40.643244   -73.993266
50%    2.000000     4.300000     17.000000    40.720216   -73.943868
75%    2.000000     4.675000     49.000000    40.808596   -73.881272
max    4.000000     5.000000  75227.000000    40.903470   -73.706385

In [ ]:
# Preview cleaned dataset
print(gp_schools.shape)
gp_schools

(2128, 8)

,Name,Price,Rating,Reviews,Address,Latitude,Longitude,Category
0,Givans Creek Woods,NaN,4.2,151.0,"4567, 1000 Baychester Avenue, The Bronx",40.879180,-73.830511,school
1,Wave Hill Public Garden & Cultural Center,NaN,4.7,1586.0,"4900 Independence Avenue, The Bronx",40.897852,-73.911445,school
2,Riverdale Park,NaN,4.5,217.0,"254 Palisade Avenue, The Bronx",40.894740,-73.916803,school
3,Bell Tower Park,NaN,4.5,50.0,"W. 239th St. &, Riverdale Avenue, The Bronx",40.889209,-73.908388,school
4,Henry Hudson Parkway,NaN,NaN,NaN,The Bronx,40.893249,-73.908400,school
...,...,...,...,...,...,...,...,...
2123,School Buildings Division,NaN,5.0,1.0,"2811 Queens Plaza North, Long Island City",40.750235,-73.938086,school
2124,Citywide Council on Special Education,NaN,5.0,1.0,Long Island City,40.750262,-73.938082,school
2125,Industrial Management & Train,NaN,NaN,NaN,"43-82 Vernon Boulevard, Long Island City",40.751245,-73.952622,school
2126,Bright Horizons at Long Island City,NaN,4.7,20.0,"42-09 28th Street, Queens",40.749357,-73.939062,school
2127,P.S. 112 Dutch Kills,NaN,4.7,12.0,"25-05 37th Avenue, Queens",40.756930,-73.934282,school

In [ ]:
gp_schools['Name'].unique().tolist()

['Givans Creek Woods',
 'Wave Hill Public Garden & Cultural Center',
 'Riverdale Park',
 'Bell Tower Park',
 'Henry Hudson Parkway',
 'Brust Park',
 'Quad',
 'Pure Love Organic Farms',
 'Ewen Park',
 'Ewen Park Dog Run',
 'Siren Slope',
 'Cooney Grauer Field',
 'Enchanted Garden',
 'Marble Hill Houses Park',
 'Crescent Park',
 'Fort #4 Playground',
 "Harley J. Mosley, Sr. Veteran's Memorial Park",
 'Kiddie Park, Alcott Place',
 'Haffen Park',
 'Northeast Educational Park',
 'Northeast Bronx Educational Park',
 'Mosholu Parkway',
 'Kossuth Playground',
 'Risse Street Park',
 'Bainbridge Avenue Garden',
 'Mosholu Pkwy',
 'Whalen Playground',
 'Roberto Clemente State Park',
 'Morton Playground',
 'Galileo Playground',
 'Mount Hope Playground',
 'Jardin De Las Rosas',
 'Bergen Triangle',
 'River Garden',
 'Vidalia Park',
 'Boone Slope',
 'Eae J Mitchell Park',
 'Krystal Garden Group',
 'Daly Avenue Garden',
 'Rock Garden Park',
 'Mohegan Triangle',
 'Hylan Park',
 'Miracle Garden',
 'Seabury Playground',
 'River Park',
 'Mosaic Success Garden',
 'Ogden Plimpton Playground',
 'High Bridge Bronx Entrance',
 'Bridge Playground',
 "St. Mary's Park",
 'Gouverneur Morris Triangle',
 "St. Mary's Dog Run",
 '138th Street',
 'Gouverneur Morris Square',
 'Herplantroom',
 'Five Island park',
 'Padre Plaza',
 "People's Park",
 'Saw Mill Playground',
 'Brook Park',
 'United We Stand Garden',
 'Demera/Santiago Garden',
 'Dawson Playground',
 'Abigail Playground',
 'Stebbins Playground',
 'Barretto Park',
 'The South Bronx Schoolyard Garden and Outdoor Classroom',
 'Fufidio Triangle',
 'Franklin Memorial Garden',
 'Charlton Garden',
 'Kelly Street Garden',
 'El Batey Borincano',
 "O'Neill Triangle",
 'Flynn Playground',
 'Edith Garden',
 'Taylor Playground',
 'The Pearly Gates',
 'BANGALI COMMUNITY',
 'Glover Street Community Garden',
 'Morris Park Community Garden',
 'Bufano Park',
 'Glover Street Garden',
 'Young Park',
 'Wood Park',
 'St. Lawrence Triangle',
 'Noble Playground',
 'Parkchester North Condominium Park',
 'Eagle and squirrel Statue',
 'Bronx Unionport Parkchester Park',
 'Oval Foundation Parkchester',
 'Matthews Muliner Playground',
 'Frances M. Cerullo Memorial Garden',
 'Jacobi Rotunda Green',
 'Einstein dog park',
 'Farm in the Bronx',
 'Thorpe Family Playground',
 'Charles W. Cooke Farm Garden',
 'Quarry Ballfields',
 'Whalen Grove',
 'Slattery Playground',
 "Ladies' Border, NYBG",
 'Enid A. Haupt Conservatory, NYBG',
 'Nancy Bryan Luce Herb Garden, NYBG',
 'Jane Watson Irwin Perennial Garden, NYBG',
 'Webster Playground',
 'Seton Park',
 "Paul's Playground",
 'Spuyten Duyvil Shorefront Park',
 'Phyllis Post Goodman Park',
 'Riverdale Playground',
 'Courtyard',
 'Muscota Marsh',
 'Henry Hudson Park',
 'Hughto Bike Rental',
 'Step street',
 'Raoul Wallenberg Forest',
 'PS24 Garden',
 'Park',
 'Hackett Park',
 'Vinmont Veteran Park',
 'Endor Community Garden',
 'Michael Crescenzo Triangle Garden',
 'Keane Square',
 'Hutchinson River Parkway',
 'Public restroom',
 'Picnic Area',
 'Pelham Bay Dog Run',
 "Derosa O'Boyle Triangle",
 'Carmen Rivera House',
 'Ferry Point Park/Playground - Throgs Neck',
 'Bicentennial Veterans Memorial Park',
 'Silver Beach Playground',
 'Castle Hill Park',
 'Pugsley Creek Park',
 'Wappinger Trail',
 'Williamsbridge Square',
 "D'Onofrio Square",
 'P3T LIF3',
 '211th St Community Garden',
 'Catacombs',
 'Gun Hill R/C Off Road Track',
 'Burns Playground',
 'Givan Square',
 'Lynch Triangle',
 'Cavanagh Triangle',
 'East Coast Greenway',
 'Rev. T. Wendell Foster Park',
 'Martin Luther King Triangle',
 'Jerome Slope',
 'Estella Diggs Park',
 'Keltch Park',
 'Mullaly Park',
 'Las Casitas Community Garden',
 'Chief Dennis L. Devlin Park',
 'Castle Hill Little League',
 'Dj',
 'Starling Garden',
 'Yadira Arroyo Memorial Callbox',
 'Hugh J. Grant Circle',
 'EAST PARK',
 'Rienzi Playground',
 'Seton Falls Park',
 'Ralph H. Hoist Triangle',
 'Eastchester Road Community Garden',
 'Brooklyn Bridge Park Pier 5',
 'Brooklyn Heights Promenade',
 'Pier 6 Dog Run',
 'Adam Yauch Park',
 'Brooklyn Bridge Park Conservancy',
 'Cobble Hill Park',
 "FLO'S GARDENS GARDEN DESIGN and MAINTENANCE",
 'Carroll Park',
 'Nicholas Naquan Heyward Jr. Park',
 'The Amazing Garden',
 'Summit Street',
 "South Brooklyn Children's Garden",
 'Mother Cabrini Park',
 'The Secret Garden Brooklyn',
 'DiMattina Playground',
 'Little Miracles Designs',
 'Cough Triangle',
 'The Transit Garden',
 "St. Mary's Playground",
 'Mini Park',
 'Gowanus Canal Sponge park',
 'Gowanus Waterfront Park',
 'New Lots Ave Plaza',
 'Admiral Triangle',
 'Dean Playground',
 'Grand Army Plaza',
 'Vale of Cashmere',
 'Mount Prospect Park',
 'Native Flora Garden',
 'Washington Park Dog Run',
 'Warren St. Marks',
 'Osborne Garden',
 'Green Sky Designs',
 'Farm Garden at J.J. Byrne Playground',
 'Washington Park',
 'Sure Shot Hunting Guide Connector',
 'Atkins Gardeners',
 'Montauk Community Garden',
 'Upon This Rock Comm Garden',
 "Manley's Place",
 'Chiarantano Playground',
 'Tucker Place',
 'Babi Yar Triangle Playground',
 'Shore Boulevard Mall',
 'Sheepshead Bay Piers',
 'Pritchard Mall',
 'Coffey Square',
 'Tom McDonald Triangle',
 'Dan Ross Playground',
 'Sheepshead Playground',
 'American Park Section 1 Co-Op',
 'Fort Greene Park',
 'Pratt Playground',
 'Classon Playground',
 'Classon Triangle',
 'Underwood Park',
 'Person Square',
 'Konah “KOKO” Weisel’s Bench',
 'Camp Fort Greene',
 'Modern Urban Design Landscaping',
 'Greene Garden',
 'University Place',
 'North Pacific Playground',
 'Wyckoff-Bond',
 'Bridge Plaza',
 'Trinity Park',
 'Camp Kinderland Inc',
 'Cadman Plaza Park',
 'Betty Carter Park',
 "Fido's Retreat",
 'Greenspace on 4th',
 'Pacific Bears Community Garden',
 'Sixteen Sycamores Playground',
 'Hoyt street garden',
 'The Plaza at 300 Ashland',
 'Albee Square',
 'Boerum Park',
 'Fowler Square',
 "Marc And Jason's Playground",
 'City Line Park',
 'Crystal & Wells Community Garden',
 'Crystal Wells Block Association',
 'Green Gems',
 'Legion Triangle',
 'Shield of Faith Garden',
 'Bike/Walking Path',
 'Rivka Greenberg Trencher Swing Area',
 'Hot Spot Tot Lot',
 'Kolbert Playground',
 'Kastanis Courtyard',
 'East Quad',
 'Lily pond',
 'Triangle Park.',
 'Dorman Square',
 'Flatbush Malls',
 'Umma Park',
 'Machate Circle',
 "Drummer's Grove",
 'Captain Oakley Junior Square',
 'Barone Triangle',
 'Jacob Joffe Fields',
 'Sternberg Park',
 'Ten Eyck Plaza',
 'Green Central Knoll',
 'La Finca Garden',
 'Continental Army Plaza',
 'Marcy Green Center',
 'Jaime Campiz Playground',
 'Chelsea Garden Center Williamsburg',
 'Rodney Playground Center',
 'Rodney Park North',
 'Keap Fourth',
 'Juliette',
 'Aurora Brooklyn',
 'Grand Ferry Park',
 'Bobby Redd',
 'Night of Joy',
 'La Casita Verde',
 'Mount Carmel Triangle',
 'Father Giorgio Triangle',
 'Pvt. Sonsire Triangle',
 'Bedford Playground',
 'Urban Cowboy',
 'Earth Spirit Garden',
 'Marcy Green North',
 'Ocean Parkway Malls',
 'Sgt. Joyce Kilmer Square',
 'Dyker Beach Dog Run',
 'DeRussy Drive',
 'Fort Hamilton Triangle',
 'Monastery Square',
 'Highbridge Park',
 "Bruce's Garden",
 'Inwood Hill Park Tree Of Peace',
 'St. Nicholas Park',
 'Kayak & Canoe Launch',
 'Annunciation Playground',
 'Alexander Hamilton Playground',
 'Montefiore Square',
 'Jackie Robinson Recreation Center',
 "la FLEUR d'HARLEM",
 'St Nicholas Park Volleyball Courts',
 'Gracie Mews Plaza',
 'Garage',
 'NatureZ Edge',
 'Schnitzelplatz',
 'Doggie-Do & Playtime Too!',
 'John Jay Park',
 '815 Park Owners Inc',
 'Alan Associates Plaza Park',
 'Bird Park',
 'The Royal Dogs | pet grooming | dog daycare | boarding |',
 'John Finley Walk',
 'Andrew Haswell Green Dog Park',
 "St. Catherine's Park",
 'Twenty-Four Sycamores Park',
 'One East River Place Park',
 'East River Esplanade Dog Run',
 'Father Duffy Square',
 'I D & Allc',
 'Bryant Park',
 'Hyungki Park',
 'Forty Eight West Thirty Eighth',
 'Venture Advisors Park',
 'Robins Garden',
 'Herald Square',
 'Urban Parks',
 'The Musket Room',
 'Sara D. Roosevelt Park',
 'Elizabeth Street Garden',
 'ABC Playground',
 'First Park',
 'Vincent F. Albano Jr. Playground',
 'First Street Garden',
 '6BC Botanical Garden',
 'Seward Park',
 'Hope Garden',
 'Peach Tree Garden',
 'Gustave Hartman Square',
 'Orchard Alley',
 "Children's Magical Garden",
 'Green Oasis',
 'Lillian D. Wald Playground',
 'Meltzer Park',
 'Straus Square',
 'De Colores Community Yard & Cultural Center',
 'NYCHA LES1 Playground',
 'Tompkins Square Park',
 'African Burial Ground National Monument',
 'James J Walker Park',
 'Collect Pond Park',
 'Freeman Plaza East',
 'Duarte Square',
 'Freeman Plaza North',
 'Foley Square',
 'Columbus Park',
 'Sophie Irene Loeb Playground',
 'Kimlau Square',
 'IPPsolar',
 'Tribeca Park',
 'Watson Gold Landscaping Design Inc.',
 'Michigan Life Heavenly',
 'La Lanterna di Vittorio',
 'Father Demo Square',
 'Charlton Plaza',
 'LaGuardia Corner',
 'Minetta Triangle',
 'Washington Square Park',
 'Jackson Square',
 'West 4th Street Courts',
 'Leroy Street Dog Park',
 'Jefferson Market Garden',
 'Sheridan Square Viewing Garden',
 'Minetta Green',
 'Stonewall National Monument',
 'Christopher Park',
 'Butterfly Gardens of Central Park',
 'General Grant National Memorial',
 'Sakura Park',
 'Riverside Park Conservancy',
 'Straus Park',
 'Friends of Morningside Park',
 'Booker T. Washington Playground',
 'Playground One Twenty Five CXXV',
 '105th Street Dog Run',
 'Roosevelt Triangle',
 'Hancock Park',
 "West 111th Street People's Garden",
 'Stuyvesant Square Park',
 'Vincent F. Albano, Jr. Playground',
 'revive ad',
 'Preservation Green LLC',
 'Lower East Side Playground',
 'Abe Lebewohl Park',
 'Irish Hunger Memorial',
 'Pier 25 at Hudson River Park',
 'Teardrop Park',
 'Washington Market Park',
 'Rockefeller Park',
 'Bowling Green',
 'Battery Park City Parks',
 'Conservancy-Historic Battery',
 'Zuccotti Park',
 'Robert F. Wagner Jr. Park',
 'Governors Island Alliance',
 'Liberty',
 'City Hall Park',
 'Esplanade Plaza',
 'Dunningham Triangle',
 'Manuel de Dios Unanue Triangle',
 "O'Connor's Tail",
 'Square Wave',
 'Linden Court Garden',
 'Jackson Heights Green Space',
 'Cambridge Court',
 'Triangle 90',
 'Laburnum Court Garden',
 'Queens School Park Gym',
 'Answer Triangle',
 'Jacob Riis Triangle',
 'Metro Triangle',
 'GreenThumb Compound',
 'Greenstreet',
 'Gantry Plaza State Park - Ranger Station',
 'Annadale Playground',
 'Federoff Triangle',
 'Yellowstone Park',
 'Joseph P. Seluga Garden',
 'Plaza 67',
 'Real Good Playground',
 'Barrier Playground',
 'Joseph. P Soloman Garden',
 'Austin Park Sitting Area',
 'Ampere Playground',
 'Bhatera,beanibazar playground',
 'Jhelc of Ozone Park',
 'Ruoff Triangle',
 'Catharine Turner Richardson Park',
 'Pembroke Avenue Community Garden',
 'Glenwood Landing',
 'Alameda Malls',
 'Joseph B. Hellmann Overlook',
 'Admiral Playground',
 "Udall's Cove Park Preserve",
 'Udalls Cove Preservation Committee',
 'Celebration Hall Maple Grove Cemetery',
 'Jean Laurent Botanica Inc',
 'George Eagle Carr Community Garden',
 'Ashmead Park',
 'Ditmars Playground',
 'Salvatore Totino Triangle',
 'Rockaway Beach',
 'Arverne Playground',
 'Cardozo Playground',
 'Beach Park',
 'Beach 54th Boardwalk Access',
 'Beach 52nd Boardwalk Access',
 'Weeping Beech Park',
 'Triangle Park',
 'Lost Community Civic Association Triangle',
 'The Great Lawn',
 'Tepper Triangle',
 'Xu practice park',
 'Sixteen Oaks Grove',
 'Spirit Playground',
 'Rainey Park',
 'Brookville Park',
 "Veteran's Square",
 'Veterans Triangle',
 'Playground',
 "Sparrow's Nest Community Garden",
 'Louis Simeone Park',
 'Corona Taxpayers Association',
 'Corona Health Sanctuary Playground',
 'Prayer Park',
 'Gwirtzman Triangle',
 'Patricia A. Brackley Park',
 'End of Ocean Promenade Belle Harbor Boardwalk',
 'Thursby Basin Park',
 'Almeda Playground',
 'Kohlreiter Square',
 'Rockaway Hip Hop Community Garden',
 'Rockaway Community Park',
 'Springfield Park',
 'Idlewild Environmental Center',
 'a',
 'American Triangle',
 'Park Of The Americas',
 'Corona Golf Playground',
 'Flushing Bay Promenade',
 'Summer at Kew Forest!',
 'Wallenberg Square',
 'MacDonald Park',
 'Kleiner Gardens Park',
 'Flagpole Green',
 'Forest Park Barking Lot',
 'Newcombe Square',
 'Willow Park Playground',
 'Water Hole Trail Head',
 'Pat Dolan Trail',
 'Fort Hill Park',
 'St. George Park',
 'Grassroot Landscaping',
 'Barrett Triangle',
 'Tompkinsville Park',
 'Mahoney Playground',
 'Liotti Ikefugi Playground',
 'Lt. Lia Playground',
 'Westervelt',
 'North Shore Esplanade Park',
 'Baker Square',
 'North Shore Waterfront Esplanade Park',
 'Tappen Park',
 'Serpentine Commons',
 'Hero Park',
 'Marciante Square',
 'Historic Tappen Park Community Partnership',
 'Jones Woods Park',
 'Skyline Playground',
 'Park plaza',
 'Inspiration Plaza',
 'The Living Roof',
 'Silver Lake Park',
 'Silver Lake Dog Run',
 'Roots of Piece Community Garden',
 'Bedford Green',
 'Norbert Leeseberg Perennial Garden',
 'Clove Lake Basketball',
 'Q Gardens Community Farm',
 'Lott Park',
 'Rogers/Tilden/Veronica Place Garden',
 'Home Decor',
 'Rogers Tilden Veronica Place Block Association Community Garden',
 'Hamilton Metz Field',
 'Wingate Park',
 "East Flatbush Children's Playground",
 'Tilden Playground',
 'Targee Street Triangle',
 'Maple Woods',
 'South Clove Road Cemetery',
 'Alarmingly Affordable',
 'De Matti Park',
 "The Fireman's Grove",
 'Graniteville Quarry Park',
 'Egbert Triangle',
 'Bobbie Lewis, Jr. Playground',
 "Mariner's Marsh Park",
 'Staats Circle',
 'Angel Circle',
 "Brady's Pond Park",
 'Old Town Playground',
 'Michael J. Leonard Memorial Plaza',
 'The Big Field',
 'Norway Triangle',
 'Dongan Playground',
 'Staten Playground',
 'Slater Creek',
 'Midland Playground',
 'Midland Field',
 'Gerard P. Dugan Playground',
 'Siedenburg Park',
 'Ida Court Playground',
 'Arbutus Creek Bluebelt',
 'Wegener Park',
 'New Springville Greenway',
 'Former New Springville Storehouse (now demolished)',
 'Schmul Park',
 'Independence Park',
 'Meredith Woods',
 'Willowbrook Park',
 'Father Macris Park',
 'Brown Lenora',
 'New York City Sanitation Department',
 'save flushing meadows corona park',
 'Ruppert Park',
 'Tennis Wall',
 'DeKovats Triangle',
 'East Pinetum',
 'Astor Chinese Garden Court',
 'Pier 26 at Hudson River Park',
 'Titanic Memorial Park',
 'Tribeca Dog Run',
 'Duane Park',
 'Big Screen Plaza',
 'Kaltenmeier Playground',
 'Buono Beach',
 'Alice Austen Park',
 'Maker Park',
 'The Cove in Stapleton Waterfront Park',
 'Naples Playground',
 'Lopez Playground',
 'Eibs Pond Park',
 "Reed's Basket Willow Swamp Park",
 'Haven Esplanade',
 'Forest Mall',
 'Allison Pond Park',
 'Goodhue Park',
 'Forest Mall GreenStreets',
 'Silver Lake Reservoir',
 'Markham Playground',
 'Linden Sitting Area',
 'Willmohr Triangle',
 'Kennedy King Playground',
 'Gethsemane Garden',
 'Hendrix Street Community Garden',
 'Big Red Garden',
 '400 Montauk Avenue Block Association Garden',
 'Family Community Garden',
 'Elton Playground',
 'Linwood Playground',
 'Warwick St. Greenery Glow Garden',
 'Nehemiah Ten Community Garden',
 'Sledge Playground',
 'Bildersee Playground',
 'Ecology Park',
 'High Achievers',
 'Lindower Park',
 'Father Patrick Kenny Triangle',
 'Major Mark Park',
 'Joseph Austin Playground',
 'Captain Tilly Park',
 'Kingsford Triangle',
 '28th St Midtown Hotel',
 'Invictus Triangle',
 'Clearview Beach',
 'Springfield garden',
 'Emerald Playground',
 'Electric Playground',
 'Chris Postiglione Triangle',
 'Paul Raimonda Playground',
 'Carlos R. Lillo Park',
 'Wilson Park',
 'Steinway Community Playground',
 'McKinley Square',
 'Beatty Plaza',
 'Youth Village Playground',
 'Reverend Lena Irons Unity Park',
 'Hines Park',
 'Reverend Polite Playground',
 'Tiffany Playground',
 'Crotona Park',
 'Little Green Garden',
 '811 Family and Friends Garden',
 'Latinos Unidos Garden.',
 'Rainbow Garden',
 'Family Group Garden',
 "Bette's Rose Garden",
 'Mott Playground',
 'P.S. 29 Ball Field',
 'Joyce Kilmer Park',
 'Walton Slope',
 'Goble Playground',
 'Jennie Jerome Playground',
 'Sedgwick Playground',
 'Featherbed Triangle',
 'Morris Mesa',
 'Half-Nelson Playground',
 'Virginia Park',
 'University Malls',
 'Dred Scott Bird Sanctuary',
 'Bridge Park',
 'Claremont Park',
 'Echo Triangle',
 'Peace Park',
 'Mount Hope Garden',
 'Devanney Triangle',
 'Davidson Playground',
 'Stop & Go Playground',
 'Dag Hammarskjöld Plaza',
 'Tramway Plaza',
 'Paley Park',
 '805 Third Avenue Crystal Pavilion',
 'British Memorial Garden Trust Ny',
 'Katharine Hepburn Garden',
 'East River Greenway',
 'Privately Owned Public Space - Carlton Towers',
 'Smiling Hogshead Ranch',
 'Newtown Creek Nature Walk',
 'Murray Playground',
 'Manhattan Avenue Park',
 'Franklin D. Roosevelt Four Freedoms State Park',
 'Robert Moses Playground',
 'St. Vartan Park',
 'Tudor City Greens',
 'Greenacre Park',
 'Ralph Bunche Park',
 'Peter Detmold Park',
 'Sutton Place Park South',
 'Down to Earth Garden',
 'Joseph C. Sauer Park',
 'Murphy Brothers Playground',
 'Stuyvesant Cove Park',
 'Peter Cooper Village Lawn',
 'Peter Cooper Village',
 'Madison Square Park',
 'Union Square Park',
 "Jemmy's Dog Run",
 'Gramercy Park',
 'Worth Square',
 'Gramercy Park Photot II',
 'Union Square Dog Run',
 'Kaya’s World',
 'Tesla Blammies',
 'Torsney/Lou Lodati Playground',
 'Grace Lee Boggs Garden',
 'Sunnyside Books exchange',
 'Torsney Dog Run',
 'Sabba Park',
 'L/CPL Thomas P. Noonan Jr. Playground',
 'Sunnyside Park Bench',
 'Lawrence Virgilio Playground',
 'Steinmann Triangle',
 'Doughboy Plaza',
 'Doughboy Plaza Dog Run',
 'Lic Roots',
 'Kosciusko Bridge Walkway & Bike Path',
 'Brooklyn Bridge Park',
 'Brooklyn War Memorial',
 'Empire Fulton Ferry',
 'Pier 1 Playground',
 'GRAN ELÉCTRICA',
 'Hillside Dog Park',
 'Pier 35',
 'Brooklyn Bridge Park - Pier 1',
 'Harbor View Lawn',
 'Bar and Grill Park',
 'Pier 3 Greenway Terrace',
 'Dog Park East River Esplanade South',
 'Brooklyn Bridge Park Dog Run',
 'Corlears Hook Park',
 'Commodore Barry Park',
 'Pearl Street Triangle (Dumbo Improvement District)',
 'John Street Park',
 'Main St. Playground',
 'Main Street Park',
 'McLaughlin Park',
 "St. John's Park",
 'Softball Field',
 'Decatur Playground',
 'Callahan-Kelly Playground',
 "McLeod's Community Garden",
 'Aberdeen Street Community Garden',
 'Hull Street',
 'Phoenix',
 'Cooper Street',
 'Hull Street Garden',
 'Thomas Boyland Park',
 'Granite Street Block Association Garden',
 'Eastern Parkway Extension',
 'Moffat Street Community Garden',
 'Marion Hopkinson Playground',
 'Hilltop Playground',
 'Vinegar Hill Community Garden & Public Compost Drop-Off (Sundays 12:30-2p)',
 'Todt Hill Woodlands',
 'Christopher J. Igneri Playground',
 'Richmond Parkway',
 'Todt Hill-Staten Island High Point',
 'Saint Francis woodlands',
 'Manor Houses Park',
 'Clay Pit Ponds Interpretive Center',
 'Sharrotts Pond',
 'Woodbrooke Estates Community Park',
 'Amundsen Trail',
 'Avenue R Malls',
 'Gravesend Triangle',
 'Middle Village Playground',
 'Harris Brothers Park',
 'Bloessers Pond State Wetland Conservation Area',
 'Woodhull Park',
 'Historic Richmond Town',
 'Willowbrook Parkway',
 'North Mount loretto State Forest parking area',
 'Long Pond Park',
 'Frank Golden Park',
 "Powell's Cove Park",
 'Harvey Park',
 'Greenstreets',
 'McKee Triangle',
 'Graziella Gardens',
 'Essex Street',
 'Highland Park Community Garden',
 'George Walker Jr. Park',
 'Sperandeo Brothers Playground',
 'Sam Leggio Triangle',
 'Playground 278',
 'Kelly Park Playground',
 'Corporal Wiltshire Square',
 'Kingsway Gardens',
 'Bronx and Pelham Parkway',
 'Mosholu-Pelham Greenway',
 'Pelham Parkway',
 'Mazzei Playground',
 'Zimmerman Playground',
 'Boston Garden',
 'Pelham Academy Garden',
 'Eastchester Playground',
 'Allerton Playground',
 'Parkside Playground',
 'Major General John R. Brown Triangle',
 'Heath Triangle',
 'Barnhill Square',
 'Muller Triangle',
 'Poe Park',
 'St. James Park',

In [ ]:
# Export cleaned dataset to csv
gp_schools.to_csv('google_places_schools_clean.csv')

### Google Places - Transit (when dropping duplicates, lose alot of unique rows)

In [ ]:
# Load dataset
gp_transit = pd.read_csv('google_places_transit.csv')
gp_transit.head()

,business_status,icon,icon_background_color,icon_mask_base_uri,name,place_id,reference,scope,types,vicinity,...,geometry.viewport.southwest.lng,plus_code.compound_code,plus_code.global_code,photos,rating,user_ratings_total,opening_hours.open_now,price_level,permanently_closed,req_cat
0,OPERATIONAL,https://maps.gstatic.com/mapfiles/place_api/ic...,#7B9EB0,https://maps.gstatic.com/mapfiles/place_api/ic...,Baychester Av/Pitman Av,ChIJhYtMWNTywokRmxLQLfbyUhg,ChIJhYtMWNTywokRmxLQLfbyUhg,GOOGLE,"['transit_station', 'point_of_interest', 'esta...",United States,...,-73.846383,"V5W3+HX New York, NY, USA",87G8V5W3+HX,NaN,NaN,NaN,NaN,NaN,NaN,transit_station
1,OPERATIONAL,https://maps.gstatic.com/mapfiles/place_api/ic...,#7B9EB0,https://maps.gstatic.com/mapfiles/place_api/ic...,Baychester Av/Edenwald Av,ChIJbST_YdXywokRJjZ5163rsOI,ChIJbST_YdXywokRJjZ5163rsOI,GOOGLE,"['transit_station', 'point_of_interest', 'esta...",United States,...,-73.845095,"V5V4+6G New York, NY, USA",87G8V5V4+6G,NaN,NaN,NaN,NaN,NaN,NaN,transit_station
2,OPERATIONAL,https://maps.gstatic.com/mapfiles/place_api/ic...,#7B9EB0,https://maps.gstatic.com/mapfiles/place_api/ic...,Nereid Av/Bruner Av,ChIJzWjJztbywokRtc3_GWi-3so,ChIJzWjJztbywokRtc3_GWi-3so,GOOGLE,"['transit_station', 'point_of_interest', 'esta...",United States,...,-73.850993,"V5X2+94 New York, NY, USA",87G8V5X2+94,NaN,NaN,NaN,NaN,NaN,NaN,transit_station
3,OPERATIONAL,https://maps.gstatic.com/mapfiles/place_api/ic...,#7B9EB0,https://maps.gstatic.com/mapfiles/place_api/ic...,Nereid Av/Byron Av,ChIJcYpjadfywokRFmPl3dBM4V8,ChIJcYpjadfywokRFmPl3dBM4V8,GOOGLE,"['transit_station', 'point_of_interest', 'esta...",United States,...,-73.853909,"V4XW+4X New York, NY, USA",87G8V4XW+4X,NaN,NaN,NaN,NaN,NaN,NaN,transit_station
4,OPERATIONAL,https://maps.gstatic.com/mapfiles/place_api/ic...,#7B9EB0,https://maps.gstatic.com/mapfiles/place_api/ic...,Baychester Ave/Pitman Av,ChIJg7ZlV9TywokR9IEhSF7JIPI,ChIJg7ZlV9TywokR9IEhSF7JIPI,GOOGLE,"['transit_station', 'point_of_interest', 'esta...",Bronx,...,-73.846445,"V5W3+HX New York, NY, USA",87G8V5W3+HX,"[{'height': 4032, 'html_attributions': ['<a hr...",4.0,1.0,NaN,NaN,NaN,transit_station

In [ ]:
gp_transit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5996 entries, 0 to 5995
Data columns (total 25 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   business_status                  5996 non-null   object
 1   icon                             5996 non-null   object
 2   icon_background_color            5996 non-null   object
 3   icon_mask_base_uri               5996 non-null   object
 4   name                             5996 non-null   object
 5   place_id                         5996 non-null   object
 6   reference                        5996 non-null   object
 7   scope                            5996 non-null   object
 8   types                            5996 non-null   object
 9   vicinity                         5994 non-null   object
 10  geometry.location.lat            5996 non-null   float64
 11  geometry.location.lng            5996 non-null   float64
 12  geometry.viewport.northeast.lat  5996 non-null   float64
 13  geometry.viewport.northeast.lng  5996 non-null   float64
 14  geometry.viewport.southwest.lat  5996 non-null   float64
 15  geometry.viewport.southwest.lng  5996 non-null   float64
 16  plus_code.compound_code          5996 non-null   object
 17  plus_code.global_code            5996 non-null   object
 18  photos                           1305 non-null   object
 19  rating                           1831 non-null   float64
 20  user_ratings_total               1831 non-null   float64
 21  opening_hours.open_now           9 non-null      object
 22  price_level                      4 non-null      float64
 23  permanently_closed               5 non-null      object
 24  req_cat                          5996 non-null   object
dtypes: float64(9), object(16)
memory usage: 1.1+ MB

In [ ]:
gp_transit.columns

Index(['business_status', 'icon', 'icon_background_color',
       'icon_mask_base_uri', 'name', 'place_id', 'reference', 'scope', 'types',
       'vicinity', 'geometry.location.lat', 'geometry.location.lng',
       'geometry.viewport.northeast.lat', 'geometry.viewport.northeast.lng',
       'geometry.viewport.southwest.lat', 'geometry.viewport.southwest.lng',
       'plus_code.compound_code', 'plus_code.global_code', 'photos', 'rating',
       'user_ratings_total', 'opening_hours.open_now', 'price_level',
       'permanently_closed', 'req_cat'],
      dtype='object')

In [ ]:
# Drop irrelevant or repetitive columns
gp_transit.drop(columns=['business_status','icon','icon_background_color','icon_mask_base_uri',
                    'photos','place_id','reference','scope','types','geometry.viewport.northeast.lat',
                    'geometry.viewport.northeast.lng','geometry.viewport.southwest.lat',
                    'geometry.viewport.southwest.lng','opening_hours.open_now',
                    'plus_code.compound_code','plus_code.global_code','permanently_closed'], 
                    inplace=True)

gp_transit.head()

,name,vicinity,geometry.location.lat,geometry.location.lng,rating,user_ratings_total,price_level,req_cat
0,Baychester Av/Pitman Av,United States,40.896448,-73.845020,NaN,NaN,NaN,transit_station
1,Baychester Av/Edenwald Av,United States,40.893101,-73.843734,NaN,NaN,NaN,transit_station
2,Nereid Av/Bruner Av,United States,40.898460,-73.849651,NaN,NaN,NaN,transit_station
3,Nereid Av/Byron Av,United States,40.897842,-73.852588,NaN,NaN,NaN,transit_station
4,Baychester Ave/Pitman Av,Bronx,40.896377,-73.845116,4.0,1.0,NaN,transit_station

In [ ]:
# Rename columns for better interpretability
gp_transit.columns = ['Name','Address','Latitude','Longitude','Rating','Reviews','Price','Category']
gp_transit = gp_transit[['Name','Price','Rating','Reviews','Address','Latitude','Longitude','Category']]
print(gp_transit.shape)
gp_transit.head()

(5996, 8)

,Name,Price,Rating,Reviews,Address,Latitude,Longitude,Category
0,Baychester Av/Pitman Av,NaN,NaN,NaN,United States,40.896448,-73.845020,transit_station
1,Baychester Av/Edenwald Av,NaN,NaN,NaN,United States,40.893101,-73.843734,transit_station
2,Nereid Av/Bruner Av,NaN,NaN,NaN,United States,40.898460,-73.849651,transit_station
3,Nereid Av/Byron Av,NaN,NaN,NaN,United States,40.897842,-73.852588,transit_station
4,Baychester Ave/Pitman Av,NaN,4.0,1.0,Bronx,40.896377,-73.845116,transit_station

In [ ]:
# Check for unique values
unique_values(gp_transit)

Column Name: Name
# of Unique Values: 4339
Unique Values: ['Baychester Av/Pitman Av' 'Baychester Av/Edenwald Av'
 'Nereid Av/Bruner Av' ... 'Vanderbilt Ave/Hillside Ave'
 'Van Duzer St/Baring Pl' 'Van Duzer St/Roff St']
==============================================================
Column Name: Price
# of Unique Values: 2
Unique Values: [nan  2.]
==============================================================
Column Name: Rating
# of Unique Values: 36
Unique Values: [nan 4.  5.  4.5 1.  3.  3.4 2.  3.1 3.3 4.8 2.6 3.8 4.4 4.6 2.5 4.2 3.7
 4.3 4.7 2.9 3.5 2.7 3.9 4.1 3.6 2.3 1.8 2.8 2.1 1.5 2.4 1.9 4.9 3.2 1.7]
==============================================================
Column Name: Reviews
# of Unique Values: 119
Unique Values: [      nan 1.000e+00 2.000e+00 1.900e+01 4.000e+00 5.800e+01 3.000e+00
 5.000e+00 2.900e+01 4.700e+01 5.900e+01 3.100e+01 3.500e+01 7.000e+00
 9.700e+01 1.040e+02 1.200e+02 8.500e+01 8.000e+00 1.170e+02 5.400e+01
 6.900e+01 1.100e+01 4.300e+02 6.000e+00 3.600e+01 3.300e+01 7.000e+01
 7.700e+01 1.700e+01 2.300e+01 2.500e+01 4.500e+01 5.100e+01 5.200e+01
 3.400e+01 7.300e+01 3.700e+01 1.000e+02 1.160e+02 3.800e+01 6.300e+01
 4.800e+01 4.100e+01 4.000e+01 4.600e+01 9.600e+01 9.500e+01 1.000e+01
 4.300e+01 1.060e+02 3.290e+02 1.600e+01 3.200e+01 7.500e+01 5.600e+01
 7.600e+01 1.820e+02 7.400e+01 1.470e+02 5.330e+02 1.840e+02 1.010e+02
 3.000e+02 4.530e+02 1.300e+01 4.948e+03 3.460e+02 1.530e+02 2.000e+01
 6.010e+03 1.480e+02 3.110e+02 3.420e+02 1.120e+02 2.120e+02 6.800e+01
 1.030e+02 8.600e+01 1.400e+01 1.660e+02 4.200e+01 1.200e+01 1.020e+02
 6.000e+01 5.700e+01 1.150e+02 6.100e+01 9.000e+00 1.080e+02 1.500e+01
 5.500e+01 4.750e+02 9.800e+01 8.300e+01 7.100e+01 2.700e+01 2.300e+02
 4.900e+01 8.100e+01 6.200e+01 1.800e+01 1.250e+02 5.300e+01 6.700e+01
 8.400e+01 6.020e+02 2.400e+01 2.800e+01 2.100e+01 1.230e+02 2.160e+02
 3.650e+02 6.400e+01 1.100e+02 6.600e+01 1.070e+02 1.140e+02 1.370e+02]
==============================================================
Column Name: Address
# of Unique Values: 93
Unique Values: ['United States' 'Bronx' '3320 Tillotson Avenue, The Bronx'
 'Boston Road, The Bronx' '4065 10th Avenue, New York'
 '402 Gun Hill Road, Bronx' '417 East Fordham Road, The Bronx' 'The Bronx'
 nan '318 Bryant Avenue, The Bronx' '1565 Odell Street, The Bronx'
 'New York' 'Brooklyn' '53rd Street, Brooklyn'
 'Greenpoint Avenue, Brooklyn' 'Avenue U, Brooklyn'
 'Ocean Parkway, Brooklyn' 'Avenue M, Brooklyn' 'Newkirk Plaza, Brooklyn'
 'Fort Hamilton Parkway, New York' 'DeKalb Avenue, Brooklyn'
 'York Street &, Jay Street, Brooklyn'
 'Freedom#8573311~!# New York US, Brooklyn' '70 Hamilton Avenue, Brooklyn'
 'Pier 12 # 112, Brooklyn' 'Smith Street, Brooklyn' '9th Street, Brooklyn'
 '72 Bowne St, Brooklyn' 'South Red Hook, 699 Columbia Street, Brooklyn'
 '120 Willoughby Avenue, Brooklyn' 'Fulton Street, Brooklyn'
 'Greene Avenue, Brooklyn' '3848 Atlantic Avenue, Brooklyn'
 '36 Snediker Avenue, Brooklyn' 'Church Avenue, Brooklyn'
 'Beverley Road, Brooklyn' 'Bedford Avenue, Brooklyn'
 '807 West 177th Street, New York'
 '86th St between 3rd and Lexington,, New York' '2nd Avenue, New York'
 'Broadway, New York' '11th Ave & W 36th St, New York'
 '380-394 11th Avenue, New York' '550 West 34th Street, New York'
 '1470 Broadway, New York' '524 West 46th Street, New York'
 '89 East 42nd Street, New York' 'East 41st Street, New York'
 '34 West 31st Street, New York' 'FDR Drive &, East 34th Street, New York'
 '101 6th Avenue, New York' 'Ave of the Americas, New York'
 'Vesey Street, New York' 'Bowery' '135 Christopher Street, New York'
 'Battery Place, New York' '140 West Street, New York'
 'FDR Drive, New York' '10 South Street, New York'
 '80 Broad Street, New York' 'Astoria Boulevard, Queens' 'Queens'
 'Roosevelt Ave &, 74th Street' '32-22 91st Street, East Elmhurst'
 'Elmhurst Avenue, Queens' '66-99 Fresh Pond Road, Queens'
 'Queens Boulevard, Rego Park' '63rd Drive, Queens'
 '85th St &, Jamaica Avenue, Queens' '20925 35th Avenue, Bayside' 'NY'
 '336 Far Rockaway Boulevard, Queens' 'Far Rockaway' 'Glen Oaks'
 '179-03 New York 25, Jamaica' '179th Street, Queens' 'Rockaway Park'
 '75th Avenue, Queens' '71st Avenue, Forest Hills'
 '1 Bay Street, Staten Island' 'Cortelyou Road, Brooklyn'
 '340 Huguenot Avenue, Staten Island'
 '1 Avenue &, East 2nd Street, New York' 'West 30th Street, New York'
 'Hillside Avenue &, 168th Street, Queens' '169th Street, Queens'
 '425 Park Avenue, New York' '1-5 East 59th Street, New York'
 '54th Ave on, 2nd Street, Long Island City'
 'Freedom#8573311~!# New York US, Queens' 'East 23rd Street, New York'
 '46th Street, Queens' 'Whitestone']
==============================================================
Column Name: Latitude
# of Unique Values: 5376
Unique Values: [40.896448  40.8931005 40.8984605 ... 40.614979  40.618587  40.617249 ]
==============================================================
Column Name: Longitude
# of Unique Values: 5328
Unique Values: [-73.8450205 -73.8437345 -73.8496515 ... -74.085136  -74.086121
 -74.086586 ]
==============================================================
Column Name: Category
# of Unique Values: 1
Unique Values: ['transit_station']
==============================================================

In [ ]:
# Check for nulls
gp_transit.isnull().sum()

Name            0
Price        5992
Rating       4165
Reviews      4165
Address         2
Latitude        0
Longitude       0
Category        0
dtype: int64

There are null values in price, price, rating, and reviews. However it has low impact, as it simply signifies that some forms of transit have no price, rating, or review information, which does not affect our objective.

In [1]:
# Check for duplicates
gp_transit = gp_transit[gp_transit.duplicated()]
len(gp_transit)

NameError: name 'gp_transit' is not defined

In [ ]:
# Duplicate rows found, remove from DataFrame
gp_transit = gp_transit.drop_duplicates().reset_index(drop=True)

# Confirm removal
gp_transit[gp_transit.duplicated()]

Empty DataFrame
Columns: [Name, Price, Rating, Reviews, Address, Latitude, Longitude, Category]
Index: []

In [ ]:
# See variance in numeric feautures
gp_transit.describe()

       Price      Rating      Reviews    Latitude   Longitude
count    1.0  156.000000   156.000000  509.000000  509.000000
mean     2.0    3.972436   108.750000   40.697372  -73.975161
std      NaN    1.091644   623.715719    0.095966    0.113418
min      2.0    1.000000     1.000000   40.519108  -74.230279
25%      2.0    3.600000     1.000000   40.612717  -74.069244
50%      2.0    4.100000     2.000000   40.699380  -73.968803
75%      2.0    5.000000    22.250000   40.757742  -73.907362
max      2.0    5.000000  6010.000000   40.893913  -73.712307

In [ ]:
# Preview cleaned dataset
print(gp_transit.shape)
gp_transit

(509, 8)

,Name,Price,Rating,Reviews,Address,Latitude,Longitude,Category
0,Henry Hudson Pky E/w 246 St,NaN,NaN,NaN,United States,40.893724,-73.907913,transit_station
1,Henry Hudson Pkwy W/W 239 St,NaN,NaN,NaN,United States,40.889652,-73.909019,transit_station
2,W 239 St/Riverdale Av,NaN,4.0,2.0,United States,40.889137,-73.908577,transit_station
3,Henry Hudson Pkwy E/W 239 St,NaN,NaN,NaN,United States,40.889648,-73.908051,transit_station
4,Henry Hudson Pkwy W/W 246 St,NaN,5.0,2.0,United States,40.892857,-73.908569,transit_station
...,...,...,...,...,...,...,...,...
504,Vanderbilt Av/Tompkins Av,NaN,NaN,NaN,United States,40.620221,-74.077191,transit_station
505,Targee St/Osgood Ave,NaN,NaN,NaN,United States,40.619289,-74.084633,transit_station
506,Targee St/Young St,NaN,1.0,1.0,United States,40.620682,-74.084282,transit_station
507,Targee St/Sobel Court,NaN,NaN,NaN,United States,40.613884,-74.084702,transit_station
508,Van Duzer St/Oakland Terrace,NaN,5.0,1.0,United States,40.620045,-74.085930,transit_station

In [ ]:
len(gp_transit['Name'].unique().tolist())
gp_transit['Name'].unique().tolist()

['Henry Hudson Pky E/w 246 St',
 'Henry Hudson Pkwy W/W 239 St',
 'W 239 St/Riverdale Av',
 'Henry Hudson Pkwy E/W 239 St',
 'Henry Hudson Pkwy W/W 246 St',
 'Henry Hudson Pkwy E/W 246 St',
 'W 230 St / Broadway',
 'Broadway/w 231 St',
 'Baychester Av/Aldrich St',
 'Asch Loop/Bartow Av',
 'Bainbridge Av/E Mosholu Py N',
 'Bainbridge Av/E 204 St',
 'Boston Rd/Vyse Av',
 'E 138 St/Jackson Av',
 'E 138 St/Cypress Av',
 'E 135 St/Cypress Ave',
 'E 138 St/Willow Av',
 'E 138 St/Bruckner Blvd',
 'Cypress Av',
 'E 138 St & St Anns Av',
 "E 135 St/St Ann's Av",
 "E 138 St/St Ann's Ave",
 'St Anns Avenue & East 138 Street',
 'Prospect Av/E 156 St',
 'Tiffany St/Randall Av',
 'E 163 St/Tinton Av',
 'E 163 St/Trinity Av',
 'E 163 St/3 Av',
 'Williamsbridge Rd/Rhinelander Av',
 'E Tremont Av/Castle Hill Av',
 'Fordham',
 '3 Av/E 188 St',
 'Webster Av/E 187 St',
 'Kappock St/Knolls Cres',
 'Kappock St/Johnson Av',
 'Irwin Av/Johnson Av',
 'Henry Hudson Pkwy E/W 235 St',
 'E Tremont Av/Sampson Av',
 'E Tremont Av/Miles Av',
 'E Tremont Av/Schley Av',
 'Harding Av/Throgs Neck Bl',
 'E Tremont Ave/Miles Av',
 'Harding Av/E Tremont Av',
 'E Tremont Ave/Lawton Av',
 'E Gun Hill Rd/Bronxwood Av',
 'Allerton Av/Westervelt Av',
 'Allerton Av/Lodovick Av',
 'Eastchester Rd/Schorr Pl',
 'Bartow Av/Gunther Av',
 'Allerton Ave/Westervelt Av',
 '167 St',
 '167 Street Station (4)',
 'Castle Hill Av/Westchester Av',
 'Westchester Av/Olmstead Av',
 'Fort Hamilton Parkway Station',
 'Atlantic Av/Hicks St',
 'Atlantic Av/Henry St',
 'Atlantic Av/Clinton St',
 'Court St/Kane St',
 'Court St/Warren St',
 'Ceres Atlantic Terminals Inc',
 'Smith-9th Streets',
 '9 St/Smith St',
 'Smith St/W 9 St',
 'Smith St/Nelson St',
 'Court St/W 9 St',
 'Smith St/5 St',
 'Flatbush Ave/St Marks Av',
 'Emmons Av/E 26 St',
 '86 St/5 Av',
 'Batchelder St / Av Z',
 'Willoughby St Parking',
 'Lafayette Av',
 'Myrtle Av/Clinton Av',
 'Vanderbilt Av/Myrtle Av',
 'Vanderbilt Av/Willoughby Av',
 'Myrtle Av/Carlton Av',
 'Vanderbilt Av/De Kalb Av',
 'Lafayette Av/Vanderbilt Av',
 'DeKalb Av',
 'Atlantic Av - Barclays Ctr',
 'Borough Hall',
 'Atlantic Av/Nevins St',
 'Atlantic Av/Bond St',
 'Livingston St/Nevins St',
 'Atlantic Av/Hoyt St',
 'Hoyt - Schermerhorn',
 'Fulton St/Bond St',
 'Atlantic Av/Smith St',
 'Smith St/Livingston St',
 'Atlantic Av/Crescent St',
 'E 66 St / Ohio Walk',
 'E 66 St/Ohio Walk',
 'E 66 St / Mayfair Dr N',
 'E 66 St/Mayfair Dr N',
 'E 66 St/Bassett Ave',
 'E 66 St / Bassett Av',
 'Washington Plz/Washington Plz',
 'Marcy Av',
 'Roebling St/Grand St',
 'Rodney St/S 5 St',
 'Borinquen Pl/S 1 St',
 'Grand St/Bedford Av',
 'Broadway/Bedford Av',
 'Broadway/Hooper St',
 'Marcy Ave/S 4 St',
 'Washington Plaza/Washington Plaza',
 'Williamsburg Bridge Plaza/Lane 4',
 'Washington Plz/LANE3',
 'Coney Island Av/Av O',
 'Coney Island Av/Av N',
 'Coney Island Av/Av M',
 'ft Hamilton Py/90 St',
 'Kingsbridge Bus Depot',
 'W 135 St/Broadway',
 'Amsterdam Av/w 135 St',
 'St Nicholas Av/w 141 St',
 'Hampton Jitney Stop',
 'Lexington Ave & E 86th St',
 'E 72 St/2 Av',
 'Lexington Av/E 72 St',
 '77 St',
 'York Av/E 69 St',
 'York Av/E 67 St',
 'E 72 St/York Av',
 'Times Sq - 42 St',
 'W 42 St/8 Av',
 'W 34 St/7 Av',
 'Grand Central Terminal',
 '3 Avenue & East 39 St',
 'Newark Airport Express Stop Grand Central',
 '42 St & Lexington Av & 3 Av',
 'Grand Central - 42 St',
 'Madison Av/E 45 St',
 'Rockledge Bus Tour',
 'Astor Pl',
 '6 Av & Grand St',
 'Hudson St/Spring St',
 'Prince St Station',
 'E Broadway/Pike St',
 'Bowery/Grand St',
 'Bowery/Bayard St',
 'Allen St/Delancey St',
 'Canal St',
 'Broadway/Walker St',
 'Av of the Americas/Spring St',
 'Broadway-Lafayette St Subway Station',
 'W Houston St/Sullivan St',
 'Spring Street',
 'Centre St/Broome St',
 'Cleveland Pl/Spring St',
 '6 Av/W Broadway',
 'W 4 St',
 'Cathedral Py/Amsterdam Av',
 '1 Av/E 14 St',
 'Brookfield Place / Battery Park City',
 'North End & Warren St',
 'Greenwich St/Battery Pl',
 'Broadway / Liberty St',
 'Battery Pl & 3rd Pl',
 'South End & Rector Pl',
 'World Trade Center',
 'Jackson Hts - Roosevelt Av',
 '82 St - Jackson Hts',
 'Roosevelt Av/80 St',
 'Lefferts Bl /Jamaica Av',
 'Lefferts Bl /Hillside Av',
 'Lefferts Bl /85 Av',
 'Jamaica Av/124 St',
 'Northern Bl/248 St',
 'Northern Blvd/Marathon Pkwy',
 'Little Neck Pkwy/Marathon Pkwy',
 'Little Neck Pkwy/43 Av',
 'Northern Blvd & Brownvale La',
 'Guy R Brewer Bl /South Rd',
 'Guy R Brewer Bl /Liberty Av',
 'Merrick Bl/Liberty Av',
 'Union TP/258 St',
 'Union TP/260 St',
 '243 St/Memphis Av',
 '243 St/142 Av',
 '57 Av/99 St',
 '62 Dr/97 St',
 '63 Rd/98 Pl',
 '99 St/Christie Av',
 'Newport Av/Beach 135 St',
 'Rockaway Beach Bl/B 135 St',
 'Rockaway Beach Bl/Beach 133 St',
 'Rockaway Beach Bl/Beach 137 St',
 'Newport Av/Beach 140 St',
 'Rockaway Beach Bl/B 141 St',
 'Newport Av/Beach 138 St',
 'Newport Av/Beach 139 St',
 'Beach Channel Dr/Beach 67 St',
 'Beach Channel Dr/Beach 69 St',
 'Beach Channel Dr/Beach 63 St',
 'Beach Channel Drive & Beach 67 Street',
 'Beach Channel Dr/Beach 71 St',
 'Beach Channel Dr/Beach 59 St',
 'Beach 67 St',
 'Rockaway Beach Bl&Beach 67 St',
 'Rockaway Beach Bl/Beach 67 St',
 'Rockaway Beach Blvd & Beach 67th St',
 'Arverne Blvd/Beach 59 St',
 'Beach 59 St/Rockaway Freeway',
 'S Conduit Av/223 St',
 'Forest Hills - 71 Av',
 'Queens Bl/72 Av',
 'Westervelt Av/Crescent Av',
 'Broad St/Gordon St',
 'Broad St/Tompkins Av',
 'Arden Ave/Mosely Ave',
 'Victory Bl/Jersey St',
 'Jersey St/Castleton Av',
 'Jersey St/Brighton Av',
 'Central Av/Hyatt St',
 'Victory Bl/Theresa Pl',
 'Howard Av/Campus Rd',
 'Howard Ave/Campus Rd',
 'Howard Ave/Wagner College Drway',
 'Howard Ave/Wagner College Plaza',
 'Howard Av & Wagner College Dwy',
 'Ocean Av / Ditmas Av',
 'Flatbush Av/Beverly Rd',
 'Beverley Road',
 'Flatbush Ave/Tilden Av',
 'Flatbush Av/Albemarle Rd',
 'Ocean Ave/Ditmas Ave',
 'Church Av/E 18 St',
 'Church Av/Rugby Rd',
 'South Av/Arlington Pl',
 'Richmond Ter/South Av',
 'Holland Av/Benjamin Pl',
 'South Ave/Arlington Pl',
 'Arlington Pl/South Ave',
 'Arlington Pl/Northfield Ave',
 'Richmond Terrace/Post Ln',
 'Sand La/Hylan Bl',
 'MC Clean Av/Linwood Av',
 'Hylan Bl/w Fingerboard Rd',
 'SAND LA/McCLEAN AV',
 'Hylan Bl/Parkinson Av',
 'Hylan Bl/Midland Av',
 'Midland Av/Mason Av',
 'Midland Av/Hylan Blvd',
 'Midland Ave/Boundary Ave',
 'Hylan Bl/Great Kills Rd',
 'Amboy Rd/Arbutus Av',
 'Amboy Rd/Arbutus Ave',
 'Bricktown Mall/Shopping Center',
 'Rossville Ave/Opp Correll Ave',
 'Merrymount St/Shiloh St',
 'Merrymount St/Travis Av',
 'Richmond Av/Nome Av',
 'Merrymount St/Travis Ave',
 'Richmond Av/Draper Pl S',
 'Victory Bl/Burke Av',
 'Victory Bl/Wild Av',
 'Glen St/Victory Bl',
 'Victory Blvd/Burke Ave',
 'Victory Blvd/Leroy St',
 'Victory Blvd/Wild Ave',
 'Victory Blvd/Alberta Ave',
 'Glen St/Victory Blvd',
 'Victory Blvd/Glen St',
 'West Shore Expy/Victory Blvd',
 'West Shore Plaza/Chelsea St',
 'South Ave/West Shore Plaza',
 '86 St',
 'E 86 St/Madison Av',
 'E 86 St/2 Av',
 'Essex St/Delancey St',
 '1 Av/St Marks Pl',
 'Pearl St/Fulton St',
 'Park Row/Ann St',
 'Chambers St/Greenwich St',
 'Pennsylvania Station',
 '7 Av/W 34 St',
 '34 St - Penn Station',
 'Tompkins Av/Hylan Bl',
 'Bay St/Hylan Bl',
 'Tompkins Av/Hylan Blvd',
 'Hylan Blvd/Tompkins Av',
 'Bay St/Hylan Blvd',
 'Hylan Blvd/Vaughn St',
 'Tompkins Av/Townsend Av',
 'Tompkins Av/Chestnut Av',
 'Tompkins Av/Hill St',
 'Bay St/Edgewater St',
 'Bay St/Willow Av',
 'Bay St/Lynhurst Av',
 'Bay St/Chestnut Av',
 'Clove Rd/Grasmere Station',
 'Clove Rd/Neckar Av',
 'Clove Rd/w Fingerboard Rd',
 'Hylan Bl / Narrows Rd S',
 'Clove Rd/Mosel Ave',
 'Clove Rd/Elbe Ave',
 'Clove Rd/Neckar Ave',
 'Hylan Blvd/Narrows Rd S',
 'Clove Rd/Milford Dr',
 'Milford Dr/Endor Av',
 'Clove Rd/Howard Av',
 'Little Clove Rd/Seneca Av',
 'Clove Rd/Tioga St',
 'Howard Av/Clove Rd',
 'Targee St/Clove Rd',
 'Lafayette Av/Prospect Av',
 'Forest Av/Hart Bl',
 'Castleton Av/Kissel Av',
 'Walker St/Trantor Pl',
 'Morningstar Rd/Walker St',
 'Morningstar Rd/Kalver Pl',
 'Ralph Av/Church Av',
 'Church Av/Kings Hy',
 'Kings Hy/Linden Bl',
 'Kings Hy/Remsen Av',
 'Kings Hy/Snyder Av',
 'New Lots Av',
 'Av M / E 85 St',
 'Remsen Av/Av M',
 'Av L/Remsen Av',
 'Remsen Av/Av N',
 'Remsen Av/Av K',
 'Av L/E 85 St',
 'Av L/E 86 St',
 'Av L/E 87 St',
 'Av L/E 88 St',
 'Mill Av/Ralph Av',
 'Av N/Ralph Av',
 'Veterans Av/E 66 St',
 'E 66 St / Strickland Av',
 'Veterans Av/Av T',
 'Homelawn St/Highland Av',
 'Hillside Av/164 St',
 'Homelawn St/Gothic Dr',
 'Utopia Py/75 Av',
 'Horace Harding Exp/168 St',
 'Horace Harding Exp/170 St',
 '20 Av/47 St',
 '20 Av/45 St',
 'Prospect Av/Home St',
 'Boston Rd/E 166 St',
 '3 Av/E 150 St',
 'E 161 St/Melrose Av',
 'Melrose Av/E 158 St',
 'Elton Av/E 161 St',
 '3 Av/E 158 St',
 'Morris Av/E 165 St',
 '3 Av/E 161 St',
 'Macombs Rd/Goble Pl',
 'University Av/w 174 St',
 'E 170 St/Walton Av',
 'Edward L Grant Hy/University Av',
 'E 175 St/Jerome Av',
 'University Av/w 176 St',
 'E 170 St/Grand Concourse',
 'Macombs Rd/Featherbed Ln',
 'Macombs Rd/W 174 St',
 'E Tremont Av/Morris Av',
 'Jerome Av/E Tremont Av',
 'W Tremont Av/Davidson Av',
 'W Tremont Av/w 177 St',
 'Morris Av/E 174 St',
 'Burnside Av',
 'E Burnside Av/Morris Av',
 'W Burnside Av/Grand Av',
 'University Av/Morton Pl',
 'E 60 St &2 Av',
 'Lexington Av/63 St',
 'Champion Parking Corporation',
 'East 42 St & 1 Avenue',
 'East 34th Street',
 '1 Av/E 42 St',
 'E 42 St/2 Av',
 '3 Av/E 38 St',
 '3 Av/E 42 St',
 'E 34 St/3 Av',
 'E 42 St/Lexington Av',
 'E 14 St/Av C',
 'E 14 St/Av B',
 'Av C/E 12 St',
 'E 14 St/Av A',
 'Queens Bl/41 St',
 'Greenpoint Av/Hunters PT Av',
 '48 Av/Van Dam St',
 'Greenpoint Ave/38 St',
 '48 Av/35 St',
 'York St',
 'East River Ferry',
 'New York Water Taxi',
 'High Street',
 'Cadman Plaza W/Cadman Tower',
 'Clark St',
 'York St/Jay St',
 'Consolidated Bus Transit Inc',
 'Fulton St/Eastern Py',
 'Fulton St/Rockaway Av',
 'Broadway/Granite St',
 'Gold St/York St',
 'Sands St/Gold St',
 'Water St/Main St',
 'Front St/York St',
 'Old Fulton St/Prospect St',
 'Old Fulton St/Henry St',
 'Prospect St/Jay St',
 'Sands St/Jay St',
 'Old Fulton St/Hicks St',
 'Old Fulton St/Elizabeth Pl',
 'Cadman Plaza W/Middagh St',
 'High Street - Brooklyn Bridge',
 'Cadman Plaza W/Cranberry St',
 'York St/Gold St',
 'Manor Rd/Ocean Terrace',
 'Manor Rd/Harold St',
 'Manor Rd/Schmidts La',
 'Bloomingdale Rd/Shiel Ave',
 'Bloomingdale Rd/Correll Ave',
 'Woodrow Rd & Helios Pl',
 'Woodrow Rd/Lenevar Ave',
 'Bloomingdale Rd/Veterans Rd E',
 'Veterans Rd E/Bloomingdale Rd',
 'Richmond Rd/Hitchcock Av',
 'Richmond Rd/New Dorp La',
 'Amboy Rd/Petersons Ln',
 'Wilder Av/Richmond Rd',
 'Richmond Rd/Aultman Ave',
 'Richmond Rd/Spruce St',
 'Richmond Rd/Andrews Ave',
 'Richmond Rd/Wilder Av',
 'Richmond Rd/McKinley Ave',
 'Richmond Rd/Altoona Av',
 'Wilder Ave/Pinewood Ave',
 'Wilder Av/Pinewood Av',
 'RICHMOND RD/Mc Cully Ave',
 'Richmond Rd/Bishop St',
 'Rockland Ave/St George Rd',
 'Amboy Rd/Richmond Valley Rd',
 'Richmond Valley',
 'Kings Hy/E 22 St',
 'Ocean Av/Kings Hy',
 'Bronx Park E/Unionport Rd',
 'Williamsbridge Rd/Neill Av',
 'Pelham Pkwy/Williamsbridge Rd',
 'Morris PK Av/Radcliff Av',
 'Pelham Pkwy/Esplanade Ave',
 'Williamsbridge Rd/Boston Rd',
 'Bronxwood Av/Arnow Av',
 'Williamsbridge Rd/Mace Av',
 'Bronxwood Av/Adee Av',
 'B35 Bus Stop',
 'Church Ave/Nostrand Av',
 '11 Av & W 36 ST',
 '34 Street-Hudson Yards Subway Station',
 '34th St b/t 11th Ave and 12th Ave',
 'Megabus',
 'W 34 St/12 Av',
 '10 Av/W 40 St',
 'Beach Channel Dr/Beach 72 St',
 '40 Av/Vernon Bl',
 '21 St - Queensbridge',
 'Vernon Bl/38 Av',
 '21 St/40 Av',
 'Vanderbilt Av/Tompkins Av',
 'Targee St/Osgood Ave',
 'Targee St/Young St',
 'Targee St/Sobel Court',
 'Van Duzer St/Oakland Terrace']

In [ ]:
# Export cleaned dataset to csv
gp_transit.to_csv('google_places_transit_clean.csv')