In [1]:
import pandas as pd

In [13]:
# Load dataset
gp_poi = pd.read_csv('gp_pois_merged.csv')
gp_poi.head()

,business_status,icon,icon_background_color,icon_mask_base_uri,name,photos,place_id,price_level,rating,reference,...,geometry.viewport.southwest.lng,opening_hours.open_now,plus_code.compound_code,plus_code.global_code,permanently_closed,req_cat,result.formatted_address,Borough,Zip,Neighbourhood
0,OPERATIONAL,https://maps.gstatic.com/mapfiles/place_api/ic...,#FF9E67,https://maps.gstatic.com/mapfiles/place_api/ic...,Ripe Kitchen & Bar,"[{'height': 2471, 'html_attributions': ['<a hr...",ChIJ9aOdYiyNwokRS49czrNTQo4,2.0,4.3,ChIJ9aOdYiyNwokRS49czrNTQo4,...,-73.840150,True,"V5X6+7F Mount Vernon, NY, USA",87G8V5X6+7F,NaN,restaurant,"151 W Sandford Blvd, Mt Vernon, NY 10550, USA",NaN,NaN,NaN
1,OPERATIONAL,https://maps.gstatic.com/mapfiles/place_api/ic...,#FF9E67,https://maps.gstatic.com/mapfiles/place_api/ic...,New China Garden,"[{'height': 4032, 'html_attributions': ['<a hr...",ChIJcVDAYNfywokRPUaKrm0UBpg,1.0,3.9,ChIJcVDAYNfywokRPUaKrm0UBpg,...,-73.854798,True,"V4XW+5M The Bronx, NY, USA",87G8V4XW+5M,NaN,restaurant,"724 Nereid Ave, The Bronx, NY 10466, USA",Bronx,10466.0,Northeast Bronx
2,OPERATIONAL,https://maps.gstatic.com/mapfiles/place_api/ic...,#FF9E67,https://maps.gstatic.com/mapfiles/place_api/ic...,Dunkin',"[{'height': 3000, 'html_attributions': ['<a hr...",ChIJ--58aynzwokRqSvaRDKwX1M,1.0,3.8,ChIJ--58aynzwokRqSvaRDKwX1M,...,-73.850362,True,"V5R2+59 New York, NY, USA",87G8V5R2+59,NaN,restaurant,"980 E 233rd St, The Bronx, NY 10466, USA",Bronx,10466.0,Northeast Bronx
3,OPERATIONAL,https://maps.gstatic.com/mapfiles/place_api/ic...,#FF9E67,https://maps.gstatic.com/mapfiles/place_api/ic...,Subway,"[{'height': 766, 'html_attributions': ['<a hre...",ChIJAy-ibCnzwokRdmkKGd1Yzhw,1.0,3.6,ChIJAy-ibCnzwokRdmkKGd1Yzhw,...,-73.850357,True,"V5R2+58 New York, NY, USA",87G8V5R2+58,NaN,restaurant,"980 E 233rd St, The Bronx, NY 10466, USA",Bronx,10466.0,Northeast Bronx
4,OPERATIONAL,https://maps.gstatic.com/mapfiles/place_api/ic...,#FF9E67,https://maps.gstatic.com/mapfiles/place_api/ic...,Popeyes Louisiana Kitchen,"[{'height': 1192, 'html_attributions': ['<a hr...",ChIJXVacFSvzwokRa3VpQDuwRDE,1.0,3.8,ChIJXVacFSvzwokRa3VpQDuwRDE,...,-73.844710,True,"V5Q4+QJ New York, NY, USA",87G8V5Q4+QJ,NaN,restaurant,"1201 E 233rd St, The Bronx, NY 10466, USA",Bronx,10466.0,Northeast Bronx

In [18]:
nyc_geo = pd.read_csv('nyc_geo_latlon.csv') # neighbourhoods
nyc_geo.head()

,Borough,Neighbourhood,Latitude,Longitude,ll,Zipcode,ll_round
0,Bronx,Wakefield,40.894705,-73.847201,"40.89470517661,-73.84720052054902",10466.0,"40.895,-73.847"
1,Bronx,Co-op City,40.874294,-73.829939,"40.87429419303012,-73.82993910812398",10475.0,"40.874,-73.83"
2,Bronx,Eastchester,40.887556,-73.827806,"40.887555677350775,-73.82780644716412",10466.0,"40.888,-73.828"
3,Bronx,Fieldston,40.895437,-73.905643,"40.89543742690383,-73.90564259591682",10471.0,"40.895,-73.906"
4,Bronx,Riverdale,40.890834,-73.912585,"40.890834493891305,-73.9125854610857",10463.0,"40.891,-73.913"

In [15]:
gp_poi['ll_round'] = gp_poi['geometry.location.lat'].round(3).astype(str) + ',' + gp_poi['geometry.location.lng'].round(3).astype(str)
gp_poi.head()

,business_status,icon,icon_background_color,icon_mask_base_uri,name,photos,place_id,price_level,rating,reference,...,opening_hours.open_now,plus_code.compound_code,plus_code.global_code,permanently_closed,req_cat,result.formatted_address,Borough,Zip,Neighbourhood,ll_round
0,OPERATIONAL,https://maps.gstatic.com/mapfiles/place_api/ic...,#FF9E67,https://maps.gstatic.com/mapfiles/place_api/ic...,Ripe Kitchen & Bar,"[{'height': 2471, 'html_attributions': ['<a hr...",ChIJ9aOdYiyNwokRS49czrNTQo4,2.0,4.3,ChIJ9aOdYiyNwokRS49czrNTQo4,...,True,"V5X6+7F Mount Vernon, NY, USA",87G8V5X6+7F,NaN,restaurant,"151 W Sandford Blvd, Mt Vernon, NY 10550, USA",NaN,NaN,NaN,"40.898,-73.839"
1,OPERATIONAL,https://maps.gstatic.com/mapfiles/place_api/ic...,#FF9E67,https://maps.gstatic.com/mapfiles/place_api/ic...,New China Garden,"[{'height': 4032, 'html_attributions': ['<a hr...",ChIJcVDAYNfywokRPUaKrm0UBpg,1.0,3.9,ChIJcVDAYNfywokRPUaKrm0UBpg,...,True,"V4XW+5M The Bronx, NY, USA",87G8V4XW+5M,NaN,restaurant,"724 Nereid Ave, The Bronx, NY 10466, USA",Bronx,10466.0,Northeast Bronx,"40.898,-73.853"
2,OPERATIONAL,https://maps.gstatic.com/mapfiles/place_api/ic...,#FF9E67,https://maps.gstatic.com/mapfiles/place_api/ic...,Dunkin',"[{'height': 3000, 'html_attributions': ['<a hr...",ChIJ--58aynzwokRqSvaRDKwX1M,1.0,3.8,ChIJ--58aynzwokRqSvaRDKwX1M,...,True,"V5R2+59 New York, NY, USA",87G8V5R2+59,NaN,restaurant,"980 E 233rd St, The Bronx, NY 10466, USA",Bronx,10466.0,Northeast Bronx,"40.89,-73.849"
3,OPERATIONAL,https://maps.gstatic.com/mapfiles/place_api/ic...,#FF9E67,https://maps.gstatic.com/mapfiles/place_api/ic...,Subway,"[{'height': 766, 'html_attributions': ['<a hre...",ChIJAy-ibCnzwokRdmkKGd1Yzhw,1.0,3.6,ChIJAy-ibCnzwokRdmkKGd1Yzhw,...,True,"V5R2+58 New York, NY, USA",87G8V5R2+58,NaN,restaurant,"980 E 233rd St, The Bronx, NY 10466, USA",Bronx,10466.0,Northeast Bronx,"40.89,-73.849"
4,OPERATIONAL,https://maps.gstatic.com/mapfiles/place_api/ic...,#FF9E67,https://maps.gstatic.com/mapfiles/place_api/ic...,Popeyes Louisiana Kitchen,"[{'height': 1192, 'html_attributions': ['<a hr...",ChIJXVacFSvzwokRa3VpQDuwRDE,1.0,3.8,ChIJXVacFSvzwokRa3VpQDuwRDE,...,True,"V5Q4+QJ New York, NY, USA",87G8V5Q4+QJ,NaN,restaurant,"1201 E 233rd St, The Bronx, NY 10466, USA",Bronx,10466.0,Northeast Bronx,"40.889,-73.843"

In [19]:
# making sure all of our neighbourhood & borough information matches
num_rows = nyc_geo.shape[0]
row_count = 0

while row_count < num_rows:
    gp_poi.loc[gp_poi['Zip'] ==nyc_geo['Zipcode'][row_count], 'Neighbourhood'] = nyc_geo['Neighbourhood'][row_count]
    gp_poi.loc[gp_poi['ll_round'] ==nyc_geo['ll_round'][row_count], 'Neighbourhood'] = nyc_geo['Neighbourhood'][row_count]
    gp_poi.loc[gp_poi['Zip'] ==nyc_geo['Zipcode'][row_count], 'Borough'] = nyc_geo['Borough'][row_count]
    gp_poi.loc[gp_poi['ll_round'] ==nyc_geo['ll_round'][row_count], 'Borough'] = nyc_geo['Borough'][row_count]
    row_count +=1

In [35]:
gp_poi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26272 entries, 0 to 26271
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          26272 non-null  object
 1   Price         5248 non-null   float64
 2   Rating        19053 non-null  float64
 3   Reviews       19053 non-null  float64
 4   Borough       25949 non-null  object
 5   Neighborhood  25783 non-null  object
 6   Address       26270 non-null  object
 7   Zipcode       25943 non-null  float64
 8   Latitude      26272 non-null  float64
 9   Longitude     26272 non-null  float64
 10  Category      26272 non-null  object
dtypes: float64(6), object(5)
memory usage: 2.2+ MB

In [21]:
gp_poi.columns

Index(['business_status', 'icon', 'icon_background_color',
       'icon_mask_base_uri', 'name', 'photos', 'place_id', 'price_level',
       'rating', 'reference', 'scope', 'types', 'user_ratings_total',
       'vicinity', 'geometry.location.lat', 'geometry.location.lng',
       'geometry.viewport.northeast.lat', 'geometry.viewport.northeast.lng',
       'geometry.viewport.southwest.lat', 'geometry.viewport.southwest.lng',
       'opening_hours.open_now', 'plus_code.compound_code',
       'plus_code.global_code', 'permanently_closed', 'req_cat',
       'result.formatted_address', 'Borough', 'Zip', 'Neighbourhood',
       'll_round'],
      dtype='object')

In [26]:
#Dropirrelevantorrepetitivecolumns
gp_poi.drop(columns=['business_status','icon','icon_background_color',
                    'icon_mask_base_uri','photos','place_id','reference','scope','types',
                    'geometry.viewport.northeast.lat','geometry.viewport.northeast.lng',
                    'geometry.viewport.southwest.lat','geometry.viewport.southwest.lng',
                    'opening_hours.open_now','plus_code.compound_code','plus_code.global_code',
                    'permanently_closed','result.formatted_address', 'll_round'],
                    inplace=True)
gp_poi.head()

,name,price_level,rating,user_ratings_total,vicinity,geometry.location.lat,geometry.location.lng,req_cat,Borough,Zip,Neighbourhood
0,Ripe Kitchen & Bar,2.0,4.3,714.0,"151 West Sandford Boulevard, Mount Vernon",40.898209,-73.838855,restaurant,NaN,NaN,NaN
1,New China Garden,1.0,3.9,85.0,"724 Nereid Avenue, The Bronx",40.897919,-73.853364,restaurant,Bronx,10466.0,Woodlawn
2,Dunkin',1.0,3.8,280.0,"980 East 233rd Street, The Bronx",40.890459,-73.849089,restaurant,Bronx,10466.0,Woodlawn
3,Subway,1.0,3.6,121.0,"980 East 233rd Street, The Bronx",40.890468,-73.849152,restaurant,Bronx,10466.0,Woodlawn
4,Popeyes Louisiana Kitchen,1.0,3.8,467.0,"1201 East 233rd Street, The Bronx",40.889492,-73.843383,restaurant,Bronx,10466.0,Woodlawn

In [27]:
gp_poi.columns

Index(['name', 'price_level', 'rating', 'user_ratings_total', 'vicinity',
       'geometry.location.lat', 'geometry.location.lng', 'req_cat', 'Borough',
       'Zip', 'Neighbourhood'],
      dtype='object')

In [28]:
# Rename columns 
gp_poi.columns = ['Name','Price','Rating','Reviews','Address','Latitude','Longitude','Category','Borough','Zipcode','Neighborhood']

# Reorder columns 
gp_poi = gp_poi[['Name','Price','Rating','Reviews','Borough','Neighborhood','Address','Zipcode','Latitude','Longitude','Category']]
print(gp_poi.shape)
gp_poi.head()

(26272, 11)

,Name,Price,Rating,Reviews,Borough,Neighborhood,Address,Zipcode,Latitude,Longitude,Category
0,Ripe Kitchen & Bar,2.0,4.3,714.0,NaN,NaN,"151 West Sandford Boulevard, Mount Vernon",NaN,40.898209,-73.838855,restaurant
1,New China Garden,1.0,3.9,85.0,Bronx,Woodlawn,"724 Nereid Avenue, The Bronx",10466.0,40.897919,-73.853364,restaurant
2,Dunkin',1.0,3.8,280.0,Bronx,Woodlawn,"980 East 233rd Street, The Bronx",10466.0,40.890459,-73.849089,restaurant
3,Subway,1.0,3.6,121.0,Bronx,Woodlawn,"980 East 233rd Street, The Bronx",10466.0,40.890468,-73.849152,restaurant
4,Popeyes Louisiana Kitchen,1.0,3.8,467.0,Bronx,Woodlawn,"1201 East 233rd Street, The Bronx",10466.0,40.889492,-73.843383,restaurant

In [29]:
# Check for unique values

def unique_values(df):
    columns = df.columns
    for col in columns:
        print('Column Name:', col)
        print('# of Unique Values:', (len(df[col].unique())))
        print('Unique Values:', df[col].unique())
        print('==============================================================')
    
unique_values(gp_poi)

Column Name: Name
# of Unique Values: 14032
Unique Values: ['Ripe Kitchen & Bar' 'New China Garden' "Dunkin'" ...
 '99Â¢ Priceless & Discount' 'Antillana Supermarket'
 'Associated Fresh of East Flatbush']
==============================================================
Column Name: Price
# of Unique Values: 6
Unique Values: [ 2.  1. nan  3.  4.  0.]
==============================================================
Column Name: Rating
# of Unique Values: 39
Unique Values: [4.3 3.9 3.8 3.6 3.3 4.2 3.7 4.1 2.2 1.  4.  4.5 5.  4.6 2.9 4.4 4.7 3.
 3.4 2.4 3.2 2.5 3.5 2.7 3.1 2.8 4.9 nan 2.  2.6 2.1 4.8 2.3 1.9 1.8 1.5
 1.6 1.4 1.7]
==============================================================
Column Name: Reviews
# of Unique Values: 1673
Unique Values: [ 714.   85.  280. ... 2962. 5898. 1304.]
==============================================================
Column Name: Borough
# of Unique Values: 6
Unique Values: [nan 'Bronx' 'Manhattan' 'Brooklyn' 'Queens' 'Staten Island']
==============================================================
Column Name: Neighborhood
# of Unique Values: 166
Unique Values: [nan 'Woodlawn' 'Northeast Bronx' 'Baychester' 'Edenwald'
 'North Riverdale' 'Spuyten Duyvil' 'Kingsbridge Heights' 'Inwood'
 'Allerton' 'Belmont' 'Pelham Bay' 'Bronxdale' 'City Island' 'Mount Hope'
 'East Tremont' 'Inwood and Washington Heights' 'Mount Eden' 'Van Nest'
 'Unionport' 'HighBridge and Morrisania' 'Concourse Village' 'Melrose'
 'Claremont Village' 'Port Morris' 'Hunts Point' 'Castle Hill'
 'Edgewater Park' 'Fort Hamilton' 'Borough Park' 'Bath Beach'
 'Southwest Brooklyn' 'Sunset Park' 'Greenpoint' 'North Side' 'Gravesend'
 'Gerritsen Beach' 'Madison' 'Ocean Parkway' 'Erasmus' 'Ditmas Park'
 'Flatbush' 'Wingate' 'Bedford Stuyvesant' 'Prospect Lefferts Gardens'
 'Rugby' 'Park Slope' 'Clinton Hill' 'Boerum Hill' 'Brownsville'
 'South Side' 'East Williamsburg' 'Bushwick and Williamsburg' 'Bushwick'
 'Weeksville' 'Fort Greene' 'Dumbo' 'Red Hook' 'Cypress Hills' 'City Line'
 'Highland Park' 'Canarsie and Flatlands' 'Paerdegat Basin' 'Mill Basin'
 'Sea Gate' 'Woodhaven' 'Civic Center' 'Lower East Side' 'Noho'
 'Financial District' 'Manhattanville' 'Central Harlem' 'Hamilton Heights'
 'Morningside Heights' 'East Harlem' 'Lenox Hill' 'Upper East Side'
 'Carnegie Hill' 'Sutton Place' 'Roosevelt Island' 'Upper West Side'
 'Manhattan Valley' 'Chelsea and Clinton' 'Lincoln Square' 'Hudson Yards'
 'Clinton' 'Tudor City' 'Midtown South' 'West Village' 'Flatiron'
 'Greenwich Village' 'Stuyvesant Town' 'Lower Manhattan' 'Gramercy'
 'Long Island City and Astoria' 'Astoria Heights' 'West Queens'
 'Jackson Heights' 'Lefrak City' 'Howard Beach' 'North Corona'
 'Forest Hills Gardens' 'Kew Gardens' 'Richmond Hill' 'Southwest Queens'
 'Flushing' 'Queensboro Hill' 'Queensbridge' 'Sunnyside Gardens' 'Maspeth'
 'Middle Village' 'Glendale' 'West Central Queens' 'Lindenwood'
 'South Ozone Park' 'Springfield Gardens' 'College Point' 'Malba'
 'Bayside' 'Murray Hill' 'Northeast Queens' 'Douglaston' 'Floral Park'
 'Bellerose' 'Southeast Queens' 'Kew Gardens Hills' 'Pomonok' 'Hillcrest'
 'Briarwood' 'Jamaica Hills' 'Jamaica' 'Bellaire' 'Queens Village'
 'Holliswood' 'Hollis' 'St. Albans' 'Brookville' 'Cambria Heights'
 'Laurelton' 'Bayswater' 'Hammels' 'Roxbury' 'Bay Terrace' 'Somerville'
 'Rockaway Park' 'Randall Manor' 'Fox Hills' 'Concord' 'Port Richmond'
 'Willowbrook' 'Westerleigh' 'Elm Park' 'Lighthouse Hill' "Prince's Bay"
 'Richmond Valley' 'Tottenville' 'Turtle Bay' 'Washington Heights'
 'Battery Park City' 'North Queens' 'Little Neck' 'Williamsbridge'
 'Woodside' 'Rego Park' 'Blissville' 'Broadway Junction']
==============================================================
Column Name: Address
# of Unique Values: 10295
Unique Values: ['151 West Sandford Boulevard, Mount Vernon'
 '724 Nereid Avenue, The Bronx' '980 East 233rd Street, The Bronx' ...
 '1519 Nostrand Avenue, Brooklyn' '1761 Nostrand Avenue, Brooklyn'
 '4121 Church Avenue, Brooklyn']
==============================================================
Column Name: Zipcode
# of Unique Values: 212
Unique Values: [   nan 10466. 10470. 10475. 10469. 10471. 10463. 10468. 10034. 10467.
 10458. 10461. 10462. 10464. 10453. 10457. 10033. 10452. 10460. 10472.
 10451. 10456. 10455. 10459. 10454. 10474. 10473. 10465. 11209. 11204.
 11214. 11228. 11220. 11232. 11222. 11211. 11223. 11235. 11229. 11230.
 11226. 11218. 11210. 11213. 11216. 11225. 11203. 11219. 11215. 11238.
 11217. 11212. 11249. 11206. 11237. 11221. 11233. 11205. 11201. 11231.
 11208. 11207. 11239. 11236. 11234. 11224. 11416. 11421. 11252. 10013.
 10002. 10012. 10038. 10040. 10031. 10030. 10039. 10027. 10037. 10029.
 10035. 10075. 10021. 10028. 10128. 10065. 11106. 10024. 10025. 10019.
 10023. 10036. 10001. 10018. 10017. 10020. 10016. 10014. 10011. 10003.
 10009. 10282. 10007. 10026. 10010. 10280. 10006. 10271. 10004. 10281.
 11103. 11105. 11102. 11377. 11372. 11370. 11373. 11414. 11368. 11375.
 11415. 11418. 11419. 11354. 11355. 11101. 11104. 11369. 11378. 11379.
 11385. 11374. 11417. 11420. 11434. 11356. 11357. 11361. 11358. 11363.
 11362. 11021. 11040. 11004. 11426. 11005. 11367. 11365. 11366. 11435.
 11432. 11433. 11364. 11429. 11428. 11427. 11423. 11412. 11413. 11411.
 11581. 11422. 11582. 11691. 11693. 11697. 11360. 11692. 11694. 10301.
 10304. 10305. 10310. 10314. 10302. 10303. 10306. 10308. 10312. 10309.
 10307. 10121. 10022. 11109. 10169. 10044. 11241. 10032. 10115. 10069.
 10176. 10005. 10041. 11020. 11425. 11359. 11439. 11430. 10120. 11096.
 10168. 11386. 11436. 11451. 10311. 10165. 10170. 10119. 10123. 10080.
 10278. 11405.]
==============================================================
Column Name: Latitude
# of Unique Values: 16500
Unique Values: [40.8982087 40.897919  40.8904588 ... 40.642808  40.6515189 40.5869833]
==============================================================
Column Name: Longitude
# of Unique Values: 16394
Unique Values: [-73.8388554 -73.8533641 -73.8490889 ... -73.9484071 -73.9382954
 -73.8113496]
==============================================================
Column Name: Category
# of Unique Values: 5
Unique Values: ['restaurant' 'school' 'park' 'transit_station' 'supermarket']
==============================================================

In [30]:
# Check for nulls
gp_poi.isnull().sum()

Name                0
Price           21024
Rating           7219
Reviews          7219
Borough           323
Neighborhood      489
Address             2
Zipcode           329
Latitude            0
Longitude           0
Category            0
dtype: int64

There are null values in price, rating, reviews, borough, neighbourhood, address, and zipcode. However it has low impact, as it simply signifies that some points of interest have no price, rating, or review information, which does not affect our objective.

However, let's investigate the rows where location information is null, specifically boroughs.

In [33]:
# Identify values where borough is null
not_borough = gp_poi[gp_poi['Borough'].isnull()]
not_borough['Address'].unique()

array(['151 West Sandford Boulevard, Mount Vernon',
       '146 West Sandford Boulevard, Mount Vernon',
       '881 Pelham Parkway, Pelham Manor',
       '875 Pelham Parkway, Pelham Manor', '798 Pelham Parkway, Pelham',
       '759 South Columbus Avenue, Mount Vernon',
       '890 McLean Avenue, Yonkers', '964 McLean Avenue, Yonkers',
       '925 McLean Avenue, Yonkers', '839 McLean Avenue, Yonkers',
       '986 McLean Avenue, Yonkers', '968 McLean Avenue, Yonkers',
       '946 McLean Avenue, Yonkers', '996 McLean Avenue, Yonkers',
       '590 South Broadway, Yonkers', '456 Riverdale Avenue, Yonkers',
       '2159 Ralph Avenue, Brooklyn', '42 Jericho Turnpike, Floral Park',
       '248-54 Jericho Turnpike, Floral Park',
       '24924 Jericho Turnpike, Floral Park',
       '246-04 Jericho Turnpike, Floral Park',
       '23819 Linden Boulevard, Elmont', '50 Marshall Street, Elizabeth',
       '94 Front Street, Elizabeth', '960 Spring Road, Pelham',
       '1005-1021 McLean Avenue, Yonkers', '10 Leighton Avenue, Yonkers',
       '428 Hawthorne Avenue, Yonkers', 'New York',
       'Shore Front Parkway, Queens', '2004_2_480_W02, Elizabeth',
       'Elizabeth', 'H5PW+2F', '7 Saint Marks Place, Yonkers',
       '126 Cox Avenue, Yonkers',
       '164 n s 139, Bruckner Boulevard, IbbenbÃ¼ren',
       '132 Valentine Lane, Yonkers', '463 Hawthorne Avenue, Yonkers',
       '450 Riverdale Avenue, Yonkers', 'Yonkers',
       '501 Hawthorne Avenue, Yonkers',
       'Little Neck Pkwy &, 41st Avenue, Little Neck',
       '2 Larch Avenue, Floral Park', '24902 Jericho Turnpike, Bellerose',
       '8531 Little Neck Parkway', '85-15 258th Street, Queens',
       '85-20 263rd Street', '56 Glassford Street, Queens',
       '25 1st Street, Elizabeth', 'United States',
       '847 Pelham Parkway, Pelham', '821 McLean Avenue, Yonkers',
       '529 South Broadway #3256, Yonkers',
       '250-04 Jericho Turnpike, Bellerose'], dtype=object)

These locations are not actually considered part of the 5 boroughs: Bronx, Brooklyn, Manhattan, Queens and Staten Island, and so we will just drop them.

In [36]:
# Fill null rows in Borough with borough from address DataFrame
gp_poi['Borough'].fillna('Drop', inplace=True)

C:\Users\annie\AppData\Local\Temp\ipykernel_74464\2350471542.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gp_poi['Borough'].fillna('Drop', inplace=True)

In [37]:
gp_poi.drop(gp_poi[gp_poi['Borough'] == 'Drop'].index, inplace=True)

C:\Users\annie\AppData\Local\Temp\ipykernel_74464\1990233069.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gp_poi.drop(gp_poi[gp_poi['Borough'] == 'Drop'].index, inplace=True)

In [39]:
gp_poi.head()

,Name,Price,Rating,Reviews,Borough,Neighborhood,Address,Zipcode,Latitude,Longitude,Category
1,New China Garden,1.0,3.9,85.0,Bronx,Woodlawn,"724 Nereid Avenue, The Bronx",10466.0,40.897919,-73.853364,restaurant
2,Dunkin',1.0,3.8,280.0,Bronx,Woodlawn,"980 East 233rd Street, The Bronx",10466.0,40.890459,-73.849089,restaurant
3,Subway,1.0,3.6,121.0,Bronx,Woodlawn,"980 East 233rd Street, The Bronx",10466.0,40.890468,-73.849152,restaurant
4,Popeyes Louisiana Kitchen,1.0,3.8,467.0,Bronx,Woodlawn,"1201 East 233rd Street, The Bronx",10466.0,40.889492,-73.843383,restaurant
5,El Jobo,NaN,3.3,216.0,Bronx,Woodlawn,"748 East 233rd Street, The Bronx",10466.0,40.892678,-73.855632,restaurant

In [40]:
# Check for duplicates
len(gp_poi[gp_poi.duplicated(subset=['Name', 'Address'])].reset_index())

10432

There are duplicates in the name value from the dataset, we will remove each additional instance of the area with the same name and street address.

In [41]:
# # 5132 duplicate rows found, remove from DataFrame
gp_poi = gp_poi.drop_duplicates(subset=['Name', 'Address'], keep='last').reset_index(drop=True)

# Confirm removal of duplicates
len(gp_poi[gp_poi.duplicated()])

0

In [42]:
# See variance in numeric feautures
gp_poi.describe()

,Price,Rating,Reviews,Zipcode,Latitude,Longitude
count,3583.000000,10862.000000,10862.000000,15515.000000,15517.000000,15517.000000
mean,1.585822,4.129507,352.883079,10829.921302,40.712777,-73.932542
std,0.628150,0.673147,1405.522262,536.253413,0.092103,0.107895
min,0.000000,1.000000,1.000000,10001.000000,40.499243,-74.252618
25%,1.000000,3.900000,7.000000,10310.000000,40.637975,-73.986033
50%,2.000000,4.200000,56.000000,11201.000000,40.712994,-73.925925
75%,2.000000,4.500000,308.000000,11238.000000,40.773653,-73.858369
max,4.000000,5.000000,75227.000000,11697.000000,40.912785,-73.698370

In [43]:
# Preview cleaned dataset
print(gp_poi.shape)
gp_poi.head()

(15517, 11)

,Name,Price,Rating,Reviews,Borough,Neighborhood,Address,Zipcode,Latitude,Longitude,Category
0,New China Garden,1.0,3.9,85.0,Bronx,Woodlawn,"724 Nereid Avenue, The Bronx",10466.0,40.897919,-73.853364,restaurant
1,El Jobo,NaN,3.3,216.0,Bronx,Woodlawn,"748 East 233rd Street, The Bronx",10466.0,40.892678,-73.855632,restaurant
2,Paula's,2.0,3.9,697.0,Bronx,Woodlawn,"746 East 233rd Street, The Bronx",10466.0,40.892692,-73.855678,restaurant
3,Jerk House Caribbean Restaurant,NaN,4.2,429.0,Bronx,Woodlawn,"4246 White Plains Road, The Bronx",10466.0,40.894663,-73.856400,restaurant
4,McDonald's,1.0,3.7,653.0,Bronx,Woodlawn,"4174 White Plains Road, The Bronx",10466.0,40.892779,-73.857473,restaurant

In [44]:
# Export cleaned dataset to csv
gp_poi.to_csv('clean_data/gp_poi_clean.csv', index=False)